#infopanel {
  #background: white;
  #box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  height: 80px;
  z-index: 10; }
  #infopanel .info {
    padding: 20px;
    background: white; }
  #infopanel .switch {
    float: right;
    margin-right: 50px; }
  #infopanel .title {
    font-size: 32px;
    margin-left: 60px; }
  #infopanel .menu {
    width: 100%;
    float: left;
    background: url(../img/infpnl-bk2.png) repeat-x 0 -62px; }
  #infopanel .submenu {
    display: inline-block;
    width: 590px;
    height: 60px;
    margin: 0 0 0 50px;
    padding: 0;
    background: url(../img/infpnl-bk1.png) #f9f9f9 no-repeat 0px -62px;
    #position: relative;
    #background: white;
    #border-radius: 200px;
    #border-top-left-radius: 0;
    #border-top-right-radius: 0;
    #box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    #width: 500px;
    #margin: 10px 0 0 50px; }
    #infopanel .submenu li:nth-child(1) {
      margin: 0 0 0 100px; }
    #infopanel .submenu li {
      display: inline-block;
      min-width: 90px;
      padding: 15px 10px 5px;
      text-align: center;
      cursor: pointer; }
    #infopanel .submenu li.active {
      border-bottom: 3px solid #8cc63f; }
  #infopanel .button, #infopanel .tags {
    display: inline-block;
    position: absolute;
    margin: 20px 0 0 -10px;
    font-size: 18px;
    color: #333333; }
    #infopanel .button .glyphicon, #infopanel .tags .glyphicon {
      margin: 0 26px 0 0;
      font-size: 20px;
      cursor: pointer;
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
      vertical-align: middle; }
      #infopanel .button .glyphicon:hover, #infopanel .tags .glyphicon:hover {
        text-shadow: 0 0 6px rgba(255, 255, 128, 0.8); }
    #infopanel .button .dropdown, #infopanel .tags .dropdown {
      display: inline-block;
      text-align: center;
      font-size: 18px; }
      #infopanel .button .dropdown .glyphicon, #infopanel .tags .dropdown .glyphicon {
        margin: 0; }
