#wrapper {
  background: url("../img/bg-gray.png");
  background-repeat: repeat;
  background-position: right top;
  background-attachment: fixed;
  background-color: rgba(255, 250, 216, 0.5);
  border-top: 1px rgba(0, 0, 0, 0.1) solid;
}
