#wrapper {
  background: url("../img/bg4.png");
  background-repeat: repeat;
  background-position: right top;
  background-attachment: fixed;
  background-color: #fffad8;
  border-top: 1px rgba(0, 0, 0, 0.1) solid;
}
