html {
  font-size: 18px;
  font-family: sans-serif;
  color: #333333;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  line-height: 1em;
}

p {
  line-height: 1.5em;
  letter-spacing: 0.07em;
  opacity: 0.8;
}

body {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.a.tag.item,
.a.board.item {
  margin: 0;
  padding: 0.3em 0.7rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  border-radius: 0.3rem;
}
.a.tag.item:hover,
.a.board.item:hover {
  -webkit-box-shadow: 0 0 1px rgba(41, 171, 226, 0.5);
  -moz-box-shadow: 0 0 1px rgba(41, 171, 226, 0.5);
  box-shadow: 0 0 1px rgba(41, 171, 226, 0.5);
}

.a.tag.item {
  color: #29abe2;
}
.a.tag.item:hover {
  background-color: rgba(41, 171, 226, 0.05);
}

.a.board.item {
  color: #00a99d;
}
.a.board.item:hover {
  background-color: rgba(0, 169, 157, 0.05);
}

.ui.label.light.gray {
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.7);
}

.ui.label.white {
  background-color: white;
}

.ui.menu .ui.label.light.gray {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.auxiliary.text {
  font-weight: normal;
  font-size: 0.9em;
  opacity: 0.6;
}

.ui.menu .auxiliary.text,
.ui.secondary.pointing.menu .auxiliary.text,
.ui.secondary.pointing.menu > .menu .auxiliary.text {
  padding-right: 0;
  font-size: 0.9rem;
}

.ui.secondary.pointing.menu .active.item:after {
  opacity: 0;
}

.ui.menu a.ui.button.item:hover {
  background-color: #a4a4a4;
}

.section.in.list {
  margin: 0 0 1rem 0;
}
.section.in.list .action {
  float: left;
  margin: 0;
}
.section.in.list .action .icon {
  opacity: 0.3;
}
.section.in.list .entry {
  margin: 0 2rem 0 4rem;
  padding: 2rem 1rem 2.5rem 1rem;
}
.section.in.list .entry .title {
  color: inherit;
  padding: 0;
}
.section.in.list .entry .title h2 a {
  display: block;
  padding: 1rem;
}
.section.in.list .entry .title h2 a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.section.in.list .entry .title h2 a .auxiliary.text {
  margin: 0 0.5rem;
}
.section.in.list .entry .info {
  font-size: 0.9em;
}
.section.in.list .entry .info p {
  opacity: 1;
}
.section.in.list .entry .info p .ui.label {
  font-size: inherit;
  padding: 0;
}
.section.in.list .entry .meta {
  font-size: 0.9em;
}
.section.in.list .entry .meta a {
  padding: 0 0.5em;
  color: #29abe2;
}
.section.in.list .entry .meta a:hover {
  color: #0071bc;
}

.navigation {
  text-align: center;
  margin: 0 auto 1rem auto;
}

.etherpad {
  margin-bottom: 2rem;
}
.etherpad .article {
  margin-left: 5rem;
  padding-left: 1rem;
  border-left: 1px #cccccc solid;
}
.etherpad .article .referral {
  position: relative;
  padding-right: 1.2em;
}
.etherpad .article .referral .ui.floating.label {
  text-align: center;
  padding: 0;
  line-height: 1.2em;
  right: 0;
  top: 0;
  background: none;
}
.etherpad .article p {
  position: relative;
}
.etherpad .article p .contributor {
  font-size: 0.8em;
  opacity: 0.8;
  position: absolute;
  left: -6rem;
  width: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reference {
  margin-left: 2rem;
  margin-bottom: 2rem;
}
.reference .item {
  position: relative;
  padding: 0.2em 0;
}
.reference .item a.ui.small.label {
  position: absolute;
  left: -2rem;
}
.reference .item .text {
  line-height: 1.5em;
}

.response {
  margin-bottom: 2rem;
}
.response .ui.comments .comment {
  margin: 0;
  padding: 0;
}
.response .ui.comments .comment .avatar {
  width: 2em;
  height: 2em;
}
.response .ui.comments .comment .avatar img {
  max-width: 2em;
  max-height: 2em;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  border-radius: 0.3rem;
}
.response .ui.comments .comment .avatar ~ .content {
  margin-left: 2em;
}
.response .ui.comments .comment .avatar ~ .content .ui.form {
  margin: 0;
  max-width: 100%;
}
.response .ui.comments .comment .avatar ~ .content .ui.form .field {
  clear: none;
}
.response .ui.comments .comment .avatar ~ .content .ui.form .account {
  margin-left: 1em;
}

#content .etherpad a:hover,
#content .reference a:hover,
#content .response a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

#navbar .ui.secondary.pointing.menu {
  background-color: rgba(0, 0, 0, 0.03);
  font-weight: bold;
}
#navbar .ui.secondary.pointing.menu .item.active {
  border-color: #00a99d;
}

#index {
  padding: 5rem 0 2rem 0;
}
#index .index {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
}
#index .index a.entry {
  display: block;
  margin: 0;
}
#index .index a.entry:hover {
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}
#index .index a.entry h2 {
  padding: 1em;
}

#issues #menu {
  background-color: white;
}
#issues #menu .item.active {
  border-color: #8cc63f;
}
#issues #content {
  margin: 1rem;
}

#issue #header .title {
  padding: 1rem;
  margin: 0;
}
#issue #header .title h2 {
  display: inline-block;
  font-size: 2rem;
}
#issue #header .title .action {
  margin-left: 1rem;
  font-size: 1.5rem;
  position: relative;
  top: -0.2rem;
}
#issue #header .title .action .button {
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  opacity: 0.5;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  border-radius: 0.3rem;
}
#issue #header .title .action .button:hover {
  background-color: rgba(0, 0, 0, 0.05);
  opacity: 0.8;
}
#issue #header .title .action .button i.icon {
  padding: 0.2em;
  opacity: 0.4;
}
#issue #header .title .action .button .count {
  font-size: 1rem;
  font-weight: normal;
}
#issue #header .title .switch {
  float: right;
  font-size: 1rem;
  font-weight: normal;
  line-height: 2rem;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  border-radius: 0.3rem;
  -webkit-box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
#issue #header .title .switch a {
  padding: 1rem;
}
#issue #header .title .switch .active {
  background-color: #d9e021;
}
#issue #header .menu {
  margin: 0;
  background-color: #efefef;
}
#issue #header .menu .ui.button {
  margin-top: 1px;
}
#issue #content {
  margin: 1rem;
}
#issue #content .category {
  margin-bottom: 1rem;
}
#issue #content .category .item.active {
  border-color: #8cc63f;
}
