html {
  font-size: 18px;
  font-family: sans-serif;
  color: #333333;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  line-height: 1em;
}

body {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

p {
  line-height: 1.5em;
  letter-spacing: 0.07em;
}

.a.tag.item,
.a.board.item {
  display: inline-block;
  margin: 0;
  padding: 0.3em 0.7rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  border-radius: 0.3rem;
}
.a.tag.item:hover,
.a.board.item:hover {
  -webkit-box-shadow: 0 0 1px rgba(41, 171, 226, 0.5);
  -moz-box-shadow: 0 0 1px rgba(41, 171, 226, 0.5);
  box-shadow: 0 0 1px rgba(41, 171, 226, 0.5);
}

.a.tag.item {
  color: #29abe2;
}
.a.tag.item:hover {
  background-color: rgba(41, 171, 226, 0.05);
}

.a.board.item {
  color: #00a99d;
}
.a.board.item:hover {
  background-color: rgba(0, 169, 157, 0.05);
}

.ui.label.light.gray {
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.7);
}

.ui.label.white {
  background: none;
}

.ui.menu .ui.label.light.gray {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.auxiliary.text {
  font-weight: normal;
  font-size: 0.9em;
  opacity: 0.6;
}

.section.in.list {
  margin: 0 1rem 1rem 0;
}
.section.in.list > .entry, .section.in.list > .tag {
  margin: 0 1rem 0 4rem;
  padding: 2rem 1rem 3.5rem 1rem;
}
.section.in.list > .action {
  float: left;
  margin: 0;
}
.section.in.list > .action .icon {
  opacity: 0.3;
}
.section.in.list .title {
  color: inherit;
  padding: 0;
}
.section.in.list .title h2 a {
  display: block;
  padding: 1rem;
}
.section.in.list .title h2 a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.section.in.list .title h2 a .auxiliary.text {
  margin: 0 0.5rem;
}
.section.in.list .info {
  font-size: 0.9em;
}
.section.in.list .info p {
  position: relative;
  margin-left: 3em;
  opacity: 1;
}
.section.in.list .info p .ui.label {
  position: absolute;
  left: -3em;
  font-size: inherit;
  padding-left: 0;
}
.section.in.list .meta {
  height: 3.5em;
  padding: 0.25em 1em;
  line-height: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9em;
}
.section.in.list .meta a {
  padding: 0 0.5em;
  color: #29abe2;
}
.section.in.list .meta a:hover {
  color: #0071bc;
}

.ui.two.column.stackable.grid.tag {
  margin: 0;
}
.ui.two.column.stackable.grid.tag .column {
  margin: 0;
  padding: 0;
}

.navigation {
  text-align: center;
  margin: 0 auto 1rem auto;
}

.etherpad {
  margin-bottom: 2rem;
}
.etherpad .article {
  margin-left: 5rem;
  padding-left: 1rem;
  border-left: 1px #cccccc solid;
}
.etherpad .article .referral {
  position: relative;
  padding-right: 1.2em;
}
.etherpad .article .referral .ui.floating.label {
  text-align: center;
  padding: 0;
  line-height: 1.2em;
  right: 0;
  top: 0;
  background: none;
}
.etherpad .article p {
  position: relative;
}
.etherpad .article p .contributor {
  letter-spacing: 0;
  font-size: 0.8em;
  opacity: 0.7;
  position: absolute;
  left: -6rem;
  width: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reference {
  margin-left: 5rem;
  padding-left: 3rem;
  border-left: 1px #cccccc solid;
  margin-bottom: 2rem;
}
.reference .item {
  position: relative;
  padding: 0.2em 0;
}
.reference .item a.ui.small.label {
  position: absolute;
  left: -2rem;
}
.reference .item .text {
  line-height: 1.5em;
}
.reference .item .contributor {
  letter-spacing: 0;
  font-size: 0.8em;
  opacity: 0.7;
  position: absolute;
  left: -8rem;
  width: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.response {
  margin-bottom: 2rem;
}
.response .ui.tabular.menu .description.item {
  padding-left: 0.1em;
}
.response .ui.comments {
  margin-left: 3rem;
}
.response .ui.comments .comment {
  min-height: 3rem;
  margin: 0;
  padding: 0.5rem 0 0 0;
  clear: both;
}
.response .ui.comments .comment .avatar img {
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  border-radius: 0.3rem;
}
.response .ui.comments .comment .comments {
  margin-top: 0;
  padding-top: 0;
}
.response .ui.comments .comment .status {
  position: absolute;
  left: -3rem;
}
.response .ui.comments .comment .status .ui.menu .item {
  font-size: 0.8rem;
  padding: 0.5em 0.8em;
}
.response .ui.comments .comment .status .ui.menu .item i.icon {
  opacity: 0.3;
}
.response .ui.comments .comment .content {
  padding-top: 0;
}
.response .ui.comments .comment .content .text {
  opacity: 1;
}
.response .ui.comments .comment .content .metadata {
  display: inline-block;
  float: right;
  font-size: 0.9rem;
}
.response .ui.comments .comment .content .metadata a {
  color: rgba(0, 0, 0, 0.4);
  padding: 0.3em 0.7em;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  border-radius: 0.3rem;
}
.response .ui.comments .comment .content .metadata a i.icon {
  opacity: 0.3;
}
.response .ui.comments .comment .content .metadata a:hover {
  color: rgba(0, 0, 0, 0.8);
}
.response .ui.comments .comment .content .metadata .avatar {
  margin-left: 0.5em;
  opacity: 0.5;
  width: 1em;
  height: 1em;
  float: none;
  display: inline-block;
  position: relative;
  top: 0.1em;
}
.response .ui.comments .comment .content .metadata .avatar img {
  max-width: 1em;
  max-height: 1em;
}
.response .ui.comments .comment .content .ui.form {
  margin: 0;
  max-width: 100%;
}
.response .ui.comments .comment .content .ui.form .field {
  clear: none;
}
.response .ui.comments .comment .content .ui.form .account {
  margin-left: 1em;
}
.response .ui.comments .post.comment {
  margin-left: -3rem;
}

#content .etherpad a:hover,
#content .reference a:hover,
#content .response a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

#navbar .ui.secondary.pointing.menu {
  background-color: rgba(0, 0, 0, 0.03);
  font-weight: bold;
}
#navbar .ui.secondary.pointing.menu .item.active {
  border-color: #00a99d;
}

#index {
  padding: 5rem 0 2rem 0;
}
#index .index {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
}
#index .index a.entry {
  display: block;
  margin: 0;
}
#index .index a.entry:hover {
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}
#index .index a.entry h2 {
  padding: 1em;
}

#issues #menu,
#proposals #menu,
#projects #menu,
#entries #menu,
#tags #menu,
#users #menu {
  background-color: white;
}
#issues #menu .item.active,
#proposals #menu .item.active,
#projects #menu .item.active,
#entries #menu .item.active,
#tags #menu .item.active,
#users #menu .item.active {
  border-color: #8cc63f;
}
#issues #content,
#proposals #content,
#projects #content,
#entries #content,
#tags #content,
#users #content {
  margin: 1rem;
}

#issue #header .title {
  padding: 1rem;
  margin: 0;
}
#issue #header .title h2 {
  display: inline-block;
  font-size: 2rem;
}
#issue #header .title .action {
  margin-left: 1rem;
  font-size: 1.5rem;
  position: relative;
  top: -0.2rem;
}
#issue #header .title .action .button {
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  opacity: 0.5;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  border-radius: 0.3rem;
}
#issue #header .title .action .button:hover {
  background-color: rgba(0, 0, 0, 0.05);
  opacity: 0.8;
}
#issue #header .title .action .button i.icon {
  padding: 0.2em;
  opacity: 0.3;
}
#issue #header .title .action .button .count {
  font-size: 1rem;
  font-weight: normal;
}
#issue #header .title .switch {
  float: right;
  font-size: 1rem;
  font-weight: normal;
  line-height: 2rem;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  border-radius: 0.3rem;
  -webkit-box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
#issue #header .title .switch a {
  padding: 1rem;
}
#issue #header .title .switch a:hover {
  background-color: rgba(217, 224, 33, 0.2);
}
#issue #header .title .switch a.active {
  background-color: #d9e021;
}
#issue #header .menu {
  margin: 0;
  background-color: #efefef;
}
#issue #header .menu .ui.button {
  margin-top: 1px;
}
#issue #content {
  margin: 1rem;
}
#issue #content .category {
  margin-bottom: 1rem;
}
#issue #content .category .item.active {
  border-color: #8cc63f;
}
#issue #content .report {
  margin: 0 0.5rem;
}
#issue #content .report .column {
  margin: 0;
  padding: 0;
}
#issue #content .report .column .ui.segment {
  display: block;
  margin: 0 0.5rem;
  height: 18rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.03);
}
#issue #content .report .column .ui.segment.active, #issue #content .report .column .ui.segment:hover {
  opacity: 1;
  background-color: white;
}
#issue #content .report .column .ui.segment:hover {
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}
#issue #content .report .column .ui.segment.active {
  -webkit-box-shadow: 0 0 1px black;
  -moz-box-shadow: 0 0 1px black;
  box-shadow: 0 0 1px black;
}
#issue #content .report .column .ui.segment.active:hover {
  -webkit-box-shadow: 0 0 1px black;
  -moz-box-shadow: 0 0 1px black;
  box-shadow: 0 0 1px black;
}
#issue #content .report .column .ui.segment .title {
  color: white;
}
#issue #content .report .column .ui.segment .title.yellow {
  background-color: #ff931e;
}
#issue #content .report .column .ui.segment .title.emergency {
  background-color: #ff7bac;
}
#issue #content .report .column .ui.segment .text {
  text-align: left;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
#issue #content .report .column .ui.segment .text .item {
  padding: 0.25rem 0;
}
#issue #content .report .column .ui.segment .buttons {
  padding: 0;
}
#issue #content .report .column .ui.segment .buttons .ui.button {
  padding-left: 0 !important;
  padding-right: 2.6em !important;
  width: 50%;
}
#issue #content .report .option.button {
  max-width: 20rem;
  margin: 1rem auto;
}
#issue #content .report .ui.horizontal.divider {
  font-size: 1rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}
#issue #content .report .ui.horizontal.divider:before, #issue #content .report .ui.horizontal.divider:after {
  width: 48%;
}
