.mtn-propose .pps-desc {
  color: #999999; }
.mtn-propose .col-lg-2 {
  padding-top: 15px; }
.mtn-propose .col-lg-2 .desc {
  color: #999999;
  margin-top: 5px; }
.mtn-propose .col-lg-2 a {
  margin-left: 5px; }
