@import compass/css3

// layout
#index
  padding: 0
  position: relative
  #sidebar
    width: 16rem
    position: absolute
    left: 0
    top: 0
    .avatar
      display: inline
      img
        width: 3rem
    .id
      display: inline
      vertical-align: middle
      margin-left: 1rem
  #content
    margin-left: 16rem
    padding: 0.5rem

  //.index // old
    text-align: center
    margin: 0 auto
    width: 100%
    max-width: 1024px
    a.entry
      +box-shadow(0 0 3px rgba(0,0,0,0.8))
      display: block
      margin: 0
      &:hover
        +box-shadow(0 0 5px rgba(0,0,0,0.8))
      h2
        padding: 1em
      //
        a.tag
        font-size: 1.2em
        font-weight: bold

// replace semantic ui vertical menu for index page
.ui.menu>.menu.item
  padding: 0
  &>.item
    position: relative
    margin: 0
    padding-left: 2em
    padding-right: 2.7em
    font-size: 0.9rem
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    .label
      position: absolute
      right: 0.95em
      top: 1em

// timeline items in home page
.in.timeline
  .label.status
    padding: 0.5em!important
  .action
    padding: 0!important
    font-size: 1rem
    line-height: 1em
    +box-shadow(none)
    .item
      margin: 0
      padding: 0.5em 1em
      opacity: 0.7
      color: #eee
      &:before, &:after
        display: none
      &:hover
        opacity: 1
        background: none
    .icon
      display: inline-block
      margin: 0
      font-size: 1.2rem
      +text-shadow(rgba(#000, 1) 0 0 1px)
    .selected .icon
    .yes
      &:hover, &.selected
        color: rgba(#39b54a,1)
        .icon
          opacity: 1
    .unknown
      &:hover, &.selected
        color: rgba(#aaa,1)
        .icon
          opacity: 1
    .no
      &:hover, &.selected
        color: rgba(#f15a24,1)
        .icon
          opacity: 1
    .bookmark
      &:hover, &.selected
        color: rgba(#e5d500,1)
        .icon
          opacity: 1
    .subscribe
      &:hover, &.selected
        color: rgba(#f7931e,1)
        .icon
          opacity: 1
    .share
      &:hover, &.selected
        color: rgba(#8cc63f,1)
        .icon
          opacity: 1
  .summary
    margin: 2rem 0
  .log
    font-size: 0.9rem
  .diff-1
    border-bottom: 2px #ffcccc solid
  .entry
    margin: 0 0 0.5rem 0

