@import compass/css3

html
  font-size: 18px
  font-family: '微軟正黑體', sans-serif
  color: #333

a
  text-decoration: none
  color: inherit

h1,h2,h3,h4
  margin: 0
  padding: 0
  line-height: 1em

input::-webkit-input-placeholder
  font-family: '微軟正黑體', sans-serif

body
  margin: 0
  padding: 0

.hidden,
.ui.menu.hidden,
.ui.menu .item.hidden
  display: none

.inline-block
  display: inline-block

.clearfix
  clear: both

// make paragraphs easy to read
p
  line-height: 1.5em
  letter-spacing: 0.07em
  color: #000

// global settings for this system
.a.tag.item,
.a.board.item,
.a.user.item,
.a.topic.item
  display: inline-block
  margin: 0
  padding: 0.25em 0.5em
  +box-sizing(border-box)
  +border-radius(0.3rem)
  &:hover
    +box-shadow(0 0 1px rgba(#000,0.5))
.a.solution.sticker,
.a.stakeholder.sticker
  display: inline-block
  margin: 0.2em 0.5em
  padding: 0.25em 0.5em
  &:hover
    +box-shadow(0 0 1px rgba(#000,0.5))

.a.tag.item
  color: rgba(#29abe2,1)
  &:hover
    background-color: rgba(#29abe2,0.05)

.a.board.item
  color: rgba(#00a99d,1)
  &:hover
    background-color: rgba(#00a99d,0.05)

.a.user.item
  color: rgba(#ff7bac,1)
  &:hover
    background-color: rgba(#ff7bac,0.05)

.a.topic.item
  color: inherit
  &:hover
    background-color: rgba(#000,0.05)

.a.solution.sticker
  color: inherit
  background-color: rgba(#e7f3d7,1)

.a.stakeholder.sticker
  color: inherit
  background-color: rgba(#d3edf8,1)

// add customized semantic ui label colors
.ui.label.light.gray
  color:  rgba(0,0,0,0.8)
  background-color: rgba(0,0,0,0.03)

.ui.label.white
  background: none

// customize number count label in menus
.ui.menu
  .ui.label
    padding-right: 0.25em
    padding-left: 0.25em
    position: relative
    top: -0.1em

// customize text description globally
.auxiliary.text
  font-weight: normal
  font-size: 0.9em
  opacity: 0.6

// customize text description item in menus, not in use
  .ui.menu,
  .ui.secondary.pointing.menu,
  .ui.secondary.pointing.menu>.menu
    .auxiliary.text
      padding-right: 0
      font-size: 0.9rem

#content, #subheader, #wrapper
  // the repeatable items in a list view
  .section.in.list
    margin: 0 1rem 1rem 0
    .title
      color: inherit
      padding: 0
      h2 a
        opacity: 1
        display: block
        padding: 1rem
        &:hover
          background-color: rgba(0,0,0,0.03)
        .auxiliary.text
          margin: 0 0.5rem
        .text
          margin-right: 0.5em
        .status
          margin-left: 1em
          line-height: 1em
    .summary
      color: inherit
    .meta
      padding: 0.25em 1em
      a
        padding: 0 0.5em
        color: #29abe2
        &:hover
          color: #0071bc
    .action
      a.item:hover
        background-color: rgba(26,184,243,1)
      a.item:hover, a.item:hover .icon
        color: rgba(255,255,255,1)
        opacity: 1
    &>.entry,
    &>.tag,
    &>.user,
    &>.plan
      margin: 0 1rem 0 4rem
    &>.entry,
    &>.tag
      padding: 2rem 1rem 3.5rem 1rem
      .meta
        height: 3.5em
    &>.user
      padding: 1rem 1rem 3.5rem 1rem
      .meta
        height: 3.5em
      .name
        float: left
        text-align: center
        font-size: 0.9rem
        .reputation
          padding: 1em 0
          color: #a67c52
          i.icon
            color: #f7931e
      .description
        margin-left: 6rem
        h2 a
          display: block
          font-size: 1rem
          margin: -0.5em 0 0.5rem -0.5em
          padding: 0.5em
          +border-radius(0.3rem)
          &:hover
            background-color: rgba(0,0,0,0.05)
    &>.plan
      padding: 2rem 1rem 5rem 1rem
      &.new
        padding: 1em
        font-size: 1.2rem
        font-weight: normal
        text-align: left
        background: none
        border: 2px #ccc dashed
        display: block
        i.icon
          padding: 1em
        &:hover
          background-color: rgba(0,0,0,0.03)
      .status
        top: 0.5rem
        left: -1rem
        position: absolute
      .abstract
        margin: 0 0 0.5rem 0
        a
          display: block
          padding: 0.5rem 0
          &:hover
            background-color: rgba(0,0,0,0.05)
      .meta
        height: 5em
  .section.in.list,
  .stickers,
  .subject,
    .action
      float: left
      margin: 0
      .icon, .item
        color: rgba(0,0,0,1)
        opacity: .7
    .info
      font-size: 0.9rem
      p.board, p.tag
        margin: 0 0 0.5em 3rem
        .ui.label
          left: -3rem
      p.solution, p.beneficiary, p.sufferer
        margin: 0 0 0.5em 5rem
        .ui.label
          left: -5rem
      p.board, p.tag, p.solution, p.beneficiary, p.sufferer
        position: relative
        line-height: 1.5em
        .ui.label
          margin: 0
          padding: 0.25em 0.5em 0.25em 0 
          position: absolute
          font-size: inherit
    .meta
      line-height: 1.5em
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      font-size: 0.9rem
  .stickers,
  .subject
    .sticker
      .vision, .problem, .reason, .solution, .stakeholder, .new
        font-size: 1.2rem
        display: block
        padding: 1.2em 1em 2.5rem 1em
        +border-radius(0)
      .new
        padding: 1em
        font-weight: normal
        text-align: left
        background: none
        border: 2px #ccc dashed
        i.icon
          padding: 1em
        &:hover
          background-color: rgba(0,0,0,0.03)
      .number
        font-size: 0.8rem
        padding: 0.25em 0.5em
      .script
        display: block
        padding: 0.5em
        margin: -0.5em
      .meta
        height: 2em
        padding: 0 1em
        line-height: 2em
        a
          color: #0071bc
          padding: 0.5em
          &:hover
            color: #2e3192
        .right
          float: right
          a
            padding: 0.5em 0.8em
            &:hover
              background-color: (rgba(0,0,0,0.05))
      .vision
        //background-color: rgba(#fcee21,0.3)
        background-color: #fdf9bb
      .problem
        //background-color: rgba(#ff0000,0.1)
        background-color: #fee5e5
      .reason
        //background-color: rgba(#662d91,0.1)
        background-color: #efe9f3
      .solution
        //background-color: rgba(#8cc63f,0.2)
        background-color: #e7f3d7
      .stakeholder
        //background-color: rgba(#29abe2,0.2)
        background-color: #d3edf8
        .a.tag.item
          margin-left: -0.5em
          color: #0071bc
      .action
        .item
          font-size: 0.8rem
          padding: 0.5rem 0.8rem
          width: 3rem
        a.item
          &:hover, &:hover .icon, &.selected, &.selected .icon
            opacity: 1
            color: rgba(255,255,255,1)
            border: none!important
          &.yes
            &:hover, &.selected
              background-color: rgba(#39b54a,1)
          &.unknown
            &:hover, &.selected
              background-color: rgba(#000,0.5)
          &.no
            &:hover, &.selected
              background-color: rgba(#f15a24,1)
      &.edited
        .action
          a.item.selected
            opacity: 0.5
            &:hover
              opacity: 1
  .stickers
    margin: 0
    .todo, .done, .beneficiary, .sufferer
      padding: 0 1rem
    .beneficiary, .sufferer
      margin: 0
    .sticker
      .vision, .problem, .reason, .solution, .stakeholder, .new
        margin: 0 0 1rem 3rem
      .vision, .problem, .reason, .solution, .stakeholder
        margin: 0 0 0 3rem
  .subject
    padding: 0
    border-bottom: 1px #999 solid
    .sticker
      .vision, .problem, .reason, .solution, .stakeholder
        margin: 0
      .source
        color: rgba(#000,0.7)
        font-size: 0.9rem
        margin-top: 1em

  // customize semantic ui stackable grids for tag list view
  .ui.two.column.stackable.grid.tag
    margin: 0
    .column
      margin: 0
      padding: 0

  // set position for pagination menus
  .navigation
    text-align: center
    margin: 0 auto 1rem auto
    &.sticker.scope
      margin: 0 0 0 3rem
    .menu
      .item
        padding-top: 0.7em
        padding-bottom: 0.7em

  .subheader
    margin-bottom: 0
    .button
      background-color: rgba(#fff,0)

  // customize ui steps for subheader
  .ui.steps
    display: inline-block
    .step
      font-weight: bold
      padding-top: 0.8em
      padding-bottom: 0.8em
      &.normal
        &:after
          border: none
          background-color: #FFFFFF
          top: 0.42em
          width: 1.8em
          height: 1.8em
          -webkit-transform: rotate(-45deg)
          -ms-transform: rotate(-45deg)
          transform: rotate(-45deg)
          -webkit-box-shadow: -1px -1px 0px 0px rgba(0, 0, 0, 0.1) inset
          box-shadow: -1px -1px 0px 0px rgba(0, 0, 0, 0.1) inset
          right: -0.9em
        &:hover:after
          background-color: #F7F7F7
      &.active
        color: inherit!important
        &:after
          border-width: 1.3em
          right: -1.2em
        &.vision
          background-color: #fdf9bb
          &:after
            border-left-color: #fdf9bb
        &.problem
          background-color: #fee5e5
          &:after
            border-left-color: #fee5e5
        &.reason
          background-color: #efe9f3
          &:after
            border-left-color: #efe9f3
        &.solution
          background-color: #e7f3d7
          &:after
            border-left-color: #e7f3d7

  // links in a wiki
  .etherpad,
  .reference,
  .response
    a
      &:hover
        background-color: rgba(0,0,0,0.05)
  // wiki
  .etherpad
    margin-bottom: 2rem
    .article
      margin-left: 5rem
      padding-left: 1rem
      border-left: 1px #ccc solid
      .referral
        position: relative
        padding-right: 1.2em
        .ui.floating.label
          text-align: center
          padding: 0
          line-height: 1.2em
          right: 0
          top: 0
          background: none
      p, h3, h4, h5,
      .ui.items .row
        position: relative
        .contributor
          text-align: right
          display: block
          letter-spacing: 0
          font-size: 0.8em
          opacity: 0.7
          position: absolute
          left: -6.5rem
          width: 5rem
          overflow: hidden
          text-overflow: ellipsis
  // reference for wiki
  .reference
    margin-left: 5rem
    padding-left: 3rem
    border-left: 1px #ccc solid
    margin-bottom: 2rem
    .item
      position: relative
      padding: 0.2em 0
      a.ui.small.label
        position: absolute
        left: -2rem
      .text
        line-height: 1.5em
      .contributor
        text-align: right
        letter-spacing: 0
        font-size: 0.8em
        opacity: 0.7
        position: absolute
        left: -8.5rem
        width: 5rem
        overflow: hidden
        text-overflow: ellipsis
  //response for wiki
  .response
    padding-bottom: 2rem
    .ui.tabular.menu
      .description.item
        padding-left: 0.1em
    .ui.comments
      margin-left: 3rem
      .comment
        min-height: 3rem
        margin: 0
        padding: 0.5rem 0 0 0
        clear: both
        .avatar
          img
            +border-radius(0.3rem)
        .comments
          margin-top: 0
          padding-top: 0
        .status
          position: absolute
          left: -3rem
          .ui.menu
            .item
              font-size: 0.8rem
              padding: .5em .8em
              i.icon
                opacity: 0.3
        .content
          padding-top: 0
          .text
            opacity: 1
          .metadata
            display: inline-block
            float: right
            font-size: 0.9rem
            a
              color: rgba(0,0,0,0.4)
              padding: 0.3em 0.7em
              +border-radius(0.3rem)
              i.icon
                opacity: 0.3
              &:hover
                color: rgba(0,0,0,0.8)
            .avatar
              margin-left: 0.5em
              opacity: 0.5
              width: 1em
              height: 1em
              float: none
              display: inline-block
              position: relative
              top: 0.1em
              img
                max-width: 1em
                max-height: 1em
          .ui.form
            margin: 0
            max-width: 100%
            .field
              clear: none
            .account
              margin-left: 1em
      .post.comment
        margin-left: -3rem

// the grand global navbar
#navbar
  .ui.secondary.pointing.menu
    background-color: #000
    border-bottom-width: 5px
    input
      background-color: rgba(255,255,255,.3)
      color: rgba(255,255,255,.95)
      &::-webkit-input-placeholder
        color: rgba(255,255,255,.5)
    .item
      border-bottom-width: 5px
      color: rgba(255,255,255,.95)
      margin-bottom: -5px
      &.active
        border-color: #00a99d

// the lovely homepage
#index
  padding: 5rem 0 2rem 0
  .index
    text-align: center
    margin: 0 auto
    width: 100%
    max-width: 1024px
    a.entry    
      +box-shadow(0 0 3px rgba(0,0,0,0.8))
      display: block
      margin: 0
      &:hover
        +box-shadow(0 0 5px rgba(0,0,0,0.8))
      h2
        padding: 1em
      //
        a.tag
        font-size: 1.2em
        font-weight: bold

// issue list page
#issues,
#proposals,
#projects,
#entries,
#tags,
#users
  #menu
    background-color: #fff
    .item.active
      border-color: #8cc63f
  #content
    margin: 1rem
// customized horizontal action icon menu... not in use
  #header
    .action
      font-size: 1.5rem
      position: relative
      top: -0.15em
      .button
        padding: 0.2rem 0.5rem
        cursor: pointer
        opacity: 0.5
        +border-radius(0.3rem)
        &:hover
          background-color: rgba(0,0,0,0.05)
          opacity: 0.8
        i.icon
          padding: 0.2em
          opacity: 0.3
        .count
          font-size: 1rem
          margin-top: -0.2em

// customized horizontal action icon menu

#issue,
#proposal,
#project,
#qa,
#argument,
#article
  background-color: #fff
  #header
    .title
      padding: 1rem
      margin: 0
      h2
        display: inline
        font-size: 2rem
        margin-right: 0.5rem
    .info
      margin-top: 0.5rem
      .status
        display: inline
        font-size: 1rem
        line-height: 1em
        margin: 0 1em 0 0
        .label
          position: relative
          top: -0.3em
          vertical-align: bottom
          margin: 0 1em 0 0
          padding: 0.3em 0.5em
    .action
      font-size: 1rem
      margin-top: 0
      margin-bottom: 0
      line-height: 1em
      .item
        vertical-align: bottom
        margin: 0
        padding: 0.25em 0.5em
        color: #000
        opacity: 0.7
        i.icon
          display: inline-block
          opacity: 0.7
          margin-bottom: 0!important
        .text
          margin-left: 0.5em
          position: relative
          top: -0.1em
      &:after
        display: none
      a.item:hover
        background-color: rgba(26,184,243,1)
      a.item:hover, a.item:hover .icon
        color: rgba(255,255,255,1)
        opacity: 1
    .switch 
      float: right
      font-size: 1rem
      font-weight: normal
      line-height: 2rem
      background-color: rgba(0,0,0,0.05)
      +border-radius(0.3rem)
      +box-shadow(inset 0 0 0.5rem rgba(0,0,0,0.2))
      overflow: hidden
      a
        padding: 1rem
        &:hover
          background-color: rgba(#d9e021,0.2)
        &.active
          background-color: #d9e021
    .level.two.menu
      margin: 0
      background-color: rgba(0,0,0,0.05)
      .item
        font-weight: bold
        color: rgba(0,0,0,1)
      .ui.button
        margin-top: 1px
  //#subheader
    background: url("../img/bg-gray.png") 
    background-repeat: repeat
    background-position: right top
    background-attachment: fixed
    background-color: rgba(#000, 0.1)
  #subheader
    background-color: rgba(#000, 0.05)
  #wrapper
    padding: 1rem
  #content
    //.category
      margin-bottom: 1rem
      .item.active
        border-color: #8cc63f
    .report
      margin: 0 0.5rem
      .column
        margin: 0
        padding: 0
        .ui.segment
          display: block
          margin: 0 0.5rem
          height: 18rem
          text-align: center
          background-color: rgba(0,0,0,0.03)
          &.active,
          &:hover
            opacity: 1
            background-color: #fff
          &:hover
            +box-shadow(0 0 0.5rem rgba(0,0,0,0.3))
          &.active
            +box-shadow(0 0 1px rgba(0,0,0,1))
            &:hover
              +box-shadow(0 0 1px rgba(0,0,0,1))
          .title
            color: white
            &.yellow
              background-color: #ff931e
            &.emergency
              background-color: #ff7bac
          .text
            text-align: left
            display: inline-block
            margin-left: auto
            margin-right: auto
            .item
              padding: 0.25rem 0
          .buttons
            padding: 0
            .ui.button
              padding-left: 0!important
              padding-right: 2.6em!important
              width: 50%
      .option.button
        max-width: 20rem
        margin: 1rem auto
      .ui.horizontal.divider
        font-size: 1rem
        font-weight: bold
        color: rgba(0,0,0,0.5)
        &:before,
        &:after
          width: 48%

// the grand proposal planning ui
#proposal
  #wrapper
    position: relative
    .line
      height: 100%
      border: 1px rgba(0,0,0,0.2) solid
      border-top: none
      border-bottom: none
      float: left
      position: absolute
      z-index: 0
    #toc
      position: relative
      width: 10rem
      float: right
      font-size: 0.9rem
      .line
        width: 1rem
        &.two
          margin-left: 2rem
      .header
        display: block
        padding: 0.5em
        margin: 0 -0.5em
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        &:hover
          background-color: rgba(0,0,0,0.05)
      .level.two
        padding-left: 1.5rem
      .level.three
        padding-left: 2.5rem
    #chapters
      position: relative
      margin-right: 11rem
      .id
        z-index: 1
      .line
        width: 2rem
        &.two
          margin-left: 4rem
      .chapter
        +border-radius(0)
        margin: 0 0 1rem 0
        &.level.two
          margin-left: 2rem
        &.level.three
          margin-left: 4rem
        .id
          padding: 0.5em 1em
        .etherpad
          margin: 0
        .reference
          margin-bottom: 0
    #chapter
      margin: -1rem 16rem -1rem -1rem
      padding: 2rem 1rem 0 1rem
      background-color: #fff
    #resource
      overflow: auto
      position: absolute
      right: 0
      top: 0
      width: 17rem
      height: 100%
      padding: 0 0.5rem 1rem 0.5rem
      box-sizing: border-box
      a.divider
        display: block
