html {
  font-size: 18px;
  font-family: "微軟正黑體", sans-serif;
  color: #333333;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  line-height: 1em;
}

input::-webkit-input-placeholder {
  font-family: "微軟正黑體", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: url("../img/bg4.png");
  background-repeat: repeat;
  background-position: left top;
  background-attachment: fixed;
  background-color: #fffad8;
}

p {
  line-height: 1.5em;
  letter-spacing: 0.07em;
  color: black;
}

.hidden,
.ui.menu.hidden,
.ui.menu .item.hidden {
  display: none;
}

.inline-block {
  display: inline-block;
}

.clearfix {
  clear: both;
}

.ui.icon.button.new {
  padding: 1em;
  font-size: 1.2rem;
  font-weight: normal;
  text-align: left;
  background: none;
  border: 2px #cccccc dashed;
  display: block;
}
.ui.icon.button.new i.icon {
  padding: 1em;
}
.ui.icon.button.new:hover {
  background: rgba(0, 0, 0, 0.03);
}

.a.item {
  display: inline-block;
  margin: 0;
  padding: 0.25em 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  border-radius: 0.3rem;
}
.a.item:first-child {
  margin-left: -0.5em;
}
.a.item:hover {
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.a.tag.item {
  color: #29abe2;
}
.a.tag.item:hover {
  background-color: rgba(41, 171, 226, 0.05);
}

.a.board.item {
  color: #00a99d;
}
.a.board.item:hover {
  background-color: rgba(0, 169, 157, 0.05);
}

.a.user.item {
  color: #29abe2;
}
.a.user.item:hover {
  background-color: rgba(41, 171, 226, 0.05);
}

.a.topic.item {
  color: inherit;
}
.a.topic.item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.a.plan.item {
  color: #00a99d;
}
.a.plan.item:hover {
  background-color: rgba(0, 169, 157, 0.05);
}

.a.chapter.item {
  color: inherit;
}
.a.chapter.item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.a.solution.sticker,
.a.stakeholder.sticker {
  display: inline-block;
}
.a.solution.sticker:hover,
.a.stakeholder.sticker:hover {
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.a.sticker {
  margin: 0.2em 0.5em;
  padding: 0.25em 1.5em 0.25em 0.5em;
  position: relative;
}
.a.sticker .ui.label {
  display: inline-block;
  z-index: 1;
  padding: 0.2em;
  margin: 0;
  background: none;
  top: 0;
  right: 0;
  text-align: center;
  color: white;
}
.a.sticker .ui.label i.icon {
  margin: 0;
  padding: 0;
}
.a.sticker .ui.label.yes {
  background-color: #39b54a;
  opacity: 0.5;
}
.a.sticker .ui.label.yes:hover {
  opacity: 1;
}
.a.sticker .ui.label.unknown {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}
.a.sticker .ui.label.unknown:hover {
  opacity: 1;
}
.a.sticker .ui.label.no {
  background-color: #f15a24;
  opacity: 0.5;
}
.a.sticker .ui.label.no:hover {
  opacity: 1;
}
.a.sticker .ui.label.unvoted {
  background-color: white;
  opacity: 0.5;
}
.a.sticker .ui.label.unvoted:hover {
  opacity: 1;
}

.a.solution.sticker {
  color: inherit;
  background-color: #e7f3d7;
}

.a.stakeholder.sticker {
  color: inherit;
  background-color: #d3edf8;
}

.ui.label.light.gray {
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.03);
}

.ui.label.white {
  background: none;
}

.ui.menu .ui.label {
  padding-right: 0.25em;
  padding-left: 0.25em;
  position: relative;
  top: -0.1em;
}

.auxiliary.text {
  font-weight: normal;
  font-size: 0.9em;
  opacity: 0.6;
}

.etherpad a:hover,
.reference a:hover,
.response a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.etherpad {
  margin-bottom: 2rem;
}
.etherpad .article {
  margin-left: 5rem;
  padding-left: 1rem;
  border-left: 1px #cccccc solid;
}
.etherpad .article .referral {
  position: relative;
  padding-right: 1.2em;
}
.etherpad .article .referral .ui.floating.label {
  text-align: center;
  padding: 0;
  line-height: 1.2em;
  right: 0;
  top: 0;
  background: none;
}
.etherpad .article p, .etherpad .article h3, .etherpad .article h4, .etherpad .article h5,
.etherpad .article .ui.items .row {
  position: relative;
}
.etherpad .article p .contributor, .etherpad .article h3 .contributor, .etherpad .article h4 .contributor, .etherpad .article h5 .contributor,
.etherpad .article .ui.items .row .contributor {
  text-align: right;
  display: block;
  letter-spacing: 0;
  font-size: 0.8em;
  opacity: 0.7;
  position: absolute;
  left: -6.5rem;
  width: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reference {
  margin-left: 5rem;
  padding-left: 3rem;
  border-left: 1px #cccccc solid;
  margin-bottom: 2rem;
}
.reference .item {
  position: relative;
  padding: 0.2em 0;
}
.reference .item a.ui.small.label {
  position: absolute;
  left: -2rem;
}
.reference .item .text {
  line-height: 1.5em;
}
.reference .item .contributor {
  text-align: right;
  letter-spacing: 0;
  font-size: 0.8em;
  opacity: 0.7;
  position: absolute;
  left: -8.5rem;
  width: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

#navbar .ui.secondary.pointing.menu {
  background-color: black;
  border-bottom-width: 5px;
}
#navbar .ui.secondary.pointing.menu input {
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.95);
}
#navbar .ui.secondary.pointing.menu input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#navbar .ui.secondary.pointing.menu .item {
  border-bottom-width: 5px;
  color: rgba(255, 255, 255, 0.95);
  margin-bottom: -5px;
}
#navbar .ui.secondary.pointing.menu .item.active {
  border-color: #00a99d;
}

