$font : 'Century Gothic', 'Arial Rounded MT Bold', Arial, STHeiti
$clr-1: #e6a235
$clr-2: #82b73a
$clr-3: #29aae1

$txt-light: #888
$txt-heavy: #000
$txt-action: $clr-3

$icn-success: #0c0

$bkg-tag: #d9ffff
$txt-tag: #4f93ca
