$font : 'Century Gothic', 'Arial Rounded MT Bold', Arial, STHeiti
$clr-1: #e6a235
$clr-2: #82b73a
$clr-3: #29aae1
$clr-danger: #cc8585
$clr-success: #0c0

$clr-fb-1: #758fc7
$clr-fb-2: #667db3
$clr-gplus-1: #d94837
$clr-gplus-2: #b73324
$clr-twitter-1: #6dc7cc
$clr-twitter-2: #5aa5a7
$clr-tumblr-1: #6aa5cf
$clr-tumblr-2: #5892bc

$txt-site: #222
$txt-menu: #666
$txt-menu-lite: #ccc
$txt-light: #888
$txt-dark: #444
$txt-heavy: #000
$txt-action: $clr-3
$txt-tag: #4f93ca
$txt-hot: #f00
$txt-notify: #f79a30
$txt-count: rgba(0,0,0,0.4)

$icn-success: $clr-success
$icn-danger: $clr-danger
$icn-book-no: #aa0

$bkg-site: #ffffff
$bkg-banner: #f2f2f2
$bkg-tag: #d9ffff
$bkg-option: #fcfcfc

$bdr-menu-active: #00a99d
$bdr-menu-hover: #ddd
$bdr-light: #ddd

$btn-default-bk: #eee
$btn-default-txt: #222
$btn-category-bk: #d9ffff
$btn-category-txt: #3285c4
$btn-category-bdr: #76f0f0

$btn-citizen-bk: #ffe6e6
$btn-citizen-txt: #525151
$btn-citizen-bdr: #f3c6c6
