@import base
@import "compass/css3/user-interface"

html,body
  margin: 0
  padding: 0
  width: 100%
  height: 100%
  font-family: $font

body
  background: $bkg-site

a
  color: $txt-action

i.count
  font-style: normal
  font-weight: 200
  font-size: 12px
  color: $txt-count

.span-group
  display: inline-block
  color: $txt-light
  border-right: 1px dashed $bdr-light
  padding: 0 15px
  &:last-of-type
    border: none

.span-group.selected
  font-weight: 900 
  color: $txt-dark
  i.icon-check
    color: $clr-2

.clickable
  @include user-select(none) 
  cursor: pointer

.dropdown.open .dropdown-menu
  z-index: 999
  height: auto
  
ul.dropdown-menu li.notify
  color: $txt-light
  width: 300px
  border-bottom: 1px solid $bdr-light
  .icon-microphone-off
    font-size: 24px
    margin: 5px
    display: inline-block
  &:last-of-type
    border-bottom: none
  a
    white-space: normal
  strong
    color: $txt-dark
  .head
    display: inline-block
    color: $txt-notify
    font-weight: 900

.dropdown-menu
  min-width: 50px
  li
    border-bottom: 1px solid $bdr-light
    padding: 0
    clear: both
    display: block
    width: 100%
    a
      display: block
    margin: 0
    &:last-of-type
      border-bottom: none

.btn-group
  margin-right: 10px

.more-tag
  @extend .clickable 
  display: block
  float: right
  padding: 0 10px
  border: 1px solid $bdr-light
  height: 100%
  background: $bkg-site
  color: $txt-site

.btn-default
  background: $btn-default-bk
  font-weight: 900

.btn-cat
  background: $btn-category-bk
  color: $btn-category-txt
  text-shadow: 0 0 2px rgba(0,0,0,0.0)

.btn-citizen
  background: $btn-citizen-bk
  color: $btn-citizen-txt
  text-shadow: 0 0 2px rgba(0,0,0,0.0)

