@import base

html,body
  margin: 0
  padding: 0
  width: 100%
  font-family: $font

body
  background: $bkg-site

a
  color: $txt-action

i.count
  font-style: normal
  font-weight: 200
  font-size: 12px
