#infopanel .menu-long
  margin: 0 10% 15px
  width: 80%
  height: 32px
  border-bottom: 1px solid #aaa
  background: none
  text-align: center
  li
    padding: 3px 13px
    margin: 0
  li.active
    border-bottom: 3px solid #8cc63f
