@import base

.qa
  .icon-star-empty
    color: $txt-light
  .icon-rss
    color: $clr-1
  .icon-link
    color: $clr-2
  .icon-comments
    color: $clr-3
.rel-item
  margin-bottom: 7px
  .icon-double-angle-down
    color: $txt-action
    font-weight: 700
  .item
    display: inline
    margin-right: 3px
    background: $bkg-tag
    color: $txt-tag
    border-radius: 1px
    padding: 3px 5px
    font-size: 13px
  .head
    background: none
    color: $txt-light
  .more
    background: rgba(0,0,0,0.03)
  .item-motion
    background: none
    color: $txt-heavy 
    font-weight: 700
    font-size: 15px
  .item-action
    margin-left: 3px
    background: none
    color: $icn-success
