@import base

#qa-option
  border: 1px solid $bdr-light
  box-shadow: inset 0 0 10px rgba(0,0,0,0.1)
  background: $bkg-option
  margin-bottom: 40px
  display: none
  .form
    margin-bottom: 0
  .form-row
    border-bottom: 1px solid $bdr-light
    &:last-of-type
      border-bottom: none
  .form-label, .form-input
    padding-top: 4px
    padding-bottom: 4px

#qa-func-panel
  display: table
  padding: 0
  box-sizing: border-box
  > .ib
    display: table-row
  .menu
    height: 24px
  .content
    display: none
    height: 100%
  .btn-icon
    border-bottom:
      left-radius: 0
      right-radius: 0

#qa-func-panel > .ib > .ib
  width: 100%
  height: 100%
  border: 1px solid $bdr-light
  box-shadow: inset 0 0 10px rgba(0,0,0,0.1)
  border-bottom:
    left-radius: 4px
    right-radius: 4px
  .btn-group
    position: absolute
    width: 100%
    bottom: 3px
    .btn-default
      border-top:
        left-radius: 0
        right-radius: 0
      border:
        right: 0
        bottom: 0
      &:nth-of-type(1)
        border-left: 0

#qa-func-editor > .ib
  .title, .desc
    padding: 10px
  .title
    border-bottom: 1px solid $bdr-light
    background: #ffffcc
    font-weight: 900
  .desc
    padding-bottom: 50px
  .btn-group
    .btn-default
      width: 33%
    .btn-default:last-of-type
      width: 34%

#qa-func-comment > .ib
  .comments
    padding: 10px 10px 50px
  .comment
    padding-left: 20px
    background: url(/s/img/dash@3.png) repeat-y 7px
    .ctrl
      margin: 5px 0 15px
      color: $txt-light
    img
      width: 15px
      height: 15px
      margin: 0 5px 0 -20px
   
  .btn-group
    width: 100%
    .btn-default
      width: 100%
