div(ng-show="tab==3")
  #current-proposal(ng-controller="ctrl.proposal")
    .row
      .col-sm-8
        h2 
          small 提案  
          | {{propCur.name}}
      .col-sm-4
        small.pull-right(style="margin-top:38px")
          | 表决時間: 
          span(ng-show="propCur.start") {{propCur.start|date:'yyyy/MM/dd HH:mm'}}
          span(ng-show="!propCur.start") 未定
          span(ng-show="propCur.start")
            |  ~ 
            span(ng-show="propCur.end") {{propCur.end|date:'yyyy/MM/dd HH:mm'}}
            span(ng-show="!propCur.end") 未定
            
    .well {{propCur.desc}}
    .panel-group#prop-cur-plans
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a(data-toggle="collapse",data-parent="#prop-cur-plans",href="#prop-cur-plans-state")
              i.glyphicon.glyphicon-hand-right
              | 方案與決策
        #prop-cur-plans-state.panel-collapse.collapse.in: .panel-body.choice-panel
          .row
            .col-sm-4
              h4 所有方案
              div
                .choice(ng-repeat="p in propCur.link['choice']|value",ng-click="pick(propCur, p.id)")
                  | {{p.v.name}}
                  i.glyphicon.glyphicon-ok(ng-show="isPicked(propCur,p.id)")
            .col-sm-4(style="text-align:center")
               h4 你的選擇
               | {{picks}}
               div(ng-show="user.id")
                 .choice(ng-repeat="p in picked(propCur,true)",ng-click="pick(propCur, p.id)") {{p.v.name}}
               div(ng-show="!user.id")
                 .btn.btn-primary(ng-controller="ctrl.user",ng-click="login()") 想要參與決策嗎？立刻登入
            .col-sm-4
              h4 表決狀態
                svg.choice-stat(width="100%",height="160px",viewBox="0 0 200 160",preserveAspectRatio="xMidYMid")
                  g
                  g: g(ng-repeat="(k,v) in cs.d")
                    rect(x="0",ng-attr-y="{{$index * 20}}",ng-attr-width="{{v.c * 10}}",height="15",ng-attr-fill="{{color(v.r.id)}}")
                    text(ng-attr-x="{{v.c * 10 + 5}}",ng-attr-y="{{$index * 20 + 11}}") {{v.r.v.name}} ( {{ v.c}} )
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a(data-toggle="collapse",data-parent="#prop-cur-plans",href="#prop-cur-plans-new")
              i.glyphicon.glyphicon-bullhorn
              | 我要提出新方案
            a.pull-right.active(data-toggle="collapse",data-parent="#prop-cur-plans",href="#prop-cur-plans-new")
              | 進階選項...
        #prop-cur-plans-new.panel-collapse.collapse: .panel-body
          .row(ng-controller="ctrl.plan")
            .col-sm-8
              form
                .form-group
                  label 方案名稱
                  input.form-control(type="text",placeholder="方案名稱，例如：建議興建丹大野生動物保護區渡假村",ng-model="cur.name")
                .form-group
                  label 方案描述
                  textarea.form-control(placeholder="方案內容簡述，例如：丹大野生動物區為台灣珍貴之野生動物產地...",style="min-height: 100px",ng-model="cur.desc")
                .btn.btn-success(ng-click="added=createWith('choice','proposal',propCur.id,propCur)") 新增方案
                .notify(ng-show="added",ng-animate="'animate'")
                  i.glyphicon.glyphicon-ok
                  |  {{added.name}} 新增成功
            .col-sm-4(style="height:260px;overflow:scroll")
              h4 你建立的方案
              div(ng-controller="ctrl.plan")
                .choice(ng-repeat="p in propCur.link['choice']|value",ng-click="pick(propCur, p.id)",ng-show="p.v.creator.id==user.id")
                  | {{p.v.name}}
                  i.glyphicon.glyphicon-remove(ng-click="delete(p.id)")
