doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var usecdn = false
- var useog = false
- var lib = { jquery: true, d3js: true, angular: true, bootstrap: true, semantic: false }
- var assets = "assets"
- var thumbnail = "http://dummy.thumbnail"
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    title template
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="demo.css")
    script(type="text/javascript",src='//cdn.firebase.com/v0/firebase.js')
    script(type="text/javascript",src="//cdn.firebase.com/v0/firebase-simple-login.js")
    script(type="text/javascript",src="//cdn.firebase.com/libs/angularfire/0.5.0/angularfire.min.js")
    script(type="text/javascript",src="index.js")
  body(ng-app="main",ng-controller="ctrl.main")
    h2 動民主前端開發指南
    h4(ng-show="!user")
      | 請登入後使用
      button(ng-click="login()",ng-show="!user") login with facebook
    .panel.panel-primary
      .panel-heading 一般資訊
      .panel-body
        p 請參考 body 的設定, 在頂層元素使用 main (ng-app) 及 ctrl.main (ng-controller)
        p 各種資料型別 (提案, 對策, 方案, 留言等) 都有其對應的 angularjs controller. 使用前請設定 ng-controller
        ul
          li 提案: ctrl.proposal
          li 願景: ctrl.vision
          li 問題: ctrl.issue
          li 成因: ctrl.cause
          li 對策: ctrl.strategy
          li 方案: ctrl.plan
          li 留言: ctrl.comment
          li 社群: ctrl.group
          li 用戶: ctrl.user
        p 各種資料型別都會有一些基本屬性, 包含:
        ul
          li name: 標題或名稱
          li desc: 描述
          li creator: 建立者 (內含 id, username, displayName)
          li create_time: 建立時間
          li edit_time: 修改時間
          li list: 列出所有資料
        p 使用 list 的方法很簡單, 用 ng-repeat="(k,v) in list" 即可, k 存的是資料的索引 (key, 或稱 index), v 則是資料本身. 可直接參考下面的提案列表範例. 此外, 每種資料型別也都可以被按讚, 建立投票選項 或是與其他資料型別產生關聯. 詳情請見後面的解釋.
        h5 controller 使用範例 (提案列表為例)
        div(ng-controller="ctrl.proposal")
          .alert.alert-info(ng-repeat="(k,v) in list") {{v.name}} by {{v.creator.username}}
    .panel.panel-primary
      .panel-heading 登入相關
      .panel-body(ng-controller="ctrl.user")
        p 登入與登出的按鈕請參考下列:
        .btn.btn-success(ng-click="login()") login with facebook
        .btn.btn-danger(ng-click="logout()") logout
        h5 搭配 ng-show:
        .btn.btn-success(ng-click="login()",ng-show="!user") login with facebook
        .btn.btn-danger(ng-click="logout()",ng-show="user") logout
      .panel-footer
        | main controller 有 user 變數可以使用, 需要的話使用 user.id, user.username 等即可
    .panel.panel-primary
      .panel-heading 使用者相關
      .panel-body
        p 目前暫時使用臉書登入, 取得的使用者資訊都存在 user 中, 可以用看裡面有什麼資料可以使用. 常見的包括 user.id, user.username, user.displayName
        p 未來加入其他登入方式時, 會需要 normalize 不同格式. 儘量使用常見的欄位可以避免未來的麻煩.
        .label.label-info id: {{user.id}}
        .label.label-info username: {{user.username}}
        .label.label-info display name: {{user.displayName}}
        h5 user data
        .alert.alert-info {{user}}
    .panel.panel-primary
      .panel-heading 新增、刪除、修改資料
      .panel-body(ng-controller="ctrl.comment")
        h4 新增資料
        p 每個 controller 都內含有 cur 變數, 這個變數被用來作為新增資料前放資料的地方。例如填入留言後按下面的按鈕即會產生新留言.
        .form
          .form-group: input.form-control(type="text",placeholder="留言",ng-model="cur.desc")
          .form-group: .btn.btn-info(ng-click="create()") 送出留言
        h5 留言列表
        .alert.alert-info
          div(ng-repeat="(k,v) in list") 
            span {{v.desc}} by {{v.creator.displayName}} 
            i.glyphicon.glyphicon-remove(ng-click="delete(k)",style="cursor:pointer;color:#f00")
        p 你可以在 cur 中存入任何需要的變數, 但請避開前所提到的基本屬性, 還有 vote, link, stand 等關鍵字.
        hr
        h4 刪除資料
        p 對你想刪除的資料的 key 呼叫 delete 即可. 上例中的留言列表即有範例.
        hr
        h4 修改資料
        p 直接將你想改的資料更新, 然後用資料的 key 執行 save 即可. 你可以結合 contenteditable 屬性讓事情變得更容易. 下例讓你修改留言的內容, 試著點留言的文字, 你可以直接做修改. 改完後, 按右方的存檔鈕, 即完成存檔.
        .alert.alert-info
          div(ng-repeat="(k,v) in list",ng-show="$index==0")
            span(ng-model="v.desc",contenteditable)
            span  - by {{v.creator.username}}
            i.glyphicon.glyphicon-floppy-disk.pull-right(ng-click="save(k)",style="cursor:pointer;color: #090")

    .panel.panel-primary
      .panel-heading 連結資料
      .panel-body(ng-controller="ctrl.proposal")
        p 資料間可以互相連結, 完全看你怎麼設計. 為了方便建立連結, 這裡提供了一個快速選擇資料的 directive: "chooser". 下面為 chooser 的範例, 試著輸入一些字 (例如 '計畫'), chooser 會將找到的資料以 "type / name" 的形式顯示出來. 當你點選了其中一個資料後, chooser 所連結的 model 會得到該資料的細節, 包含 id, 類型, 跟資料本身
        button.btn.btn-warning(ng-click="chosen={}") 取消選取
        chooser.chooser(ng-model="chosen")
        br(style="clear:both")
        .alert.alert-info 你選擇的資料 id 為 {{chosen.id}}, 類型為 {{chosen.t}}, 標題為 {{chosen.v.name}}, 由 {{chosen.v.creator.username}} 建立.
        .alert.alert-info(style="max-height:100px;overflow:scroll;text-overflow:ellipsis") 其內容為 {{chosen.v}}
        p 選取資料以後, 建立連結則使用 "link" 來實作. 下面為一個提案, 帶有一個連結資料按鈕.
        .alert.alert-success(ng-repeat="(k,v) in list",ng-show="$index==0")
          | 提案 "{{v.name}}"
          .btn.btn-success(ng-click="link('link',k,chosen.t,chosen.id,chosen.v,1)",ng-show="chosen.id") 與屬於 {{chosen.t}} 的 {{chosen.v.name}} 建立連結
          h5 與此提案有關的資料
          .label.label-success(ng-repeat="n in v.link['link']|value") {{n.v.name}}
        p link 函式的第一個參數為連結的分類, 'link' 代表普通連結. 'choice' 代表是選項, 'child' 代表是子項目. 最後一個參數的數字代表連結的方向性, 1 為順向, -1 為反向, 0 為雙向.
        p 你也可以在建立資料時立刻連結資料. 請參考下一個範例的 createWith 函式.
    .panel.panel-primary
      .panel-heading 票選與按贊
      .panel-body(ng-controller="ctrl.proposal")
        p 按讚為任何資料的基本功能, 使用下面的樣板即可. 
        .alert.alert-info(ng-repeat="(k,v) in list", ng-show="$index==0")
          | 提案 "{{v.name}}"
          .vote
            .btn(ng-click="vote(v,0)")
              span 讚
              | {{v.vote[0].length}}
            .btn(ng-click="vote(v,1)") 
              span 閱
              | {{v.vote[1].length}}
            .btn(ng-click="vote(v,2)") 
              span 噓
              | {{v.vote[2].length}}
        p 就算是留言也可以:
        div(ng-controller="ctrl.comment")
          .alert.alert-info(ng-repeat="(k,v) in list",ng-show="$index==0")
            | "{{v.desc}}" by {{v.creator.username}}
            .vote
              .btn(ng-click="vote(v,0)")
                span 讚
                | {{v.vote[0].length}}
              .btn(ng-click="vote(v,1)") 
                span 閱
                | {{v.vote[1].length}}
              .btn(ng-click="vote(v,2)") 
                span 噓
                | {{v.vote[2].length}}
        p 投票的話稍微複雜些. 先建立好數個類型為 'choice' 的連結後, 利用 picked 函式選出已選及未選的項目, 並用 pick 來選取/取消選取項目. 這裡利用 createWith 來建立連結到提案的方案作為選項.
        .alert.alert-success(ng-repeat="(k,v) in list", ng-show="$index==0")
          h3 提案 "{{v.name}}"
          h5 建立選項
          form(ng-controller="ctrl.plan")
            .form-group: input.form-control(type="text",placeholder="選項名稱",ng-model="cur.name")
            .form-group: .btn.btn-success(ng-click="createWith('choice','proposal',k,v)") 透過 createWith 建立方案
          h5 所有的選項
          .label.label-success(ng-repeat="c in v.link['choice']|value",ng-click="pick(v, c.id)",style="cursor:pointer") {{c.v.name}}
          h5 你選擇的項目
          .label.label-success(ng-repeat="c in picked(v,true)",ng-click="pick(v, c.id)",style="cursor:pointer") {{c.v.name}}
          h5 沒被選的項目
          .label.label-success(ng-repeat="c in picked(v,false)",ng-click="pick(v, c.id)",style="cursor:pointer") {{c.v.name}}


    h3 個別類型的細節
    .panel.panel-primary
      .panel-heading 群組相關
      .panel-body(ng-controller="ctrl.group")
        | 待補完
    #footer
