html {
  font-size: 18px;
  font-family: "微軟正黑體", sans-serif;
  color: #333333;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  line-height: 1em;
}

input::-webkit-input-placeholder {
  font-family: "微軟正黑體", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.5em;
  letter-spacing: 0.07em;
  color: black;
}

.hidden,
.ui.menu.hidden,
.ui.menu .item.hidden {
  display: none;
}

.inline-block {
  display: inline-block;
}

.clearfix {
  clear: both;
}

.a.item {
  display: inline-block;
  margin: 0;
  padding: 0.25em 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  border-radius: 0.3rem;
}
.a.item:first-child {
  margin-left: -0.5em;
}
.a.item:hover {
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.ui.label.light.gray {
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.03);
}

.ui.label.white {
  background: none;
}

.ui.menu .ui.label {
  padding-right: 0.25em;
  padding-left: 0.25em;
  position: relative;
  top: -0.1em;
}

#meeting #header {
  margin: 0;
}
#meeting #header .meta {
  float: left;
  width: 15rem;
  margin: -1rem 0;
}
#meeting #header .subject {
  margin-bottom: -1rem;
  margin-left: 15rem;
}
#meeting #header .subject .icon {
  margin: 0 0 0 1rem;
}
#meeting #sidebar {
  margin: 0;
}
