p This is how bacon is supposed to be. The fries, they blend so perfectly. The cheese up in here is goin' ham. 
  span.diff-1 Dayum
  | , 
  span.diff-1 dayum
  | , 
  span.diff-1 dayum
  | !. . I wish you could smell what I'm smellin. Mm, mm, mm. You bite the fry, the fry bites back, my man. 
  span.diff-1 Dayum
  | , 
  span.diff-1 dayum
  | , 
  span.diff-1 dayum
  | !. . 
