p Oh my goodness, oh my 
  span.diff-1 dayum
  | . Oh my goodness, they goin' ham. Oh my goodness, oh my 
  span.diff-1 dayum
  | . Oh my goodness, they goin' ham. . This is how bacon is supposed to be. The fries, they blend so perfectly. The cheese up in here is goin' ham. 
  span.diff-1 Dayum
  | , 
  span.diff-1 dayum
  | , 
  span.diff-1 dayum
  | !. . 
