extends _template

block title
  | 首頁

block body

  #index(ng-init="userid='etblue';view='timeline';timelineFilter=''",ng-controller="index")

    #sidebar.ui.vertical.menu
      //-a.item(href="",ng-controller="ctrl.user")
      a.item(ng-click="view='account'")
        .avatar
          img(src="img/etblue.jpg").rounded.corner
        .id {{ data.users[userid].name }}
        //.id {{user.username}}
      a.item.all(ng-click="view='timeline';timelineFilter=''")
        i.icon.home
        | 所有動態
      a.item.issues(ng-click="view='timeline';timelineFilter='issue'")
        i.icon.folder.open.outline
        .ui.label.light.gray {{ data.users[userid].pins.issues.length }} / {{ data.users[userid].subscribtions.issues.length }}
        | 議題
      .menu.item.issues
        a.item(ng-repeat="issue in data.users[userid].pins.issues |  orderBy:'name'")
          | {{ issues[issue.id].name }}
          .ui.label 10
      a.item.proposals(ng-click="view='timeline';timelineFilter='proposal'")
        i.icon.folder.open.outline
        .ui.label.light.gray {{ data.users[userid].pins.issues.length }} / {{ data.users[userid].subscribtions.issues.length }}
        | 提案
      .menu.item.proposals
        a.item(ng-repeat="proposal in data.users[userid].pins.proposals")
          | {{ proposals[proposal.id].name }}
          .ui.label 10
      a.item.projects(ng-click="view='timeline';timelineFilter='project'")
        i.icon.folder.open.outline
        .ui.label.light.gray {{ data.users[userid].pins.projects.length }} / {{ data.users[userid].subscribtions.projects.length }}
        | 專案
      .menu.item.projects
        a.item(ng-repeat="project in data.users[userid].pins.projects")
          | {{ projects[project.id].name }}
          .ui.label 10
      a.item.tags(ng-click="view='timeline';timelineFilter='tag'")
        i.icon.tags
        .ui.label.light.gray {{ data.users[userid].pins.tags.length }} / {{ data.users[userid].subscribtions.tags.length }}
        | 標籤
      .menu.item.tags
        a.item(ng-repeat="tag in data.users[userid].pins.tags")
          | {{ tags[tag.id].name }}
          .ui.label 10
      a.item.circles(ng-click="view='timeline';timelineFilter='circle'")
        i.icon.user
        .ui.label.light.gray {{ data.users[userid].pins.circles.length }} / {{ data.users[userid].circles.length }}
        | 社交圈
      .menu.item.circles
        a.item(ng-repeat="circle in data.users[userid].pins.circles")
          | {{ data.users[userid].circles[circle.id].name }}
          .ui.label 10
      a.item.groups(ng-click="view='timeline';timelineFilter='group'")
        i.icon.users
        .ui.label.light.gray {{ data.users[userid].pins.groups.length }} / {{ data.users[userid].subscribtions.groups.length }}
        | 團體
      .menu.item.groups
        a.item(ng-repeat="group in data.users[userid].pins.groups")
          | {{ groups[group.id].name }}
          .ui.label 10
    #content
      .account(ng-show="view=='account'")
        .ui.menu
          a.item.activities(href="")
            | 我的活動紀錄
          .menu.item.activities
            a.item.subscribed(href="")
              i.icon.rss
              | 訂閱
            a.item.bookmarked(href="")
              i.icon.star
              | 收藏
            a.item.shared(href="")
              i.icon.forward.mail
              | 分享
            a.item.shared(href="")
              i.icon.checked.checkmark
              | 表態
            a.item.edited(href="")
              i.icon.pencil
              | 編輯
          a.item.achievements(href="")
            | 我的成就
          .menu.item.achievements
            a.item.composing(href="")
              i.icon.certificate
              | 彙編懶人包
            a.item.analyzing(href="")
              i.icon.certificate
              | 釐清議題
            a.item.planning(href="")
              i.icon.certificate
              | 規劃提案
            a.item.executing(href="")
              i.icon.certificate
              | 執行專案

      .timeline(ng-show="view=='timeline'")
        .ui.secondary.pointing.menu
          a.item.news.active 所有動態
          a.item.settings 設定
            i.icon.setting
          .right.menu
            include -sort-menu
        .in.timeline
          //-| id:
          //-input(type="text",ng-model="newPlan.id",id="inputId")
          //-br
          //-| name:
          //-input(type="text",ng-model="newPlan.name",id="inputName")
          //-br
          //-button(ng-click="addPlan()") 新增方案
          //-.ui.segment.entry(ng-repeat="type in data.users[userid].subscribtions | filter:timelineFilter | orderBy:'edited.at'")
          .ui.segment.entry(ng-repeat="type in data.users[userid].subscribtions")
            {{data.users[userid].subscribtions}}
            .ui.attached.top.right.label.white.menu.action
              .ui.dropdown.item.vote(ng-class="")
                i.icon(ng-class="")
                .menu
                  .item.yes
                    i.icon.checkmark.checked
                  .item.unknown
                    i.icon.question
                  .item.no
                    i.icon.remove
              .item.bookmark(ng-class="")
                i.icon.star
              .item.subscribe(ng-class="")
                i.icon.rss
              .item.share(ng-class="")
                i.icon.forward.mail
            .ui.attached.top.left.label.status(ng-class="") {{ type }}
            .summary
              .topic
                .a.plan.item
                  a(href="proposal-content-plan.html") plan
                | 於
                .a.board.item
                  a(href="proposal-content-intro.html") name
              .log
                a(href="").a.user.item.diff-1 clkao
                | 編輯於 time
              .diff
                include -dayum-1
            include -timeline-plan-meta
          //-block timeline
            include -proposal-in-timeline

block script
  script.
    $("#navbar .home").addClass("active");
    $("#sidebar .all").addClass("active");

  script.
    // firebase only

  style.
    body
    background-color: rgba(0,0,0,0.03)

