extends _template

block title
  | 首頁

block body

  #index(ng-init="userid='etblue';view='timeline';timelineFilter=''",ng-controller="index")

    #sidebar.ui.vertical.menu
      //-a.item(href="",ng-controller="ctrl.user")
      a.item(ng-click="view='account'")
        .avatar
          img(src="img/etblue.jpg").ui.rounded.corner.image
        .id {{ data.users[userid].name }}
        //.id {{user.username}}

      a.item(ng-click="view='timeline';timelineFilter=''")
        i.icon.home
        | 所有動態

      .repeat(ng-repeat="(type,list) in data.users[userid].pins")
        a.item(ng-click="view='timeline';timelineFilter=type")
          i.icon(ng-class="data.settings[type].icon")
          .ui.label.light.gray {{ list.length }} / {{ data.users[userid].subscribtions[type].length }}
          | {{ data.settings[type].name }}
        .menu
          a.item(ng-repeat="item in list | orderBy:'position'")
            | {{ data[type][item.id].name }}
            .ui.label 10

    #content
      .account(ng-show="view=='account'")
        .ui.menu
          a.item.activities(href="")
            | 我的活動紀錄
          .menu.activities
            a.item.subscribed(href="")
              i.icon.rss
              | 訂閱
            a.item.bookmarked(href="")
              i.icon.star
              | 收藏
            a.item.shared(href="")
              i.icon.forward.mail
              | 分享
            a.item.shared(href="")
              i.icon.checked.checkmark
              | 表態
            a.item.edited(href="")
              i.icon.pencil
              | 編輯
          a.item.achievements(href="")
            | 我的成就
          .menu.achievements
            a.item.composing(href="")
              i.icon.certificate
              | 彙編懶人包
            a.item.analyzing(href="")
              i.icon.certificate
              | 釐清議題
            a.item.planning(href="")
              i.icon.certificate
              | 規劃提案
            a.item.executing(href="")
              i.icon.certificate
              | 執行專案

      .timeline(ng-show="view=='timeline'")
        .ui.secondary.pointing.menu
          a.item.news.active 所有動態
          a.item.settings 設定
            i.icon.setting
            // 設定時間軸要顯示什麼層級的內容，我訂閱的 / 我追蹤的人分享的 / 我追蹤的人訂閱的 / 我書籤的 / 我追蹤的人書籤的...
          .right.menu
            include -sort-menu
        .in.timeline

          .news
            .author.ui.image
              img(src="https://pbs.twimg.com/profile_images/2485617801/ejysvcbvrr6eqfwmrm35_bigger.gif")
            .description
              .a.user.item tkalu
              | 追蹤了
              .a.user.item gugod
            .content.ui.segment
              .logo.ui.image
                img(src="https://pbs.twimg.com/profile_images/1968269520/4d8c65b603554811079a7ea9b7aab9c0_bigger.jpeg")
              h2: a(href="")
                i.icon.user
                | gugod
              p a coffee to code converter
            .info
              .meta.ui.menu.borderless
                a.item 追蹤
                a.item
                  i.icon.user
                  span 300

          .news
            .author.ui.image
              img(src="https://pbs.twimg.com/profile_images/2538169575/hsgysn6idowolswnwtr0.jpeg")
            .description
              .a.user.item Jedi
              | 加入了
              .a.user.item 絕地大師公會
            .content.ui.segment
              .logo.ui.image
                img(src="img/jedi-logo.jpg")
              h2: a(href="")
                i.icon.users
                | 絕地大師公會
              p 絕地大師公會是一個對麻瓜來說不存在的社群。
            .info
              .meta.ui.menu.borderless
                a.item 加入
                a.item
                  i.icon.user
                  span 300

          .news
            .author.ui.image
              img(src="https://pbs.twimg.com/profile_images/2470383529/j0zbmgx23s764kudejpp_bigger.jpeg")
            .description
              .a.user.item au
              | 加入了
              .a.user.item g0v.tw 零時政府
            .content.ui.segment
              .logo.ui.image
                img(src="img/g0v-logo.png")
              h2: a(href="")
                i.icon.users
                | g0v.tw 零時政府
              p g0v.tw 是一個推動資訊透明化的社群，致力於開發公民參與社會的資訊平台與工具。2012 年底開始成形，截至2013年底已有 18 次活動、受邀演講 30+ 場、500+ 遍佈三大洲的貢獻者，成果皆以自由軟體模式釋出。
            .info
              .meta.ui.menu.borderless
                a.item.active 加入
                  i.icon.checkmark
                a.item.active 訂閱
                  i.icon.checkmark
                a.item 邀請其他人
                a.item
                  i.icon.user
                  span 300

          //p
            i.icon.down
            | newsfeed type: 發表新文章（標題、全文、訂閱與統計、推文）
          .news
            .author.ui.image
              img(src="https://pbs.twimg.com/profile_images/52102312/581c745dc446fead5ac1387cda00d6a0_bigger.jpg")
            .description
              .a.user.item clkao
              | 在
              .a.board.item 政府資訊公開
              | 議題中發表文章
            .content.ui.segment
              h2: a(href="") 從開放源碼到開放政府
              p 2012 年底開始的「g0v.tw 零時政府」運動，共有數百人次參與多場黑客松，眾多專案讓政府運作更加透明、資訊更容易被取用。本議程將介紹「零時政府」與開放源碼精神的淵源，社群的運作，以及成果。
              a(href="").expand 展開全文
                i.icon.double.angle.down
            .info
              .meta.ui.menu.borderless
                a.item.active 書籤
                  i.icon.checkmark
                a.item.active 訂閱
                  i.icon.checkmark
                a.item.active 通知
                  i.icon.checkmark
                a.item 分享
                a.item
                  i.icon.star
                  span 12
                  i.icon.rss
                  span 12
                  i.icon.bullhorn
                  span 12
                  i.icon.mail.forward
                  span 12
                a.a.timestamp.item 1 小時前
              .responses
                .response
                  .a.user.item etblue
                  | 潮爽der
                .response
                  .a.user.item etblue
                  | oh my dayum
                a(href="").response.new
                  i.icon.add
                  | 新推文

          //p
            i.icon.down
            | newsfeed type: 提出新問答題
          .news
            .author.ui.image
              img(src="img/etblue.jpg")
            .description
              .a.user.item etblue
              | 在
              .a.board.item 新民主時代
              | 議題中發問
            .content.ui.segment
              h2: a(href="") 素人參政時，所需要的基本的政策智庫，規模要多大？要多少人、包含哪些組成成員？
              a(href="").expand 展開詳細描述
                i.icon.double.angle.down
            .info
              .meta.ui.menu.borderless
                a.item 書籤
                a.item.active 訂閱
                  i.icon.checkmark
                a.item.active 通知
                  i.icon.checkmark
                a.item 分享
                a.item
                  i.icon.star
                  span 12
                  i.icon.rss
                  span 12
                  i.icon.bullhorn
                  span 12
                  i.icon.mail.forward
                  span 12
                a.a.timestamp.item 1 小時前
              .answers
                .answer
                  .action
                    a(href="").button.active
                      i.icon.thumbs.up
                    .count 10
                  .author.ui.image
                    img(src="img/etblue.jpg")
                  .a.user.item evan
                  a.a.timestamp.item 30 分鐘前‧修改過
                  p 少則幾十人，多則幾百人，如果沒有能力養那麼大的智庫，可以跟外面研究單位買報告……blahblah
                  a(href="").expand 展開全文
                    i.icon.double.angle.down
                .answer
                  .action
                    a(href="").button
                      i.icon.thumbs.up
                    .count 10
                  .author.ui.image
                    img(src="img/etblue.jpg")
                  .a.user.item evan
                  a.a.timestamp.item 30 分鐘前‧修改過
                  p 少則幾十人，多則幾百人，如果沒有能力養那麼大的智庫，可以跟外面研究單位買報告……blahblah
                  .responses
                    .response
                      .a.user.item etblue
                      | 潮爽der
                    .response
                      .a.user.item etblue
                      | oh my dayum
                    a(href="").response.new
                      i.icon.add
                      | 新推文
                a(href="").answer.new
                  i.icon.add
                  | 新回答

          //p
            i.icon.down
            | newsfeed type: 提出新正反題
          .news
            .author.ui.image
              img(src="https://pbs.twimg.com/profile_images/378800000312790807/6278f7c8c5e86d96e4a3c097724e3ac7_bigger.jpeg")
            .description
              .a.user.item ipa
              | 在
              .a.board.item 開放政府資料
              | 議題中徵詢正反意見
            .content.ui.segment
              h2: a(href="") 站在市政府的角度，實際實施 open data 政策後，可能會產生哪些好處與壞處？
              a(href="").expand 展開詳細描述
                i.icon.double.angle.down
            .info
              .meta.ui.menu.borderless
                a.item 書籤
                a.item.active 訂閱
                  i.icon.checkmark
                a.item 通知
                a.item 分享
                a.item
                  i.icon.star
                  span 12
                  i.icon.rss
                  span 12
                  i.icon.bullhorn
                  span 12
                  i.icon.mail.forward
                  span 12
                a.a.timestamp.item 1 小時前
              .answers.positive
                .title 9 個正面回答
                  a(href="").expand 顯示全部
                    i.icon.double.angle.down
                .answer
                  .action
                    a(href="").button.active
                      i.icon.thumbs.up
                    .count 10
                  .author.ui.image
                    img(src="img/etblue.jpg")
                  .a.user.item evan
                  a.a.timestamp.item 30 分鐘前‧修改過
                  p 少則幾十人，多則幾百人，如果沒有能力養那麼大的智庫，可以跟外面研究單位買報告……blahblah
                  a(href="").expand 展開全文
                    i.icon.double.angle.down
                .answer
                  .action
                    a(href="").button
                      i.icon.thumbs.up
                    .count 10
                  .author.ui.image
                    img(src="img/etblue.jpg")
                  .a.user.item evan
                  a.a.timestamp.item 30 分鐘前‧修改過
                  p 少則幾十人，多則幾百人，如果沒有能力養那麼大的智庫，可以跟外面研究單位買報告……blahblah
                  .responses
                    .response
                      .a.user.item etblue
                      | 潮爽der
                    .response
                      .a.user.item etblue
                      | oh my dayum
                    a(href="").response.new
                      i.icon.add
                      | 新推文
                a(href="").answer.new
                  i.icon.add
                  | 新正面回答
                .title 9 個反面回答
                  a(href="").expand 顯示全部
                    i.icon.double.angle.down
                .answer
                  .action
                    a(href="").button.active
                      i.icon.thumbs.up
                    .count 10
                  .author.ui.image
                    img(src="img/etblue.jpg")
                  .a.user.item evan
                  a.a.timestamp.item 30 分鐘前‧修改過
                  p 少則幾十人，多則幾百人，如果沒有能力養那麼大的智庫，可以跟外面研究單位買報告……blahblah
                  a(href="").expand 展開全文
                    i.icon.double.angle.down
                .answer
                  .action
                    a(href="").button
                      i.icon.thumbs.up
                    .count 10
                  .author.ui.image
                    img(src="img/etblue.jpg")
                  .a.user.item evan
                  a.a.timestamp.item 30 分鐘前‧修改過
                  p 少則幾十人，多則幾百人，如果沒有能力養那麼大的智庫，可以跟外面研究單位買報告……blahblah
                  .responses
                    .response
                      .a.user.item etblue
                      | 潮爽der
                    .response
                      .a.user.item etblue
                      | oh my dayum
                    a(href="").response.new
                      i.icon.add
                      | 新推文
                a(href="").answer.new
                  i.icon.add
                  | 新反面回答

          //- firebase 測試用
            | id:
            input(type="text",ng-model="newPlan.id",id="inputId")
            br
            | name:
            input(type="text",ng-model="newPlan.name",id="inputName")
            br
            button(ng-click="addPlan()") 新增方案
          //-.ui.segment.entry(ng-repeat="type in data.users[userid].subscribtions | filter:timelineFilter | orderBy:'edited.at'")
          //-.ui.segment.entry(ng-repeat="(type , list) in data.users[userid].subscribtions")
            .ui.attached.top.right.label.white.menu.action
              .ui.dropdown.item.vote(ng-class="")
                i.icon(ng-class="")
                .menu
                  .item.yes
                    i.icon.checkmark.checked
                  .item.unknown
                    i.icon.question
                  .item.no
                    i.icon.remove
              .item.bookmark(ng-class="")
                i.icon.star
              .item.subscribe(ng-class="")
                i.icon.rss
              .item.share(ng-class="")
                i.icon.forward.mail
            .ui.attached.top.left.label.status(ng-class="") {{ type }} {{ list }}
            .summary
              .topic
                .a.plan.item
                  a(href="proposal-content-plan.html") plan
                | 於
                .a.board.item
                  a(href="proposal-content-intro.html") name
              .log
                a(href="").a.user.item.diff-1 clkao
                | 編輯於 time
              .diff
            include -timeline-plan-meta
          //-block timeline
            include -proposal-in-timeline

block script
  script.
    $("#navbar .home").addClass("active");
    $("#sidebar .all").addClass("active");
