extends _template

block head
  script(src='assets/codemirror/codemirror.js')
  link(rel='stylesheet', href='assets/codemirror/codemirror.css')
  script(src='assets/firepad/firepad.js')
  link(rel='stylesheet', href='assets/firepad/firepad.css')

block title
  | 首頁

block body

  #index(ng-init="userid='etblue';view='timeline';timelineFilter=''",ng-controller="index")

    #sidebar.ui.vertical.menu
      //-a.item(href="",ng-controller="ctrl.user")
      a.item(ng-click="view='account'")
        .avatar
          img(src="img/etblue.jpg").rounded.corner
        .id {{ data.users[userid].name }}
        //.id {{user.username}}

      a.item(ng-click="view='timeline';timelineFilter=''")
        i.icon.home
        | 所有動態

      .repeat(ng-repeat="(type,list) in data.users[userid].pins")
        a.item(ng-click="view='timeline';timelineFilter=type")
          i.icon(ng-class="data.settings[type].icon")
          .ui.label.light.gray {{ list.length }} / {{ data.users[userid].subscribtions[type].length }}
          | {{ data.settings[type].name }}
        .menu
          a.item(ng-repeat="item in list | orderBy:'position'")
            | {{ data[type][item.id].name }}
            .ui.label 10

    #content
      .account(ng-show="view=='account'")
        .ui.menu
          a.item.activities(href="")
            | 我的活動紀錄
          .menu.activities
            a.item.subscribed(href="")
              i.icon.rss
              | 訂閱
            a.item.bookmarked(href="")
              i.icon.star
              | 收藏
            a.item.shared(href="")
              i.icon.forward.mail
              | 分享
            a.item.shared(href="")
              i.icon.checked.checkmark
              | 表態
            a.item.edited(href="")
              i.icon.pencil
              | 編輯
          a.item.achievements(href="")
            | 我的成就
          .menu.achievements
            a.item.composing(href="")
              i.icon.certificate
              | 彙編懶人包
            a.item.analyzing(href="")
              i.icon.certificate
              | 釐清議題
            a.item.planning(href="")
              i.icon.certificate
              | 規劃提案
            a.item.executing(href="")
              i.icon.certificate
              | 執行專案

      .timeline(ng-show="view=='timeline'")
        .ui.secondary.pointing.menu
          a.item.news.active 所有動態
          a.item.settings 設定
            i.icon.setting
          .right.menu
            include -sort-menu
        .in.timeline
          //-| id:
          //-input(type="text",ng-model="newPlan.id",id="inputId")
          //-br
          //-| name:
          //-input(type="text",ng-model="newPlan.name",id="inputName")
          //-br
          //-button(ng-click="addPlan()") 新增方案
          //-.ui.segment.entry(ng-repeat="type in data.users[userid].subscribtions | filter:timelineFilter | orderBy:'edited.at'")
          .ui.segment.entry(ng-repeat="(type , list) in data.users[userid].subscribtions")
            .ui.attached.top.right.label.white.menu.action
              .ui.dropdown.item.vote(ng-class="")
                i.icon(ng-class="")
                .menu
                  .item.yes
                    i.icon.checkmark.checked
                  .item.unknown
                    i.icon.question
                  .item.no
                    i.icon.remove
              .item.bookmark(ng-class="")
                i.icon.star
              .item.subscribe(ng-class="")
                i.icon.rss
              .item.share(ng-class="")
                i.icon.forward.mail
            .ui.attached.top.left.label.status(ng-class="") {{ type }} {{ list }}
            .summary
              .topic
                .a.plan.item
                  a(href="proposal-content-plan.html") plan
                | 於
                .a.board.item
                  a(href="proposal-content-intro.html") name
              .log
                a(href="").a.user.item.diff-1 clkao
                | 編輯於 time
              .diff
            include -timeline-plan-meta
          //-block timeline
            include -proposal-in-timeline

block script
  script.
    $("#navbar .home").addClass("active");
    $("#sidebar .all").addClass("active");
