extends issue-content-boards

block list
  include -project-in-list
  include -project-in-list
  include -project-in-list
  include -project-in-list
  include -project-in-list
  include -project-in-list
  include -project-in-list
  include -project-in-list
  include -project-in-list
  include -project-in-list

block script
  script.
    $("#navbar .issue").addClass("active");
    $("#header .switch .content").addClass("active");
    $("#header>.menu>.boards").addClass("active");
    $("#content>.category .project").addClass("active");
