extends proposal-content-plan

block content
  #toc
    .ui.fluid.two.item.menu.secondary.pointing
      a.item.this.active 本方案
      a.item.others 其他方案
    .this
      a(href="#1").header.level.one 國外政府 IT 基礎建設有納入 Open Source 的案例
      a(href="#2").header.level.two 國內 IT 基礎建設外包的法規, 相關單位, 實際案例及問題
      a(href="#3").header.level.three 標題三
      a(href="#4").header.level.one 國外政府 IT 基礎建設有納入 Open Source 的案例
      a(href="#5").header.level.two 國內 IT 基礎建設外包的法規, 相關單位, 實際案例及問題
      a(href="#6").header.level.three 標題三
  #chapters
    a.ui.icon.labeled.button.new.chapter 新章節
      i.icon.add
    .chapter.in.list
      .background
        .line
        .line.two
      a(name="1")
      .ui.segment.chapter.level.one
        a(href="proposal-content-plan-chapter.html").ui.top.right.attached.label.black.id 章節 1
        a(href="").ui.top.left.attached.label.black.handler
          i.icon.move
        .etherpad
          .article
            h3 國外政府 IT 基礎建設有納入 Open Source 的案例
            p
            h4 動民主系統規劃筆記：關於這一頁（提案→規劃→方案頁面）
            p 
              span.contributor ETBlue
              | 一個方案包含多個章節，每個章節是一個獨立的 etherpad。這樣做的用意是，複雜的大型計畫可以拆分成較容易消化的小塊來處理，對計畫撰寫人或讀者來說都比較輕鬆。另一方面，在方案定稿後的投票階段，不同章節是分開來投票的，也就是說，提案者比較難利用綑綁夾帶的方式將違背民意的內容蒙混過關。
            p 每個章節都可以插入一般的 reference：
              a(name="1" href="#reference").referral g0v.tw 台灣零時政府拜訪行政院蔡玉玲政委備忘
                span.ui.floating.label 1
              | 或者對策便利貼：
              .a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
                .ui.floating.label.yes
                  i.icon.checkmark.checked
            h4 預覽 only
            p 在本頁，每個章節僅供預覽，無法直接編輯內容，但可以調整章節之間的層級和順序。這樣做是為了簡化頁面的複雜度，畢竟不需要編輯的話，refercence、留言、便利貼的介面都可以省略。本頁的重點是讓使用者對這個方案有一個 whole picture。
            h4 大綱模式
            p 按住章節左上角的 handler 拖曳，就可以調整先後順序和大綱階層。拖曳完成後，右邊的 TOC 會自動跟著更新。按右上角的標籤，則會進入單一章節編輯頁面。
            h4 章節 footer
            p 底下有更新時間、更新者、還有本章的 checklist 進度，基本上，就是抄 hackpad 的。 XD
          .ui.bottom.attached.label.light.gray.meta
            a(href="") ETBlue
            | 更新於 1 分鐘前
            .comment.right
              i.icon.comment
              | 4
            .progress.right
              i.icon.checkbox.checked
              | 4/10 
      a(name="2")
      .ui.segment.chapter.level.two
        a(href="proposal-content-plan-chapter.html").ui.top.right.attached.label.black.id 章節 2
        a(href="").ui.top.left.attached.label.black.handler
          i.icon.move
        .etherpad
          .article
            h3 國內 IT 基礎建設外包的法規, 相關單位, 實際案例及問題
            p 
              span.contributor hychen
              | 緣由見: 
              a(name="1" href="#reference").referral g0v.tw 台灣零時政府拜訪行政院蔡玉玲政委備忘
                span.ui.floating.label 1
              |  之 2.2 項，會後之共識為 g0v.tw 透過 crowd sourcing 提出更嚴謹的書面建議文。
            h4 標題一
            p 內文一
              .a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
                .ui.floating.label.yes
                  i.icon.checkmark.checked
              | 內文一內文一內文一內文一內文一內文一內文一內文一內文一內文一內文一
            h5 標題二
            p 內文二
              .a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
                .ui.floating.label.yes
                  i.icon.checkmark.checked
              | 內文一內文一內文一內文一內文一內文一內文一內文一內文一內文一內文一
          .ui.bottom.attached.label.light.gray.meta
            a(href="") hychen
            | 更新於 1 分鐘前
            .progress.right
              i.icon.checkbox.checked
              | 4/10 
      a(name="3")
      .ui.segment.chapter.level.three
        a(href="proposal-content-plan-chapter.html").ui.top.right.attached.label.black.id 章節 3
        a(href="").ui.top.left.attached.label.black.handler
          i.icon.move
        .etherpad
          .article
            h3 為什麼政府該採用 open source, 其優缺點為何
            p 
              span.contributor hychen
              | 緣由見: 
              a(name="1" href="#reference").referral g0v.tw 台灣零時政府拜訪行政院蔡玉玲政委備忘
                span.ui.floating.label 1
              |  之 2.2 項，會後之共識為 g0v.tw 透過 crowd sourcing 提出更嚴謹的書面建議文。
            h4 標題一
            p 內文一
        .ui.bottom.attached.label.light.gray.meta
          a(href="") hychen
          | 更新於 1 分鐘前
          .progress.right
            i.icon.checkbox.checked
            | 4/10 
      a(name="4")
      .ui.segment.chapter.level.one
        a(href="proposal-content-plan-chapter.html").ui.top.right.attached.label.black.id 章節 4
        a(href="").ui.top.left.attached.label.black.handler
          i.icon.move
        .etherpad
          .article
            h3 國外政府 IT 基礎建設有納入 Open Source 的案例
            p 
              span.contributor hychen
              | 緣由見: 
              a(name="1" href="#reference").referral g0v.tw 台灣零時政府拜訪行政院蔡玉玲政委備忘
                span.ui.floating.label 1
              |  之 2.2 項，會後之共識為 g0v.tw 透過 crowd sourcing 提出更嚴謹的書面建議文。
              .a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
                .ui.floating.label.yes
                  i.icon.checkmark.checked
              | 內文一內文一內文一內文一內文一內文一內文一內文一內文一內文一內文一
            h4 標題一
            p 理論上，按住章節左上角的 handler 拖曳，就可以調整先後順序和大綱階層。拖曳後右邊的 TOC 會自動跟著更新。按右上角的標籤會進入單一章節編輯頁面。
              .a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
                .ui.floating.label.yes
                  i.icon.checkmark.checked
              | 內文一內文一內文一內文一內文一內文一內文一內文一內文一內文一內文一
          .ui.bottom.attached.label.light.gray.meta
            a(href="") hychen
            | 更新於 1 分鐘前
            .progress.right
              i.icon.checkbox.checked
              | 4/10 
      a(name="5")
      .ui.segment.chapter.level.two
        a(href="proposal-content-plan-chapter.html").ui.top.right.attached.label.black.id 章節 5
        a(href="").ui.top.left.attached.label.black.handler
          i.icon.move
        .etherpad
          .article
            h3 國內 IT 基礎建設外包的法規, 相關單位, 實際案例及問題
            p 
              span.contributor hychen
              | 緣由見: 
              a(name="1" href="#reference").referral g0v.tw 台灣零時政府拜訪行政院蔡玉玲政委備忘
                span.ui.floating.label 1
              |  之 2.2 項，會後之共識為 g0v.tw 透過 crowd sourcing 提出更嚴謹的書面建議文。
            h4 標題一
            p 內文一
            h5 標題二
            p 內文二
        .ui.bottom.attached.label.light.gray.meta
          a(href="") hychen
          | 更新於 1 分鐘前
          .progress.right
            i.icon.checkbox.checked
            | 4/10 
      a(name="6")
      .ui.segment.chapter.level.three
        a(href="proposal-content-plan-chapter.html").ui.top.right.attached.label.black.id 章節 6
        a(href="").ui.top.left.attached.label.black.handler
          i.icon.move
        .etherpad
          .article
            h3 為什麼政府該採用 open source, 其優缺點為何
            p 
              span.contributor hychen
              | 緣由見: 
              a(name="1" href="#reference").referral g0v.tw 台灣零時政府拜訪行政院蔡玉玲政委備忘
                span.ui.floating.label 1
              |  之 2.2 項，會後之共識為 g0v.tw 透過 crowd sourcing 提出更嚴謹的書面建議文。
            h4 標題一
            p 內文一
        .ui.bottom.attached.label.light.gray.meta
          a(href="") hychen
          | 更新於 1 分鐘前
          .progress.right
            i.icon.checkbox.checked
            | 4/10 

block script
  script.
    $("#navbar .proposal").addClass("active");
    $("#header .switch .content").addClass("active");
    $("#header .menu .plans").addClass("active");
    $("#subheader .menu .chapters").addClass("active");
