extends proposal-content

block head
  link(rel="stylesheet",href="css/page.css")

block header

block mini-header
  .ui.menu.inverted
    a(href="proposal-content-visions.html").item
      i.icon.left.arrow
      | 政府 IT 委外制度，引入開源碼發展模式可能性研究既建議案 (校閱中，3 天後交付立法院) - 願景

block menu-right
  //-include -proposal-sort-menu

block subheader
  .ui.menu.subheader
    .ui.steps
      a(href="proposal-content-vision.html").ui.step.vision.active 願景
      a(href="proposal-content-problem.html").ui.step.problem.normal 問題
      a(href="proposal-content-reason.html").ui.step.reason.normal 成因
      a(href="proposal-content-solution.html").ui.step.solution.normal 對策
    .ui.buttons.right.menu
      a.ui.labeled.icon.button 上一個願景
        i.icon.left.arrow
      include -proposal-navigation-scope-menu
      a.ui.right.labeled.icon.button 下一個願景
        i.icon.right.arrow
  .subject
    .sticker
      .ui.segment.vision
        .ui.label.number.top.right.attached.light.gray 願景 1
        | 使用者發現公共軟體有問題，可以馬上回報給開發人員，或直接動手幫忙修改
        .ui.label.meta.bottom.attached.light.gray
          a hychen
          | 於
          a 1 小時前發表
            | ，
            a(href="") 你
            a(href="") clkao
            a(href="") ipa
            a(href="") tkirby
            a(href="") jedi
            a(href="") au 
            | 與其他 
            a(href="") 10 人
            | 同意
block content
  .stickers
    .todo
      .sticker
        .ui.icon.labeled.button.new
          i.icon.add
          | 此願景對應的問題
      include -proposal-content-category-menu
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.problem
          a(href="proposal-content-problem.html").script 政府做了很多類似的蚊子網站、蚊子 app，難用又過時
          .ui.label.number.top.right.attached.light.gray 問題 1
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
            | ，
            a(href="") clkao
            a(href="") ipa
            a(href="") tkirby
            a(href="") jedi
            a(href="") au 
            | 與其他 
            a(href="") 10 人
            | 同意
      //-.ui.horizontal.divider 來自其他問題
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.problem
          a(href="proposal-content-problem.html").script 政府做了很多類似的蚊子網站、蚊子 app，難用又過時
          .ui.label.number.top.right.attached.light.gray 問題 1
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
            | ，
            a(href="") clkao
            a(href="") ipa
            a(href="") tkirby
            a(href="") jedi
            a(href="") au 
            | 與其他 
            a(href="") 10 人
            | 同意
    .done
      //-.ui.horizontal.divider 修改過
      .sticker.edited
        .ui.vertical.icon.menu.action
          a.item.yes.selected
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.problem
          a(href="proposal-content-problem.html").script 政府做了很多類似的蚊子網站、蚊子 app，難用又過時
          .ui.label.number.top.right.attached.light.gray 問題 1
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
            a 2 分鐘前編輯
      //-.ui.horizontal.divider 同意
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes.selected
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.problem
          a(href="proposal-content-problem.html").script 政府做了很多類似的蚊子網站、蚊子 app，難用又過時
          .ui.label.number.top.right.attached.light.gray 問題 1
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
            a 2 分鐘前編輯
            | ，
            a(href="") 你
            a(href="") clkao
            a(href="") ipa
            a(href="") tkirby
            a(href="") jedi
            a(href="") au 
            | 與其他 
            a(href="") 10 人
            | 同意
      //-.ui.horizontal.divider 不確定
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes
            i.icon.checkmark.checked
          a.item.unknown.selected
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.problem
          a(href="proposal-content-problem.html").script 政府做了很多類似的蚊子網站、蚊子 app，難用又過時
          .ui.label.number.top.right.attached.light.gray 問題 1
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
            | ，
            a(href="") clkao
            a(href="") ipa
            a(href="") tkirby
            a(href="") jedi
            a(href="") au 
            | 與其他 
            a(href="") 10 人
            | 同意
      //-.ui.horizontal.divider 不同意
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no.selected
            i.icon.remove
        .ui.segment.problem
          a(href="proposal-content-problem.html").script 政府做了很多類似的蚊子網站、蚊子 app，難用又過時
          .ui.label.number.top.right.attached.light.gray 問題 1
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
            | ，
            a(href="") clkao
            a(href="") ipa
            a(href="") tkirby
            a(href="") jedi
            a(href="") au 
            | 與其他 
            a(href="") 10 人
            | 同意
      
block script
  script.
    $("#navbar .proposal").addClass("active");
    $("#header .switch .content").addClass("active");
    $("#header .menu .visions").addClass("active");
