#index {
  padding: 0;
  position: relative;
}
#index #sidebar {
  width: 16rem;
  position: absolute;
  left: 0;
  top: 0;
}
#index #sidebar .avatar {
  display: inline;
}
#index #sidebar .avatar img {
  width: 3rem;
}
#index #sidebar .id {
  display: inline;
  vertical-align: middle;
  margin-left: 1rem;
}
#index #content {
  margin-left: 16rem;
  padding: 0.5rem;
}

.ui.vertical.menu > .repeat > .menu {
  padding: 0;
}
.ui.vertical.menu > .repeat > .menu .item {
  position: relative;
  margin: 0;
  padding-left: 2em;
  padding-right: 2.7em;
  font-size: 0.9rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ui.vertical.menu > .repeat > .menu .item .label {
  position: absolute;
  right: 0.95em;
  top: 1em;
}

.in.timeline .news {
  margin: 0 0 1rem 3.5rem;
  position: relative;
}
.in.timeline .news .author {
  position: absolute;
  left: -3.5rem;
  top: 0;
  width: 3rem;
  height: 3rem;
  -webkit-box-shadow: 0 0 1px black;
  -moz-box-shadow: 0 0 1px black;
  box-shadow: 0 0 1px black;
}
.in.timeline .news .expand {
  font-size: 0.9rem;
  color: #29abe2;
}
.in.timeline .news .content {
  padding: 0.5rem;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.in.timeline .news .content h2 + .expand {
  display: inline-block;
  margin-top: 0.5rem;
}
.in.timeline .news p:last-child {
  margin-bottom: 0;
}
.in.timeline .news .info .meta {
  background-color: white;
  border: 1px #dddddd solid;
  border-width: 0 1px;
}
.in.timeline .news .info .meta.ui.menu {
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
  border-radius: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 0;
}
.in.timeline .news .info .meta .item {
  font-size: 0.9rem;
  color: #29abe2;
  padding: 0.5em;
}
.in.timeline .news .info .a.timestamp.item {
  font-size: 0.9rem;
  float: right;
  color: #29abe2;
}
.in.timeline .news .info .responses {
  border: 1px #dddddd solid;
  border-width: 0 1px 1px 1px;
  background-color: white;
}
.in.timeline .news .info .responses .response {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.6);
  border-top: 1px #dddddd solid;
  padding: 0 0.5em;
}
.in.timeline .news .info .responses .response.new {
  padding: 0.5em;
  display: block;
  background-color: rgba(0, 0, 0, 0.05);
}
.in.timeline .news .info .answers {
  border: 1px #dddddd solid;
  border-width: 0 1px 1px 1px;
  background-color: white;
}
.in.timeline .news .info .answers .title {
  padding: 0.5rem;
  border-top: 1px #dddddd solid;
}
.in.timeline .news .info .answers .title .expand {
  margin-left: 1rem;
}
.in.timeline .news .info .answers .answer {
  border-top: 1px #dddddd solid;
  padding: 0 0.5em 0.5em;
  position: relative;
}
.in.timeline .news .info .answers .answer .action {
  position: absolute;
  font-size: 0.9rem;
  left: -2rem;
  width: 2rem;
  text-align: center;
  font-weight: bold;
}
.in.timeline .news .info .answers .answer .action .button {
  width: 100%;
  padding: 0.5em 0;
  display: block;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
}
.in.timeline .news .info .answers .answer .action .button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.in.timeline .news .info .answers .answer .action .button.active {
  color: white;
  background-color: green;
}
.in.timeline .news .info .answers .answer .action .button i.icon {
  font-size: 1rem !important;
  display: block;
  margin: 0;
}
.in.timeline .news .info .answers .answer .action .count {
  width: 100%;
}
.in.timeline .news .info .answers .answer .author {
  position: static;
  width: 2rem;
  height: 2rem;
}
.in.timeline .news .info .answers .answer .a.timestamp.item {
  margin-right: -0.5em;
}
.in.timeline .news .info .answers .answer.new {
  padding: 0.5em;
  font-size: 0.9rem;
  display: block;
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.05);
}
