#index {
  padding: 0;
  position: relative;
}
#index #sidebar {
  width: 16rem;
  position: absolute;
  left: 0;
  top: 0;
}
#index #sidebar .avatar {
  display: inline;
}
#index #sidebar .avatar img {
  width: 3rem;
}
#index #sidebar .id {
  display: inline;
  vertical-align: middle;
  margin-left: 1rem;
}
#index #content {
  margin-left: 16rem;
  padding: 0.5rem;
}

.ui.vertical.menu > .repeat > .menu {
  padding: 0;
}
.ui.vertical.menu > .repeat > .menu .item {
  position: relative;
  margin: 0;
  padding-left: 2em;
  padding-right: 2.7em;
  font-size: 0.9rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ui.vertical.menu > .repeat > .menu .item .label {
  position: absolute;
  right: 0.95em;
  top: 1em;
}

.in.timeline .label.status {
  padding: 0.5em !important;
}
.in.timeline .action {
  padding: 0 !important;
  font-size: 1rem;
  line-height: 1em;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.in.timeline .action .item {
  margin: 0;
  padding: 0.5em 1em;
  opacity: 0.7;
  color: #eeeeee;
}
.in.timeline .action .item:before, .in.timeline .action .item:after {
  display: none;
}
.in.timeline .action .item:hover {
  opacity: 1;
  background: none;
}
.in.timeline .action .icon {
  display: inline-block;
  margin: 0;
  font-size: 1.2rem;
  text-shadow: black 0 0 1px;
}
.in.timeline .action .yes:hover, .in.timeline .action .yes.selected {
  color: #39b54a;
}
.in.timeline .action .yes:hover .icon, .in.timeline .action .yes.selected .icon {
  opacity: 1;
}
.in.timeline .action .unknown:hover, .in.timeline .action .unknown.selected {
  color: #aaaaaa;
}
.in.timeline .action .unknown:hover .icon, .in.timeline .action .unknown.selected .icon {
  opacity: 1;
}
.in.timeline .action .no:hover, .in.timeline .action .no.selected {
  color: #f15a24;
}
.in.timeline .action .no:hover .icon, .in.timeline .action .no.selected .icon {
  opacity: 1;
}
.in.timeline .action .bookmark:hover, .in.timeline .action .bookmark.selected {
  color: #e5d500;
}
.in.timeline .action .bookmark:hover .icon, .in.timeline .action .bookmark.selected .icon {
  opacity: 1;
}
.in.timeline .action .subscribe:hover, .in.timeline .action .subscribe.selected {
  color: #f7931e;
}
.in.timeline .action .subscribe:hover .icon, .in.timeline .action .subscribe.selected .icon {
  opacity: 1;
}
.in.timeline .action .share:hover, .in.timeline .action .share.selected {
  color: #8cc63f;
}
.in.timeline .action .share:hover .icon, .in.timeline .action .share.selected .icon {
  opacity: 1;
}
.in.timeline .summary {
  margin: 2rem 0;
}
.in.timeline .log {
  font-size: 0.9rem;
}
.in.timeline .diff-1 {
  border-bottom: 2px #ffcccc solid;
}
.in.timeline .entry {
  margin: 0 0 0.5rem 0;
}
