doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var usecdn = false
- var useog = false
- var lib = { jquery: true, d3js: false, angular: false, bootstrap: false, semantic: true }
- var assets = "assets"
- var thumbnail = "http://dummy.thumbnail"
html
  head
    meta(charset="utf-8")
    //-meta(name="description",content="")

    // don't know what they're for
    //-meta(http-equiv="X-UA-Compatible",content="IE=edge")
    //-meta(name="viewport",content="width=device-width, initial-scale=1")

    // libraries
    include library.jade

    // firebase
    //-script(type="text/javascript",src='//cdn.firebase.com/v0/firebase.js')
    //-script(type="text/javascript",src="//cdn.firebase.com/v0/firebase-simple-login.js")

    // angular
    //-script(type="text/javascript",src="//cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js")
    //-script(type="text/javascript",src="app/controllers/controller.js")

    // custom
    //-script(type="text/javascript",src="index.js")
    link(rel="stylesheet",href="css/global.css")
    //-link(rel="stylesheet",href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700")

    block head

    title
      block title
      | | 全民公聽

  //-body(ng-app="main",ng-controller="ctrl.main")
  body
    nav#navbar
      .ui.menu
        a(href="index.html").item 全民公聽
          i.icon.right.angle
        a.item.subject.active
          block subject
        .right.menu
          .ui.dropdown.item 登入
            i.icon.dropdown
            .menu
              a.item
                i.icon.google.plus
                | google
              a.item
                i.icon.twitter
                | twitter
              a.item
                i.icon.facebook
                | facebook
        .right.item
          .ui.icon.input
            input(type="text",placeholder="搜尋...",ng-model="keyword")
            i.search.link.icon

    block body

    #script
      script.
        window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')
      //-script(src="js/vendor/modernizr-2.6.2.min.js")
      //-script(src="js/vendor/plugins.js")
      //-script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js')
      //-script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js')
      script(src="js/global.js")
      block script

