extends _template

block head
  script(src='assets/codemirror/codemirror.js')
  link(rel='stylesheet', href='assets/codemirror/codemirror.css')
  script(src='assets/firepad/firepad.js')
  link(rel='stylesheet', href='assets/firepad/firepad.css')
  script(src='assets/firepad/firepad-userlist.js')
  link(rel='stylesheet', href='assets/firepad/firepad-userlist.css')

block title
  | firepad 測試

block body
  .ui.header 動民主 firepad 測試
  #pad
    #userlist
    #firepad

block script
  script.
    // firepad only
    var firepadRef = new Firebase('https://edemocracy.firebaseio.com/pads/1');
    var codeMirror = CodeMirror(document.getElementById('firepad'), { lineWrapping: true });
    var userId = Math.floor(Math.random() * 9999999999).toString();
    var firepad = Firepad.fromCodeMirror(firepadRef, codeMirror,
      { richTextToolbar: false, richTextShortcuts: true, userId: userId});
    var firepadUserList = FirepadUserList.fromDiv(firepadRef.child('users'),
        document.getElementById('userlist'), userId);
    firepad.on('ready', function() {
      if (firepad.isHistoryEmpty()) {
        firepad.setText('Check out the user list to the left!');
      }
    });
//    var firepadDiv = document.getElementById('firepad');
//    var firepadRef = new Firebase('https://edemocracy.firebaseio.com');
//    var codeMirror = CodeMirror(firepadDiv, { lineWrapping: true });
//    var firepad = Firepad.fromCodeMirror(firepadRef, codeMirror,
//        { richTextShortcuts: true, richTextToolbar: true });
//    firepad.on('ready', function() {
//      if (firepad.isHistoryEmpty()) {
//        firepad.setHtml(
//            '<span style="font-size: 24px;">Rich-text editing with <span style="color: red">Firepad!</span></span><br/>\n' +
//            '<br/>' +
//            '<div style="font-size: 18px">' +
//            'Supports:<br/>' +
//            '<ul>' +
//              '<li>Different ' +
//                '<span style="font-family: impact">fonts,</span>' +
//                '<span style="font-size: 24px;"> sizes, </span>' +
//                '<span style="color: blue">and colors.</span>' +
//              '</li>' +
//              '<li>' +
//                '<b>Bold, </b>' +
//                '<i>italic, </i>' +
//                '<u>and underline.</u>' +
//              '</li>' +
//              '<li>Lists' +
//                '<ol>' +
//                  '<li>One</li>' +
//                  '<li>Two</li>' +
//                '</ol>' +
//              '</li>' +
//              '<li>Undo / redo</li>' +
//              '<li>Cursor / selection synchronization.</li>' +
//              '<li>And it\'s all fully collaborative!</li>' +
//            '</ul>' +
//            '</div>');
//      }
//    });
  style.
    body
    background-color: rgba(0,0,0,0.03)

