extends _template

block title
  | 兩岸經貿國是會議

block subject
  | 兩岸經貿國是會議

block body

  #meeting
    header#header.ui.segment
      .meta
        p
          .ui.label 日期
          | 3/30 - 4/30
        p
          .ui.label 主持
          | 行政院
      .subject
        h1 兩岸經貿國是會議
        p
          .ui.label.red 7 天內結束
          //-i.icon.star
          //-i.icon.rss
          //-i.icon.share.sign

    nav#sidebar.ui.vertical.menu
      a.header.item 前言
        i.icon.dropdown
      a.item 會議主旨與範疇
      a.header.item 主題：
        i.icon.dropdown
      a.item 會議主旨與範疇
      a.header.item 主題：
      a.header.item 結語
      a.item 制訂兩岸協議監督條例
      a.item 新增
        i.icon.add

    article#content

block script
  script.
    $("#navbar .home").addClass("active");
