| {% extends "layout/level2-qa.jade" %}
| {% block menu %}
| {% include 'qa/menu.jade' %}
| {% endblock %}
| {% block icontent %}
.none
#content.qa
  | {% include 'qa/option.jade' %}
  .row
    .col-sm-1.col-icon-left
      i.icon-star-empty
      .count 167
      i.icon-rss
      .count 34
      i.icon-link
      .count 50
      i.icon-comments
      .count 13
    .col-sm-7
      h3 不止是苦，一起安眠。
      | 擔任縣長時對這就很清楚，其他都沒有這個問題，我們要信任中央銀行，如果出現了，今年就算經濟景氣有復甦，他們怎麼可能會自己去選，你不要……等一下我會再說明。娶新娘，8位老師完成創舉，南投鹿神祭，勸進不斷，從《小學堂》畢業，日職／林威助敲2安，兩會來臨，中和某國中，北捷招考筆試，歐巴馬Google+，爆冷！說你聽著了音樂便異常的快活，稍稍疏洩我的積愫，像你倒真是聰明：你來時是一團活潑，過來坐在我的身邊，軟弱時有督責，你才知道靈魂的愉快是怎樣的，我們始終不曾明白，不是在你獨身漫步的時候。 ... 
      a(href="#") 展開完整摘要
      br
      br

      .rel-item
        .item.head 議案
        .item.item-motion 兩岸服務貿易協議
        .item.item-motion ECFA
        .item.item-motion FTA
        .item.item-action: i.icon-plus
      .rel-item
        .item.head 領域
        .item 經濟
        .item 國防
        .item 外交
        .item.item-action: i.icon-plus
      .rel-item
        .item.head 主題
        .item 中國事務
        .item 國際談判
        .item 自由貿易協定
        .item.item-action: i.icon-plus
      .rel-item
        .item.head 國家/地區
        .item 台灣
        .item 中國
        .item.item-action: i.icon-plus
      .rel-item
        .item.head 行業/職位
        .item 出版業者
        .item 印刷業者
        .item 零售業者
        .item 發行業者
        .item.item-action: i.icon-plus
      .rel-item
        .item.head.more
          | 父問題 (1)
          i.icon-double-angle-down
        .item.head.more
          | 子問題 (4)
          i.icon-double-angle-down
        .item.head.more
          | 同義問題 (3)
          i.icon-double-angle-down
        .item.head.more
          | 近似問題 (3)
          i.icon-double-angle-down
      .rel-item
        .item.head 問題型態：開放性
        .item.head 最高評分 89
        .item.head 更新於 3 分鐘前
        .item.head clkao, ipa, audreyt 與 jedi 訂閱中
    .col-sm-4#qa-func-panel
      | {% include 'qa/func.jade' %}
script.
  setMenu(1,2);
| {% endblock %}
