ul#menu.menu.menu-long
  li: a(href="/qa/new/") 新問題
  li: a(href="/qa/") 探索 
    i.count (13k)
  li: a(href="/qa/propose/"): del 訂閱 
    i.count (15)
  li: a(href="/qa/project/"): del 書籤 
    i.count (40)
  li: a(href="/qa/project/"): del 指定我作答 
    i.count (1)
  li: a(href="/qa/project/"): del 推薦我作答 
    i.count (7)
  li: a(href="/qa/project/"): del 我的發問 
    i.count (5)
  li: a(href="/qa/project/"): del 我的回答 
    i.count (18)
  li.dropdown
    a.dropdown-toggle(href="#",data-toggle="dropdown") 更新時間
    ul.dropdown-menu
      li: a(href="#") 更新時間
      li: a(href="#") 瀏覽人次
      li: a(href="#") 回答數
      li: a(href="#") 分享數
      li: a(href="#") 訂閱數
      li: a(href="#") 收藏數
      li: a(href="#") 最高評分
  li: a(href="#"): i.icon-arrow-up
  li: a(href="#"): del
    i.icon-gears
    |  
    i.icon-chevron-down
