ul#menu.menu.menu-long
  li: a(href="/qa/new/") 新問題
  li: a(href="/qa/") 探索 
    i.count (13k)
  li: a(href="/qa/propose/") 訂閱 
    i.count (15)
  li: a(href="/qa/project/") 書籤 
    i.count (40)
  li: a(href="/qa/project/") 指定我作答 
    i.count (1)
  li: a(href="/qa/project/") 推薦我作答 
    i.count (7)
  li: a(href="/qa/project/") 我的發問 
    i.count (5)
  li: a(href="/qa/project/") 我的回答 
    i.count (18)
  li: a(href="/qa/project/") 更新時間 
  li: a(href="#"): i.icon-arrow-up
  li: a(href="#")
    i.icon-gears
    |  
    i.icon-chevron-down
