| {% verbatim %}
#qa-option
  .form
    .form-row
      .form-label 時間範圍
      .form-input
        .btn-group
          button.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
            | 自訂區間
            i.caret
          ul.dropdown-menu(role="menu")
            li: a(href="#")  全部
            li: a(href="#")  一週內
            li: a(href="#")  一個月內
            li: a(href="#")  三個月內
            li: a(href="#")  一年內
            li: a(href="#")  自訂區間

        |  
        | 由
        input(type="date")
        | 至
        input(type="date")
    .form-row
      .form-label 議案
      .form-input
        .more-tag: i.icon-chevron-down
        .btn-group(ng-repeat="item in motionList")
          .btn.btn-default
            | {{item.name}}
            i.count ( {{item.count}} )
          .btn.btn-default: i.icon-remove
    .form-row
      .form-label 提案
      .form-input
        .btn-group(ng-repeat="item in proposeList")
          .btn.btn-default
            | {{item.name}}
            i.count ( {{item.count}} )
          .btn.btn-default: i.icon-remove
        .btn.btn-default: i.icon-plus
    .form-row
      .form-label 專案
      .form-input
        .btn-group(ng-repeat="item in projectList")
          .btn.btn-default
            | {{item.name}}
            i.count (  {{item.count}} )
          .btn.btn-default: i.icon-remove
        .btn.btn-default: i.icon-plus
    .form-row
      .form-label 標籤
      .form-input
        .more-tag: i.icon-chevron-down
        a(href="#",ng-click="tglcls('tag','detail','brief')") 
          span.tag-brief 展開
          span.tag-detail 收合
          | 分類
        |   
        span.tag-brief
          .btn-group(ng-repeat="item in tagList")
            .btn.btn-default.btn-cat
              | {{item.name}}
              i.count ( {{item.count}} )
            .btn.btn-default.btn-cat: i.icon-remove
          .btn.btn-default: i.icon-plus

    | {% endverbatim %}
    .tag-detail.sub
      | {% include 'qa/tag-detail.jade' %}
    | {% verbatim %}
    .form-row
      .form-label 公民
      .form-input
        a(href="#") 展開分類
        |   
        .btn-group(ng-repeat="item in citizenList")
          .btn.btn-default.btn-citizen
            | {{item.name}}
          .btn.btn-default.btn-citizen: i.icon-remove
        .btn.btn-default: i.icon-plus
| {% endverbatim %}
