doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var usecdn = false
- var useog = false
- var lib = { jquery: true, d3js: true, angular: true, bootstrap: true, semantic: false }
- var assets = "assets"
- var thumbnail = "http://dummy.thumbnail"
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    title template
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="sample.css")
    script(type="text/javascript",src='//cdn.firebase.com/v0/firebase.js')
    script(type="text/javascript",src="//cdn.firebase.com/v0/firebase-simple-login.js")
    script(type="text/javascript",src="//cdn.firebase.com/libs/angularfire/0.5.0/angularfire.min.js")

    script(type="text/javascript",src="index.js")
  body(ng-app="main",ng-controller="ctrl.main")
    .navbar.navbar-default.navbar-fixed-top(role="navigation")
      .navbar-header
        a.navbar-brand(href="#") 動民主
      ul.nav.navbar-nav.navbar-right(ng-controller="ctrl.user")
        li: a(href="#",ng-show="!user",ng-click="login()") login
        li: a(href="#",ng-show="user") {{user.username}}
        li: a(href="#",ng-show="user",ng-click="logout()") logout
    #content
      h3
        | 提案列表
      #proposal(ng-controller="ctrl.proposal")
        
        form#new-proposal.proposal
          .ib(style="text-align: center;cursor: pointer",ng-click="nppanel=true",ng-show="!nppanel") 
            | 建立新提案
          .ib(ng-show="nppanel")
            .form-group
              label 提案標題
              input.form-control(type="text",placeholder="例如：興建丹大野生動物樂園之可能性",ng-model="cur.name")
            .form-group
              label 提案摘要
              input.form-control(type="text",placeholder="簡述此提案之內容及重點提示",ng-model="cur.desc")
            label 設定
            .form-group
              .checkbox-inline
                label
                  input(type="checkbox",ng-model="cur.config.allowAnonymous")
                  | 允許未登入使用者投票
              .checkbox-inline
                label
                  input(type="checkbox",ng-model="cur.config.allowProxy",disabled)
                  | 允許代理投票
            label 投票類型
            .form-group
              .radio-inline
                label
                  input(type="radio",ng-model="cur.config.method",value="1")
                  | 單選投票
              .radio-inline
                label
                  input(type="radio",ng-model="cur.config.method",value="2")
                  | 複選投票
              .radio-inline
                label
                  input(type="radio",ng-model="cur.config.method",value="3")
                  | 複選且排名投票
            .btn.btn-success(ng-click="create()") 新增
            .btn.btn-default(ng-click="nppanel=false") 取消
        .proposal(ng-repeat="(k,p) in list")
          .panel
            .vote
              .btn(ng-click="vote(p,0)")
                i.glyphicon.glyphicon-chevron-up
                | {{p.vote[0].length}}
              .btn(ng-click="vote(p,1)") 
                i.glyphicon.glyphicon-minus
                | {{p.vote[1].length}}
              .btn(ng-click="vote(p,2)") 
                i.glyphicon.glyphicon-chevron-down
                | {{p.vote[2].length}}
            .btn: i.glyphicon.glyphicon-remove(ng-click="delete(k)")
            .btn: i.glyphicon.glyphicon-floppy-disk(ng-click="save(k)")

          h3
            | 提案: 
            span(contenteditable,ng-model="p.name")
            | 
            small(ng-show="p.config.method==1") 單選
            small(ng-show="p.config.method==2 || !p.config.method") 複選
            small(ng-show="p.config.method==3") 複選 / 排名
            | 
            small(ng-show="p.config.allowAnonymous") 不需登入
            
          .ib
            .summary
              .title 摘要
              .desc(contenteditable,ng-model="p.desc")
            h3 主要的問題
            .issues(ng-controller="ctrl.issue")
              .issue(ng-repeat="n in p.link['child']|type:'issue'")
                | {{get("issue",n.id).name}}
                i.glyphicon.glyphicon-remove(ng-click="delete(n.id)")
              h5(ng-click="showNewIssue=true",ng-show="!showNewIssue",style="cursor: pointer") ... 或新增問題
              .issue(ng-show="showNewIssue")
                form.plan.form-inline
                  .form-group: input.form-control(type="text",placeholder="描述問題",ng-model="cur.name")
                  button.btn.btn-success(ng-click="createWith('child','proposal',k,p)") 新增
                  button.btn.btn-default(ng-click="showNewIssue=false") 取消

            h3 方案
            .plans
              .row
                .col-sm-6(style="border-right: 1px dashed #999")
                  .title 以下方案可供選擇：
                  .ib(ng-controller="ctrl.plan")
                    .plan(ng-repeat="s in p.link['choice']|type:'plan'|picked:p:false",ng-click="pick(p,s.id)")
                      | {{get("plan",s.id).name}}
                      i.glyphicon.glyphicon-remove(ng-click="purge(s.id)",ng-show="p.creator.id==user.id")
                .col-sm-6
                  .title 你選擇的方案
                  .ib(ng-controller="ctrl.plan")
                    .plan(ng-repeat="s in p.link['choice']|type:'plan'|picked:p:true",ng-click="pick(p, s.id)") 
                      | {{get("plan",s.id).name}}
                      .rank(ng-show="p.config.method==3") {{$index + 1}}

              .panel(ng-show="false")
                .title 可選的方案
                .plan(ng-repeat="s in picked(p,false)",ng-controller="ctrl.plan")
                  span(ng-click="pick(p, s)")
                    | {{get("plan",s).name}}
                    span(ng-click="purge(s)") x
              .title 你也可以提新方案
              form.plan.form-inline(ng-controller="ctrl.plan")
                .form-group: input.form-control(type="text",placeholder="方案簡稱",ng-model="cur.name")
                .form-group: input.form-control(type="text",placeholder="方案描述",ng-model="cur.desc")
                button.btn.btn-success(ng-click="createWith('choice','proposal',k,p)") 新增
            hr
            .comments(ng-controller="ctrl.comment")
              h3 留言
              .comment.form-inline
                .form-group(style="width:50%"): input.form-control(type="text",ng-model="cur.desc",placeholder="...")
                .btn.btn-success(ng-click="createWith('comment','proposal',k,p)") 送出
              .comment(ng-repeat="c in p.link['comment']") 
                .desc
                  | {{get("comment",c.id).desc}}
                  .panel
                    .vote
                      .btn(ng-click="vote(get('comment',c.id),0)")
                        i.glyphicon.glyphicon-chevron-up
                        | {{get('comment',c.id).vote[0].length}}
                      .btn(ng-click="vote(get('comment',c.id),1)")
                        i.glyphicon.glyphicon-minus
                        | {{get('comment',c.id).vote[1].length}}
                      .btn(ng-click="vote(get('comment',c.id),2)")
                        i.glyphicon.glyphicon-chevron-down
                        | {{get('comment',c.id).vote[2].length}}
                    .btn: i.glyphicon.glyphicon-remove(ng-click="delete(c.id,p)")
                    | by 
                    i {{get("comment",c.id).creator.username || "anonymous"}}


          div(ng-show="false")
            span title
            span description
            span creator
            span administrator
            span options
            span vision
            span question
            span cause
            span solution
      div(ng-show="false")
        h3 Plan
        #plan(ng-controller="ctrl.plan")
          div new plan
            input(type="text",placeholder="name",ng-model="cur.name")
            input(type="text",placeholder="desc",ng-model="cur.desc")
            button(ng-click="create()") new
          .plan(ng-repeat="(k,p) in list")
            h4
              | {{p.name}}
              span(ng-click="purge(k)") x
            .desc 
              | {{p.desc}}
            .vote
              span(ng-click="vote(p,0)") up {{p.vote[0].length}}
              span(ng-click="vote(p,1)") neutral {{p.vote[1].length}}
              span(ng-click="vote(p,2)") down {{p.vote[2].length}}
            .desc
              | created by {{p.creator.username}}
        h3 Names
        #names(ng-controller="ctrl.name")
          input(type="text",placholder="find a name...",ng-model="keyword")
          | {{keyword}}
          .names(ng-repeat="v in result")
            h4 {{v.name}}
            .desc
              span(ng-repeat="i in v.list") {{i.type}}

      #footer
