html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 13px;
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; }

body {
  padding: 20px;
  margin-bottom: 20px; }

.footer {
  margin: 20px;
  padding: 20px; }

.navbar .ib {
  margin: 0 auto;
  width: 80%; }

#content {
  width: 80%;
  margin: 50px auto; }

h4.pull-right.switch {
  margin-right: 20px; }

.choice .glyphicon-remove, .choices-detail .glyphicon-remove {
  color: #ff0022;
  margin: 0 5px; }

.choice {
  position: relative;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  background: #f9f9f9;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none; }
  .choice .rank {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 0.5em;
    background: red;
    color: white;
    font-weight: 900;
    display: inline-block;
    width: 14px;
    height: 14px;
    text-align: center;
    line-height: 14px;
    border-radius: 50%; }

.choices-detail .creator {
  margin-top: 20px;
  border-top: 1px dashed #999999;
  padding-top: 10px;
  color: #999999; }

.choice-stat {
  display: block;
  margin: 20px 0; }
  .choice-stat text {
    font-size: 10px; }

#proposal-list .proposal {
  margin: 10px;
  float: left;
  border: 1px solid #cccccc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  width: 200px;
  cursor: pointer; }
  #proposal-list .proposal .ib {
    position: relative;
    margin: 10px; }
    #proposal-list .proposal .ib .stick {
      position: absolute;
      z-index: 2; }
    #proposal-list .proposal .ib .thumb {
      position: relative;
      z-index: 1;
      width: 178px;
      height: 128px;
      border: 1px solid #cccccc;
      margin-bottom: 10px;
      background: #eeeeee;
      overflow: hidden;
      white-space: pre; }
      #proposal-list .proposal .ib .thumb .name, #proposal-list .proposal .ib .thumb .desc {
        position: absolute;
        top: 0;
        height: 128px;
        color: white;
        font-size: 64px;
        line-height: 128px;
        text-align: center; }
      #proposal-list .proposal .ib .thumb .desc {
        font-size: 24px;
        line-height: 24px;
        color: #f9f9f9; }
    #proposal-list .proposal .ib .name {
      font-size: 1.2em;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 25px; }
    #proposal-list .proposal .ib .desc {
      text-align: center;
      height: 53px;
      overflow: hidden;
      font-size: 12px;
      margin: 5px 0; }
    #proposal-list .proposal .ib .detail {
      margin: 3px 0; }

.panel-title .glyphicon {
  margin-right: 5px; }

.notify {
  margin-left: 10px;
  display: inline-block; }

.choice-panel .glyphicon-ok {
  color: #009922;
  margin-left: 5px; }
.choice-panel .col-sm-4 {
  text-align: center;
  border-right: 1px dashed #cccccc;
  min-height: 220px; }
.choice-panel .col-sm-4:last-of-type {
  border-right: none; }

.vote-timer {
  text-align: center;
  border-bottom: 1px dashed #cccccc;
  padding-bottom: 25px; }
  .vote-timer h4 {
    font-weight: 900;
    font-size: 42px;
    margin: 20px 0 5px;
    color: #ff0022; }
  .vote-timer .desc, .vote-timer .dur {
    display: block; }
  .vote-timer .desc {
    font-size: 18px;
    font-weight: 900;
    margin: 10px 0; }
  .vote-timer .dur {
    font-size: 12px; }

.comment {
  padding: 20px;
  border-bottom: 1px solid #cccccc; }

.vote {
  float: right;
  margin-left: 25px; }
  .vote span {
    cursor: pointer;
    padding: 3px;
    margin-left: 5px; }
    .vote span:hover {
      border-bottom: 2px solid #cccccc;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }
  .vote .num {
    display: inline-block;
    min-width: 10px; }

#foot {
  margin: 30px;
  padding: 30px; }
