html,body
  margin: 0
  padding: 0
  width: 100%
  height: 100%
  font-size: 13px

body
  padding: 20px
  margin-bottom: 20px

.navbar
  .ib
    margin: 0 auto
    width: 80%

#content
  width: 80%
  margin: 50px auto

h4.pull-right.switch
  margin-right: 20px

.choice
  display: inline-block
  margin: 10px
  padding: 10px
  background: #f9f9f9
  border: 1px solid #e9e9e9
  border-radius: 5px
  cursor: pointer
  user-select: none
  -webkit-user-select: none

.choice-stat
  display: block
  margin: 20px 0
  text
    font-size: 10px

#proposal-list
  .proposal
    margin: 10px
    float: left
    border: 1px solid #ccc
    box-shadow: 0 1px 3px rgba(0,0,0,0.2)
    width: 200px
    .ib
      position: relative
      margin: 10px
      .stick
        position: absolute
      .thumb
        width: 178px
        height: 148px
        border: 1px solid #ccc
        margin-bottom: 10px
        background: #eee
      .name
        font-size: 1.2em
        text-align: center
      .desc
        text-align: center
      .detail
        margin: 3px 0
