<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <title>template</title>
    <!-- libraries-->
    <script type="text/javascript" src="assets/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="assets/d3js/3.3.11/d3.v3.min.js"></script>
    <script type="text/javascript" src="assets/angular/1.2.3/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/3.0.2/css/bootstrap.min.css">
    <script type="text/javascript" src="assets/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <!-- custom files-->
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/3.0.2/theme/bootstrap.cosmo.min.css">
    <link rel="stylesheet" type="text/css" href="datetimepicker.css">
    <link rel="stylesheet" type="text/css" href="simple.css">
    <script type="text/javascript" src="//cdn.firebase.com/v0/firebase.js"></script>
    <script type="text/javascript" src="//cdn.firebase.com/v0/firebase-simple-login.js"></script>
    <script type="text/javascript" src="//cdn.firebase.com/libs/angularfire/0.5.0/angularfire.min.js"></script>
    <script type="text/javascript" src="moment.min.js"></script>
    <script type="text/javascript" src="datetimepicker.js"></script>
    <script type="text/javascript" src="index.js"></script>
    <script type="text/javascript" src="simple.js"></script>
  </head>
  <body ng-app="simple" ng-controller="ctrl.main">
    <div ng-controller="ctrl.simplebase">
      <div role="navigation" class="navbar navbar-default navbar-fixed-top">
        <div class="ib">
          <div class="navbar-header"><a href="#" class="navbar-brand">動民主0.5</a></div>
          <ul class="nav navbar-nav">
            <li ng-class="active(tab, 1)"><a href="#" ng-click="tab=1">發起新提案</a></li>
            <li ng-class="active(tab, 2)"><a href="#" ng-click="tab=2">提案列表</a></li>
            <li ng-class="active(tab, 3)" ng-show="propCur.name"><a href="#" ng-click="tab=3">{{propCur.name}}</a></li>
          </ul>
          <ul ng-controller="ctrl.user" class="nav navbar-nav navbar-right">
            <li><a href="#" ng-show="!user" ng-click="login()">登入</a></li>
            <li><a href="#" ng-show="user">{{user.username}}</a></li>
            <li><a href="#" ng-show="user" ng-click="logout()">登出</a></li>
          </ul>
        </div>
      </div>
      <div id="content">
        <div ng-show="tab==1" class="row">
          <form ng-controller="ctrl.proposal">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>提案名稱</label>
                  <input type="text" placeholder="提案名稱, 例如: 丹大野生動物保護區興建嘆息灣度假村之提案" ng-model="cur.name" class="form-control">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-6">
                    <label>開始時間</label>
                    <div class="form-group">
                      <div class="dropdown"><a data-toggle="dropdown" href="#">
                          <div class="input-group">
                            <input type="text" ng-model="cur.start" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                          </div></a>
                        <ul role="menu" aria-labelledby="dLabel" class="dropdown-menu">
                          <li>
                            <datetimepicker ng-model="cur.start"></datetimepicker>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label>期間長度</label>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-sm-4">
                          <input type="text" placeholder="天" ng-model="cur.duration.day" class="form-control">
                        </div>
                        <div class="col-sm-4">
                          <input type="text" placeholder="時" ng-model="cur.duration.hour" class="form-control">
                        </div>
                        <div class="col-sm-4">
                          <input type="text" placeholder="分" ng-model="cur.duration.min" class="form-control">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label>提案描述</label>
                  <textarea placeholder="提案描述" ng-model="cur.desc" style="min-height: 308px" class="form-control"></textarea>
                </div>
              </div>
              <div ng-show="false" class="col-sm-6">
                <div class="panel panel-default">
                  <div class="panel-heading">新增方案</div>
                  <div class="panel-body">
                    <div class="form-group">
                      <label>方案名稱</label>
                      <input type="text" placeholder="方案名稱, 例如: 反對" ng-model="cur.name" class="form-control">
                    </div>
                    <div class="form-group">
                      <label>方案描述</label>
                      <textarea placeholder="方案描述" ng-model="cur.desc" style="min-height: 100px" class="form-control"></textarea>
                    </div>
                    <div class="btn btn-success">新增方案</div>
                  </div>
                </div>
              </div>
            </div>
            <h4 ng-click="advancedConfig=!advancedConfig" class="pull-right switch"><a href="">進階設定...   </a></h4>
            <div ng-show="advancedConfig" style="padding: 10px" class="panel clearfix panel-default">
              <div style="clear:both" class="row">
                <div class="col-sm-6">
                  <div ng-controller="ctrl.simpletab" ng-init="cur.config.method=tab" class="panel panel-default">
                    <div class="panel-heading">投票選項 - <span ng-show="tab==1">單選式投票</span><span ng-show="tab==2">多選式投票</span><span ng-show="tab==3">排名式投票</span></div>
                    <div class="panel-body">
                      <ul style="margin-bottom:15px" class="nav nav-tabs">
                        <li ng-class="active(tab,1)" ng-click="cur.config.method=1;tab=1"><a href="">單選式投票</a></li>
                        <li ng-class="active(tab,2)" ng-click="cur.config.method=2;tab=2"><a href="">多選式投票</a></li>
                        <li ng-class="active(tab,3)" ng-click="cur.config.method=3;tab=3"><a href="">排名式投票</a></li>
                      </ul>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="cur.config.allowAnonymous">允許未登入使用者投票
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" disabled checked ng-model="cur.config.allowInvalidate">提供廢票選項
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="cur.config.allowNewPlan">有權投票者也可提出新方案
                        </label>
                      </div>
                      <hr>
                      <h5 ng-click="advancedOption=!advancedOption" style="cursor:pointer"><a href="">進階選項 ...</a></h5>
                      <div ng-show="advancedOption">
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" ng-model="cur.config.needPetition">需過連署門檻
                              </label>
                            </div>
                            <input type="text" placeholder="連署門檻(百分比), 例如: 50%" ng-model="cur.config.petitionCriteria" class="form-control">
                          </div>
                          <div class="col-sm-6">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" ng-model="cur.config.needEnoughSupport">需過得票門檻
                              </label>
                            </div>
                            <input type="text" placeholder="得票門檻(百分比), 例如: 50%" ng-model="cur.config.supportCriteria" class="form-control">
                          </div>
                        </div>
                        <div class="row">
                          <div ng-show="tab!=1" class="col-sm-6">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" ng-model="cur.config.limitedMultiChoiceCount">複選的選擇數量上限
                              </label>
                            </div>
                            <input type="text" placeholder="選擇數量上限, 如: 2" ng-model="multiChoiceCount" class="form-control">
                          </div>
                          <div ng-show="tab==1" class="col-sm-6">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" ng-model="cur.config.tiebreak">通過方案之支持度需領先一定程度
                              </label>
                            </div>
                            <input type="text" placeholder="支持度差距(百分比), 如: 5%" ng-model="cur.config.tiebreakValue" class="form-control">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div ng-controller="ctrl.simpletab" ng-init="cur.config.datetype=tab" class="panel panel-default">
                    <div class="panel-heading">投票期間設定 - <span ng-show="tab==1">固定期間</span><span ng-show="tab==2">自動期間</span></div>
                    <div class="panel-body">
                      <ul style="margin-bottom:15px" class="nav nav-tabs">
                        <li ng-class="active(tab,1)" ng-click="cur.config.datetype=1;tab=1"><a href="">固定期間</a></li>
                        <li ng-class="active(tab,2)" ng-click="cur.config.datetype=2;tab=2"><a href="">自動期間</a></li>
                      </ul>
                      <div ng-show="tab==2" class="row">
                        <div class="col-sm-6">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" ng-model="cur.config.autoCountDownByCriteria">投票率超過一定比例時才開始倒數
                            </label>
                          </div>
                          <input type="text" placeholder="投票率(百分比), 例如: 80%" ng-model="cur.config.autoCountDownCriteria" class="form-control">
                        </div>
                      </div>
                      <div ng-show="tab==2" class="row">
                        <div class="col-sm-6">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" ng-model="cur.config.autoStart">解答所有提問後一定時間內自動開始
                            </label>
                          </div>
                          <input type="text" placeholder="時間長度, 例如: 6小時, 3天" ng-model="cur.config.autoStartDelay" class="form-control">
                        </div>
                        <div class="col-sm-6">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" ng-model="cur.config.autoStartByCriteria">有效方案達一定數量以後自動開始
                            </label>
                          </div>
                          <input type="text" placeholder="方案數量, 例如: 3 " ng-model="autoStartCriteria" class="form-control">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <h4 ng-click="quality=!quality" class="pull-right switch"><a href="">提案品質控管設定...</a></h4>
              <div ng-show="quality" style="clear:both" class="row">
                <div class="col-sm-6">
                  <div ng-controller="ctrl.simpletab" class="panel panel-default">
                    <div class="panel-heading">提案品質設定</div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" ng-model="cur.config.needValid">方案須有效
                            </label>
                          </div>
                          <input type="text" placeholder="有效門檻: 按讚的人數. 例如: 20" ng-model="cur.config.needValidCriteria" class="form-control">
                        </div>
                        <div class="col-sm-6">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" ng-model="cur.config.needValidSolution">方案需連結有效對策
                            </label>
                          </div>
                          <input type="text" placeholder="對策數下限. 例如: 1" ng-model="cur.config.needSolutionCriteria" class="form-control">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" ng-model="cur.config.needValidIssue">對策須連結有效問題
                            </label>
                          </div>
                          <input type="text" placeholder="問題數下限, 如: 1" ng-model="cur.config.needIssueCriteria" class="form-control">
                        </div>
                        <div class="col-sm-6">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" ng-model="cur.config.needValidVision">問題須連結有效願景
                            </label>
                          </div>
                          <input type="text" placeholder="願景數下限, 如: 1" ng-model="cur.config.needVisionCriteria" class="form-control">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div ng-controller="ctrl.simpletab" class="panel panel-default">
                    <div class="panel-heading">建立對策、問題、願景等項目</div>
                    <div class="panel-body">
                      <ul style="margin-bottom:15px" class="nav nav-tabs">
                        <li ng-class="active(tab,1)" ng-click="tab=1"><a href="">建立對策</a></li>
                        <li ng-class="active(tab,2)" ng-click="tab=2"><a href="">建立問題</a></li>
                        <li ng-class="active(tab,3)" ng-click="tab=3"><a href="">建立願景</a></li>
                      </ul>
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="form-group">
                            <label>標題</label>
                            <input type="text" placeholder="標題" disabled class="form-control">
                          </div>
                          <div class="form-group">
                            <label>描述</label>
                            <input type="text" placeholder="描述" disabled class="form-control">
                          </div>
                        </div>
                      </div>
                      <div class="btn btn-success">建立</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr style="clear:both">
            <div class="row">
              <div class="col-sm-12">
                <div ng-click="create()" class="btn btn-success">建立提案</div>
              </div>
            </div>
            <div class="footer"></div>
          </form>
        </div>
        <div ng-show="tab==2">
          <div id="proposal-list" ng-controller="ctrl.proposal">
            <div ng-repeat="p in list" ng-click="updatePropCur(p)" class="proposal">
              <div class="ib">
                <div class="stick">
                  <div class="label label-success">已投</div>
                </div>
                <div class="thumb">
                  <div class="desc">{{p.desc}}</div>
                  <div class="name">{{p.name}}</div>
                </div>
                <div class="name">{{p.name}}</div>
                <div class="desc">{{p.desc}}</div>
                <div class="detail">
                  <div class="label label-danger">投票中</div>
                  <div class="label label-warning">投票率50%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-show="tab==3">
          <div id="current-proposal" ng-controller="ctrl.proposal">
            <div class="row">
              <div class="col-sm-8">
                <h2> <small>提案  </small>{{propCur.name}}</h2>
              </div>
              <div class="col-sm-4"><small style="margin-top:38px" class="pull-right">表决時間: <span ng-show="propCur.start">{{propCur.start|date:'yyyy/MM/dd HH:mm'}}</span><span ng-show="!propCur.start">未定</span><span ng-show="propCur.start"> ~ <span ng-show="propCur.end">{{propCur.end|date:'yyyy/MM/dd HH:mm'}}</span><span ng-show="!propCur.end">未定</span></span></small></div>
            </div>
            <div class="well">{{propCur.desc}}</div>
            <div id="prop-cur-plans" class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"><a data-toggle="collapse" data-parent="#prop-cur-plans" href="#prop-cur-plans-state"><i class="glyphicon glyphicon-hand-right"></i>方案與決策</a></h4>
                </div>
                <div id="prop-cur-plans-state" class="panel-collapse collapse in">
                  <div class="panel-body choice-panel">
                    <div class="row">
                      <div class="col-sm-4">
                        <h4>所有方案</h4>
                        <div>
                          <div ng-repeat="p in propCur.link['choice']|value" ng-click="pick(propCur, p.id)" class="choice">{{p.v.name}}<i ng-show="isPicked(propCur,p.id)" class="glyphicon glyphicon-ok"></i></div>
                        </div>
                      </div>
                      <div style="text-align:center" class="col-sm-4">
                        <h4>你的選擇</h4>{{picks}}
                        <div ng-show="user.id">
                          <div ng-repeat="p in picked(propCur,true)" ng-click="pick(propCur, p.id)" class="choice">{{p.v.name}}</div>
                        </div>
                        <div ng-show="!user.id">
                          <div ng-controller="ctrl.user" ng-click="login()" class="btn btn-primary">想要參與決策嗎？立刻登入</div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <h4>表決狀態
                          <svg width="100%" height="160px" viewBox="0 0 200 160" preserveAspectRatio="xMidYMid" class="choice-stat">
                            <g></g>
                            <g>
                              <g ng-repeat="(k,v) in cs.d">
                                <rect x="0" ng-attr-y="{{$index * 20}}" ng-attr-width="{{v.c * 10}}" height="15" ng-attr-fill="{{color(v.r.id)}}"></rect>
                                <text ng-attr-x="{{v.c * 10 + 5}}" ng-attr-y="{{$index * 20 + 11}}">{{v.r.v.name}} ( {{ v.c}} )</text>
                              </g>
                            </g>
                          </svg>
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"><a data-toggle="collapse" data-parent="#prop-cur-plans" href="#prop-cur-plans-new"><i class="glyphicon glyphicon-bullhorn"></i>我要提出新方案</a><a data-toggle="collapse" data-parent="#prop-cur-plans" href="#prop-cur-plans-new" class="pull-right active">進階選項...</a></h4>
                </div>
                <div id="prop-cur-plans-new" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div ng-controller="ctrl.plan" class="row">
                      <div class="col-sm-8">
                        <form>
                          <div class="form-group">
                            <label>方案名稱</label>
                            <input type="text" placeholder="方案名稱，例如：建議興建丹大野生動物保護區渡假村" ng-model="cur.name" class="form-control">
                          </div>
                          <div class="form-group">
                            <label>方案描述</label>
                            <textarea placeholder="方案內容簡述，例如：丹大野生動物區為台灣珍貴之野生動物產地..." style="min-height: 100px" ng-model="cur.desc" class="form-control"></textarea>
                          </div>
                          <div ng-click="added=createWith('choice','proposal',propCur.id,propCur)" class="btn btn-success">新增方案</div>
                          <div ng-show="added" ng-animate="'animate'" class="notify"><i class="glyphicon glyphicon-ok"></i> {{added.name}} 新增成功</div>
                        </form>
                      </div>
                      <div style="height:260px;overflow:scroll" class="col-sm-4">
                        <h4>你建立的方案</h4>
                        <div ng-controller="ctrl.plan">
                          <div ng-repeat="p in propCur.link['choice']|value" ng-click="pick(propCur, p.id)" ng-show="p.v.creator.id==user.id" class="choice">{{p.v.name}}<i ng-click="delete(p.id)" class="glyphicon glyphicon-remove"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>