html,body
  margin: 0
  padding: 0
  width: 100%
  height: 100%
  font-size: 13px

body
  padding: 20px
  margin-bottom: 20px

.navbar
  .ib
    margin: 0 auto
    width: 80%

#content
  width: 80%
  margin: 50px auto

h4.pull-right.switch
  margin-right: 20px
