#navbar
  .ui.secondary.pointing.menu
    a.item.home.active(href="/") 動民主
    a.item.issue(href="") 議題
    a.item.proposals(href="") 提案
    a.item.project(href="") 專案
    a.item.tags(href="") 標籤
    .item.right(ng-controller="LoginCtrl")
      .ui.button.facebook(ng-hide="loggedIn", ng-click="login()")
        i.icon.facebook
        | Login
      .ui.button.basic(ng-show="loggedIn", ng-click="logout()")
        i.icon.user
        | Logout
    .item.right
      .ui.icon.input
        input.ng-pristine.ng-valid(type="text" placeholder="搜尋..." ng-model="keyword")
        i.search.link.icon

