div(ng-cloak, ng-if="sideBarVisible", ng-controller="SidebarCtrl")
  a.item(ng-click="view='account'", ng-cloak, ng-if="loggedIn")
    .avatar
      img(ng-src="{{avatarUrl}}").ui.rounded.corner.image
    .id {{displayName }}

  a.item(ng-click="view='timeline';timelineFilter=''")
    i.icon.home
    | 所有動態

