head
  meta(charset="utf-8")
  link(rel="stylesheet",type="text/css",href="/s/v/css/bootstrap-glyphicons.css")
  link(rel="stylesheet",type="text/css",href="/s/v/css/bootstrap.min.css")
  link(rel="stylesheet",type="text/css",href="/s/css/index.css")
  link(rel="stylesheet",type="text/css",href="/s/css/infopanel.css")
  link(rel="stylesheet",type="text/css",href="/s/css/motion-propose.css")
  script(type="text/javascript",src="/s/v/js/jquery-1.10.2.min.js")
  script(type="text/javascript",src="/s/v/js/bootstrap.min.js")
  script(type="text/javascript",src="/s/js/index.js")
