| {% extends "layout/level1.jade" %}
| {% block content %}
.question.well
  .desc
    核融合技術如果發展成熟，核四廠有可能改採核融合嗎？
  .info
    span.about 關於
    span.category 第四核能發電廠 &#xab; 國家能源自主
.answer
  a.btn.btn-link &#xab; 上一題
  a.btn.btn-info 回答此問題
  a.btn &#xbb; 下一題
| {% endblock %}
