ul#submenu.submenu
  li: a(href="motion-index.html") 議案摘要
  li: a(href="motion-analyze.html") 議案分析 
    b (24)
  li: a(href="motion-propose.html") 相關提案 
    b (4)
  li: a(href="motion-project.html") 相關專案 
    b (1)
.button
  i.glyphicon.glyphicon-link
  i.glyphicon.glyphicon-list-alt
