.navbar
  a.navbar-brand(href="/") 動民主

  ul.nav.navbar-nav.navbar-right
    li: input.form-control.input-sm(type="text",placeholder="搜尋...")
    li: a(href="#"): i.icon.icon-book
      i.icon-14.icon-no
    li.dropdown
      a.dropdown-toggle(href="#",data-toggle="dropdown")
        i.icon.icon-star
          i.icon-11.icon-no
      ul.dropdown-menu

        li.notify: a(href="#")
          .ib.pull-right
            i.icon-microphone-off
          .head 1 新回答 
          | 來自
          strong 黃國昌
          | 於
          strong 政府官員利用上班時間處理黨務是合法的嗎？

        li.notify: a(href="#")
          i.icon-microphone-off.pull-right
          .head 2 新回答 
          | 與
          .head 1 共筆更新 
          | 來自
          strong 黃國昌、郝明義
          | 於
          strong 憲政危機是什麼？為什麼總統公審立法院院長會造成憲政危機？

    | {% if request.user.is_authenticated %}
    li.avatar: a(href="#"): img(src="http://graph.facebook.com/{{user.username}}/picture")
    li.username.dropdown
      a.dropdown-toggle(href="#",data-toggle="dropdown") {{ user.username }}
      ul.dropdown-menu
        li: a(href="#"): strong 選擇角色
        li: a(href="#") 
          img(src="http://graph.facebook.com/{{user.username}}/picture")
          |  {{user.username}}
        li: a.disabled(href="#")
          img(src="/s/img/no-avatar@30.png")
          |  其他..
        li: a(href="#") 個人頁面
        li: a(href="#") 設定
        li: a(href="#", onclick="$('#logout').submit();") 登出
        li: a(href="#") 系統說明
    | {% else %}
    li.avatar: a(href="#"): img(src="/s/img/no-avatar@30.png")
    li: a.action(href="#", data-toggle="modal", href="#login") 登入
    | {% endif %}
    li: a &nbsp;
  ul#navbar.nav.navbar-nav.navbar-left
    li: a(href="/qa/") 問答
    li: a(href="/motion/") 議案
    li: a(href="/propose/") 提案
    li: a(href="/project/") 專案
    li: a(href="#"): del 標籤
    li: a(href="#"): del 公民列表
