.navbar
  a.navbar-brand(href="/") 動民主

  ul.nav.navbar-nav.navbar-right
    li: input.form-control.input-sm(type="text",placeholder="搜尋...")
    li: a(href="#"): i.icon.icon-book
    li: a(href="#"): i.icon.icon-star
    | {% if request.user.is_authenticated %}
    li.avatar: a(href="#"): img(src="http://graph.facebook.com/{{user.username}}/picture")
    li.username.dropdown
      a.dropdown-toggle(href="#",data-toggle="dropdown") {{ user.username }}
      ul.dropdown-menu
        li: a(href="#"): strong 選擇角色
        li: a(href="#") 
          img(src="http://graph.facebook.com/{{user.username}}/picture")
          |  {{user.username}}
        li: a.disabled(href="#")
          img(src="/s/img/no-avatar@30.png")
          |  其他..
        li: a(href="#") 個人頁面
        li: a(href="#") 設定
        li: a(href="#", onclick="$('#logout').submit();") 登出
        li: a(href="#") 系統說明
    | {% else %}
    li.avatar: a(href="#"): img(src="/s/img/no-avatar@30.png")
    li: a.action(href="#", data-toggle="modal", href="#login") 登入
    | {% endif %}
    li: a &nbsp;
  ul#navbar.nav.navbar-nav.navbar-left
    li: a(href="/qa/") 問答
    li: a(href="/motion/") 議案
    li: a(href="/propose/") 提案
    li: a(href="/project/") 專案
    li: a(href="#"): del 標籤
    li: a(href="#"): del 公民列表
