extend layout-lv2
block submenu
  include motion-menu.jade
block content
    #content.row
      .col-lg-9
        .mtn-summary
          h3 學重物及國這育人她眾
          | 也許在美國，我們擔心自己永遠找不到人生中真正想要做的是什麼，沒錯！給你的頸根與胸膛一半日的自由，同在一個神奇的宇宙裡自得。金正恩:如敵人膽敢絲毫侵犯朝鮮領海，Jeremy爆冷奪冠，陸客瘋總統府，遊民喪命地下道，父離家十多年，國銀跨國債權，台灣最新英語能力表現報告！有，混合這些，然後就很多地方來說，突然間，甚至讓每個人更難有個正常的童年，幾乎我知道的每個基金，關注焦點比較放在美國和歐洲，這都會是最後一個晚上，她笑了，那是10年前，他自己之前在美國曾經在IT和電信產業待超過10年，他想要加入我們，就像人生中很多事情，因為他們的書實在太重了！
        .mtn-summary
          h3 在這段感情中，和全球對手競爭？
          | 把這些經費拿來買飛機、買柴電潛艦……田委員，如果你要問的話，我手上沒有那個表。完美，睡前總想著怎麼面對明天，還是雀巢性價比最高，燒水，停咖啡，第一次和別人聊天的時候，只有中國酒店，看來又得喝杯咖啡，可以哦，[推薦]如果覺得PowerAMP破解太麻煩，現在在煎蛋，不是不好，中午連瞇一會的地方都沒有，我剛剛在MyTown2中的Wendys贏得鮮煮咖啡津貼。比如沙包，我完全同意委員的看法，就不能再申請假釋，但針對臺灣的特殊狀況，現在臨時才告訴我，我們也是很辛苦走過來，郭委員剛才所講的都是我過去的建設，我想去香港，我一定努力做，大陸所捐的1千戶組合屋，這部分還有另外一個原因，未必是正確，不會發生哪個政黨被侵襲，就讓主計長說明一下嘛！10KM超越三人，慣竊黑吃黑，報復同居人母，扁戒護就醫，NBA／塞爾提克主場，五月天、蔡依林台中開唱獻愛心，陸房市交易量暴跌，豐濱落海失蹤男童，台電影星空，EOS，預拌車偷捲電纜，A-Rod湊熱鬧︰當我室友吧！
        .mtn-summary
          h3 我設定的立場用行動保證！
          | 這是一個很關鍵的優勢，但你不能夠只是因為害怕受傷就不參與，很快，因為他們的書實在太重了！咖啡館大商場甚至某條街的公廁，可以回答卡布奇諾，一晚上做咖啡聊咖啡聊貓，睡不著，咖啡苦了一點，咖啡永遠都能代表我的心情―苦澀中帶點香甜！
      .col-lg-2
        h4 引用來源
        ol(style="padding-left:15px")
          li http://more.handlino.com/
          li https://docs.google.com/folder/d/0B0NsS2a-Qx8Za0x6WURKTzcxeFk/edit?docId=0B0NsS2a-Qx8ZTEw2TWpteTVVNWs
          li http://getbootstrap.com/css/#grid
          li http://www.xd-crossdesign.com/2013/08/xd-2013-no1-innovative-citizen.html
    script.
      setMenu(2,1);
