.category.navigation
  .ui.pagination.menu.relation.hidden
    a.item.active 推薦
      .ui.label.light.gray 22
    a.item 訂閱中
      .ui.label.light.gray 9
    a.item 發表
      .ui.label.light.gray 1
    a.item 回應
      .ui.label.light.gray 3
    a.item 引用
      .ui.label.light.gray 2
    a.item 收藏
      .ui.label.light.gray 10
    a.item 邀稿
      .ui.label.light.gray 3

  .ui.pagination.menu.tag.hidden
    a.item.active 標籤一
      .ui.label.light.gray 22
    a.item 標籤二
      .ui.label.light.gray 4
    a.item 標籤三
      .ui.label.light.gray 10
    a.item 標籤四
      .ui.label.light.gray 3

  .ui.pagination.menu.board.hidden
    a.item.active 看板一
      .ui.label.light.gray 22
    a.item 看板二
      .ui.label.light.gray 4
    a.item 看板三
      .ui.label.light.gray 10
    a.item 看板四
      .ui.label.light.gray 3
