a.ui.right.labeled.icon.button.dropdown 12 / 50
  i.icon.triangle.down
  .menu
    .item.active 全部
      .ui.label.light.gray 50
    .item 推薦
      .ui.label.light.gray 22
    .item 同意
      .ui.label.light.gray 10
    .item 不確定
      .ui.label.light.gray 4
    .item 不同意
      .ui.label.light.gray 3
    .item 修改過
      .ui.label.light.gray 2
    .item 我發表的
      .ui.label.light.gray 6
