extends issue-content

block head
  link(rel="stylesheet",href="css/page.css")

block menu-right
  include -sort-menu

block content

  include -navigation

  .ui.two.column.stackable.grid.tag
    .column
      include -tag-in-list
    .column
      include -tag-in-list
    .column
      include -tag-in-list
    .column
      include -tag-in-list
    .column
      include -tag-in-list
    .column
      include -tag-in-list
    .column
      include -tag-in-list
    .column
      include -tag-in-list
    .column
      include -tag-in-list
    .column
      include -tag-in-list

  include -navigation

block script
  script.
    $("#navbar .issue").addClass("active");
    $("#header .switch .content").addClass("active");
    $("#header>.menu>.tags").addClass("active");
