a.ui.dropdown.item
  span.no.category 不分類
  span.relation.hidden 相關性
  span.tag.hidden 標籤
  span.board.hidden 看板
  i.dropdown.icon
  .menu
    .item.no.category.active 不分類
    .item.relation 相關性
    .item.tag 標籤
    .item.board 看板
