p Ghetto grocery bag. 
  span.diff-1 Dayum
  | , the cheese is oozin'. 
  span.diff-1 Dayum
  | , let's do this. 
  span.diff-1 Dayum
  | , 
  span.diff-1 dayum
  | , 
  span.diff-1 dayum
  | !. . 
p Do you wanna know the difference. Between a weak burger. And a burger that has strength?. A burger that has strength. . A weak burger, you can chew and still talk. A burger with strength, you chew. And the meat just absorbs all the space. And all the air possible all in your throat. 
