p To the point that if you wanted to start talkin'. Nothin' but mm-mm, mm-mm, mm-mm, mm-mm, mm-mm. Is comin' out. Word. . Skimmalarinky dinky dink. Skimmalarinky doo. I love you, you-you, you. (Oh my 
  span.diff-1 dayum
  | ). . 
