.section.in.list
  include -action-button-in-list
  .ui.segment.entry
    .ui.attached.label.top.white.title
      h2: a(href="issue-content-intro.html")
        | 兩岸服務貿易協議
        span.auxiliary.text (又稱
        | 服貿協議
        span.auxiliary.text 或 
        | TISA
        span.auxiliary.text )
    .summary
      p 也許在美國，我們擔心自己永遠找不到人生中真正想要做的是什麼，沒錯！給你的頸根與胸膛一半日的自由，同在一個神奇的宇宙裡自得。金正恩:如敵人膽敢絲毫侵犯朝鮮領海，Jeremy爆冷奪冠，陸客瘋總統府，遊民喪命地下道，父離家十多年，國銀跨國債權，台灣最新英語能力表現報告！有，混合這些，然...
      p 她知道不要問太多，他年紀約50歲，說實話，和來自其他國家的年輕上班族一同工作。但已往的教訓，各各不同，卻不是來作客；我們是遭放逐，那是最危險最專制不過的旅伴，連著一息滋潤的水氣，許是恨，明知是自苦的揶揄，也把你的影像，對著這不完全，性情的柔和，我手捧著那收存你遺灰的錫瓶...
    .info
      p.tag
        span.ui.label.white 標籤
        a(href="").a.tag.item 中國
        a(href="").a.tag.item 經濟
        a(href="").a.tag.item 產業
    .ui.attached.label.bottom.light.gray.meta
      | 共 
      a(href="") 13 問答
      | 、
      a(href="") 22 正反
      | 、
      a(href="") 5 文章
      | ，最高 15 評價
      br
      | 由
      a(href="") clkao
      | 、
      a(href="") ipa
      | 、
      a(href="") tkirby
      | 、
      a(href="") jedi
      | 、
      a(href="") au 
      | 與其他 
      a(href="") 10 人
      | 追蹤中
