.ui.segment.entry.plan.blue
  .ui.attached.top.right.label.white.menu.action
    .item.yes.selected
      i.icon.checkmark.checked
    .item.bookmark.selected
      i.icon.star
    .item.subscribe.selected
      i.icon.rss
    .item.share.selected
      i.icon.forward.mail
  .ui.attached.top.left.label.blue.status 3 天後送交立法院
  .summary
    .topic
      .a.plan.item
        a(href="proposal-content-plan.html") 方案 1
      | 於
      .a.board.item
        a(href="proposal-content-intro.html") 政府 IT 委外制度，引入開源碼發展模式可能性研究既建議案
      //-.ui.icon.right.labeled.button.small.more 展開大綱
        i.icon.down.arrow
      //-.more.hidden
        .a.chapter.item
          a(href="proposal-content-chapter.html") 國外政府IT基礎建設有納入Open Source 的案例
        .a.chapter.item
          a(href="proposal-content-chapter.html") 國內IT基礎建設外包的法規, 相關單位, 實際案例即問題
        .a.chapter.item
          a(href="proposal-content-chapter.html") 為什麼政府該採用 open source, 其優缺點為何
        .a.chapter.item
          a(href="proposal-content-chapter.html") 政府採用 open source 可能帶來衝擊
        .a.chapter.item
          a(href="proposal-content-chapter.html") 政府要如何在IT委外制度引入開源碼發展模式
        .a.chapter.item
          a(href="proposal-content-chapter.html") 建議的業務適用範圍
        .a.chapter.item
          a(href="proposal-content-chapter.html") 建議採用的 License
        .a.chapter.item
          a(href="proposal-content-chapter.html") bootstrap strategy
    .log
      a(href="").a.user.item.diff-1 clkao
      | 編輯於 10 分鐘前
    .diff
      include -dayum-1
  include -timeline-plan-meta
  //-
    a(href="") 2 提案
    a(href="") 13 問答
    a(href="") 22 正反
    a(href="") 5 文章
.ui.segment.entry.plan.orange
  .ui.attached.top.right.label.white.menu.action
    .item.unknown
      i.icon.ellipsis.vertical
    .item.bookmark
      i.icon.star
    .item.subscribe
      i.icon.rss
    .item.share
      i.icon.forward.mail
  .ui.attached.top.left.label.orange.status 投票中
  .summary
    .topic
      .a.plan.item
        a(href="proposal-content-plan.html") 方案 1
      | 於
      .a.board.item
        a(href="proposal-content-intro.html") 政府 IT 委外制度，引入開源碼發展模式可能性研究既建議案
    .log
      a(href="").a.user.item clkao
      | 留言於 10 分鐘前
    .diff
      include -dayum-2
  include -timeline-plan-meta
.ui.segment.entry.plan.teal
  .ui.attached.top.right.label.white.menu.action
    .item.unknown
      i.icon.ellipsis.vertical
    .item.bookmark
      i.icon.star
    .item.subscribe
      i.icon.rss
    .item.share
      i.icon.forward.mail
  .ui.attached.top.left.label.teal.status 已排入本月表決
  .summary
    .topic
      .a.plan.item
        a(href="proposal-content-plan.html") 方案 1
      | 於
      .a.board.item
        a(href="proposal-content-intro.html") 政府 IT 委外制度，引入開源碼發展模式可能性研究既建議案
    .log
      a(href="").a.user.item.diff-1 clkao
      | 編輯於 10 分鐘前
    .diff
      include -dayum-2
  include -timeline-plan-meta
.ui.segment.entry.plan.green
  .ui.attached.top.right.label.white.menu.action
    .item.unknown
      i.icon.ellipsis.vertical
    .item.bookmark
      i.icon.star
    .item.subscribe
      i.icon.rss
    .item.share
      i.icon.forward.mail
  .ui.attached.top.left.label.green.status 已達成案門檻
  .summary
    .topic
      .a.plan.item
        a(href="proposal-content-plan.html") 方案 1
      | 於
      .a.board.item
        a(href="proposal-content-intro.html") 政府 IT 委外制度，引入開源碼發展模式可能性研究既建議案
    .log
      a(href="").a.user.item.diff-1 clkao
      | 編輯於 10 分鐘前
    .diff
      include -dayum-3
  include -timeline-plan-meta
.ui.segment.entry.plan
  .ui.attached.top.right.label.white.menu.action
    .item.unknown
      i.icon.ellipsis.vertical
    .item.bookmark
      i.icon.star
    .item.subscribe
      i.icon.rss
    .item.share
      i.icon.forward.mail
  .ui.attached.top.left.label.black.status 已定稿
  .summary
    .topic
      .a.plan.item
        a(href="proposal-content-plan.html") 方案 1
      | 於
      .a.board.item
        a(href="proposal-content-intro.html") 政府 IT 委外制度，引入開源碼發展模式可能性研究既建議案
    .log
      a(href="").a.user.item.diff-1 clkao
      | 編輯於 10 分鐘前
    .diff
      include -dayum-3
  include -timeline-plan-meta
.ui.segment.entry.plan
  .ui.attached.top.right.label.white.menu.action
    .item.unknown
      i.icon.ellipsis.vertical
    .item.bookmark
      i.icon.star
    .item.subscribe
      i.icon.rss
    .item.share
      i.icon.forward.mail
  //-.ui.attached.top.left.label.status 未定稿，無排程
  .summary
    .topic
      .a.plan.item
        a(href="proposal-content-plan.html") 方案 1
      | 於
      .a.board.item
        a(href="proposal-content-intro.html") 政府 IT 委外制度，引入開源碼發展模式可能性研究既建議案
    .log
      a(href="").a.user.item.diff-1 clkao
      | 編輯於 10 分鐘前
    .diff
      include -dayum-3
  include -timeline-plan-meta
