.category.navigation.sticker.scope
  .ui.pagination.menu.small.relation
    a.item.active 全部
      .ui.label.light.gray 50
    a.item 推薦
      .ui.label.light.gray 22
    a.item 同意
      .ui.label.light.gray 10
    a.item 不確定
      .ui.label.light.gray 4
    a.item 不同意
      .ui.label.light.gray 3
    a.item 修改過
      .ui.label.light.gray 2
    a.item 我發表的
      .ui.label.light.gray 6
    a.ui.dropdown.item
      | 最近更新
      i.dropdown.icon
      .menu
        .item.newest.active 最近更新
        .item.largest 最多同意
