a.ui.dropdown.item
  | 最近更新
  i.dropdown.icon
  .menu
    .item.newest.active 最近更新
    .item.largest 最多內容
    .item.most.viewed 最多瀏覽
    .item.most.bookmarked 最多人收藏
    .item.most.subscribed 最多人訂閱
    .item.most.shared 最多人分享
    .item.best.content 最佳評價
