.section.in.list
  .ui.vertical.labeled.icon.menu.secondary.action
    a.item
      i.icon.star
      | 100
    a.item
      i.icon.rss
      | 100
  .ui.segment.entry
    .ui.attached.label.top.white.title
      h2: a(href="tag.html")
        | 出版業
    .summary
      p 也許在美國，我們擔心自己永遠找不到人生中真正想要做的是什麼，沒錯！給你的頸根與胸膛一半日的自由，同在一個神奇的宇宙裡自得。
    .info
      p.board
        span.ui.label.white 看板
        a(href="").a.board.item 兩岸服務貿易協議
        a(href="").a.board.item ECFA
        a(href="").a.board.item FTA
        a(href="").a.board.item 憲法113串連行動
    .ui.attached.label.bottom.light.gray.meta
      | 共 
      a(href="") 13 問答
      a(href="") 13 正反
      a(href="") 13 文章
      | ，最高 15 評價
      br
      | 由
      a(href="") 你
      a(href="") clkao
      a(href="") ipa
      a(href="") tkirby
      a(href="") jedi
      a(href="") au 
      | 與其他 
      a(href="") 10 人
      | 追蹤中

