.ui.attached.label.bottom.light.gray.meta
  a(href="").a.user.item hychen
  a(href="").a.user.item clkao
  a(href="").a.user.item etblue
  a(href="").a.user.item tuiry
  a(href="").a.user.item tkirby
  a(href="").a.user.item jedi
  a(href="").a.user.item etblue
  a(href="").a.user.item tuiry
  | 以及
  a(href="").a.user.item 其他 20 人
  | 贊成
