.section.in.list
  .ui.vertical.labeled.icon.menu.secondary.action
    a.item
      i.icon.star
      | 100
    a.item
      i.icon.rss
      | 100
  .ui.segment.user
    .name
      a(href="user.html"): img(src="https://lh3.googleusercontent.com/-yOjBEpja1rk/AAAAAAAAAAI/AAAAAAAAAAA/o-FfY1IkT5Y/photo.jpg").small.ui.rounded.image
      .reputation
        i.icon.trophy
        | 100
    .description
      h2: a(href="user.html") Venev
      .info
        p.tag
          span.ui.label.white 專長
          a(href="").a.tag.item 文法商
          a(href="").a.tag.item 金融
          a(href="").a.tag.item 創業
          a(href="").a.tag.item Bookshow
          a(href="").a.tag.item 文法商
          a(href="").a.tag.item 金融
          a(href="").a.tag.item 創業
          a(href="").a.tag.item Bookshow
          a(href="").a.tag.item 文法商
          a(href="").a.tag.item 金融
          a(href="").a.tag.item 創業
          a(href="").a.tag.item Bookshow
        p.tag
          span.ui.label.white 興趣
          a(href="").a.tag.item 再思考
          a(href="").a.tag.item Privatgelehrte
          a(href="").a.tag.item 貓
          a(href="").a.tag.item g0v
          a(href="").a.tag.item 再思考
          a(href="").a.tag.item Privatgelehrte
          a(href="").a.tag.item 貓
          a(href="").a.tag.item g0v
          a(href="").a.tag.item 再思考
          a(href="").a.tag.item Privatgelehrte
          a(href="").a.tag.item 貓
          a(href="").a.tag.item g0v
          a(href="").a.tag.item 再思考
          a(href="").a.tag.item Privatgelehrte
          a(href="").a.tag.item 貓
          a(href="").a.tag.item g0v
        p.board
          span.ui.label.white 發表
          a(href="").a.board.item 核能發電
          a(href="").a.board.item ECFA
          a(href="").a.board.item FTA
          a(href="").a.board.item 憲法113串連行動
        p.board
          span.ui.label.white 訂閱
          a(href="").a.board.item 兩岸服務貿易協議
          a(href="").a.board.item ECFA
          a(href="").a.board.item FTA
          a(href="").a.board.item 憲法113串連行動
          a(href="").a.board.item 兩岸服務貿易協議
          a(href="").a.board.item ECFA
          a(href="").a.board.item FTA
          a(href="").a.board.item 憲法113串連行動
          a(href="").a.board.item 兩岸服務貿易協議
          a(href="").a.board.item ECFA
          a(href="").a.board.item FTA
          a(href="").a.board.item 憲法113串連行動
        p.user
          span.ui.label.white 跟隨
          a(href="").a.user.item au
          a(href="").a.user.item benla
          a(href="").a.user.item icjan
          a(href="").a.user.item mario
    .ui.attached.label.bottom.light.gray.meta
      | 共 
      a(href="") 13 問答
      a(href="") 13 正反
      a(href="") 13 文章
      | ， 
      a(href="") 最高 15 評價
      a(href="") 最多 13 引用
      br
      | 由
      a(href="") 你
      a(href="") clkao
      a(href="") ipa
      a(href="") tkirby
      a(href="") jedi
      a(href="") au 
      | 與其他 
      a(href="") 10 人
      | 跟隨中

