.reference
  a(name="reference")
  .item
    span.contributor K.C.Huangggggg
    a(href="#1").ui.small.label 1
    span.text 引自
      a(href="")  ipa 
      | 文章「
      a(href="") 開放資料是什麼？能吃嗎？
      | 」，2013/11/11 發表於
      a(href="")  g0v facebook 粉絲專頁
  .item
    span.contributor K.C.Huangggggg
    a(href="#2").ui.small.label 2
    span.text 引自
      a(href="")  au 
      | 文章「
      a(href="") 我的嗜好：擁抱小白
      | 」，2013/11/11 發表於
      a(href="") 個人部落格
  .item
    span.contributor K.C.Huangggggg
    a(href="#3").ui.small.label 3
    span.text 引自
      a(href="")  clkao 
      | 文章「
      a(href="") 小心！沒有人就是你
      | 」，2013/11/11 發表於
      a(href="")  g0v google groups
  .item
    span.contributor K.C.Huangggggg
    a(href="#4").ui.small.label 4
    span.text 引自
      a(href="")  jedi 
      |  回答「
      a(href="") 現行法規下，聽力治療的補助包括……
      | 」，2013/11/11 發表於
      a(href="")  〔問題〕福利請聽查詢範圍包括哪些領域？
  .item
    span.contributor K.C.Huangggggg
    a(href="#5").ui.small.label 5
    span.text 引自
      a(href="")  tkirby 
      |  文章「
      a(href="") g0vis 專案簡介
      | 」，2013/11/11 發表於看板
      a(href="") 〔議題〕g0v 零時政府
      | 、
      a(href="") 〔提案〕D3 作品收集
      | 、
      a(href="") 〔專案〕零時傳教士：以 g0v 為主題的文藝創作
  .item
    span.contributor K.C.Huangggggg
    a(href="#5").ui.small.label 6
    span.text 引自
      a(href="")  kcwu 
      |  回應「
      a(href="") pgrest 的原理是用 postgresql 加上 restful ……
      | 」，2013/11/11 發表於
      a(href="") 〔文章〕新一代的資料庫設計
