!!!5
html
  include head.jade
  body
    include navbar.jade
    include infopanel.jade
    #content.alz

      .row-motion
        .row.row-title
          .col-lg-1
            i.glyphicon.glyphicon-star-empty
          .col-lg-8
            h3 學重物及國這育人她眾
          .col-lg-2
        .row.row-content
          .col-lg-1
            .star-count 167
          .col-lg-8
            .summary 也許在美國，我們擔心自己永遠找不到人生中真正想要做的是什麼，沒錯！給你的頸根與胸膛一半日的自由，同在一個神奇的宇宙裡自得。金正恩:如敵人膽敢絲毫侵犯朝鮮領海，Jeremy爆冷奪冠，陸客瘋總統府，遊民喪命地下道，父離家十多年，國銀跨國債權，台灣最新英語能力表現報告！有，混合這些，然...
            .qs
               .item 
                 .desc 台灣學界人士到大陸去都在幹嘛？
                 .count ( 33 )
               .item 
                 .desc 如果不到美國去的話還會有什麼發展？
                 .count ( 13 )
               .item 
                 .desc 隔壁那一位、他真的會、發光嗎？
                 .count ( 8 )
               .item 
                 .count 所有子問題 &#xbb;
          .col-lg-2
            i.glyphicon.glyphicon-list-alt
            i.glyphicon.glyphicon-road
            i.glyphicon.glyphicon-book
        .row.row-tag
          .col-lg-1: &nbsp;
          .col-lg-8
            .tags
              span.label.label-info 中國
              span.label.label-info 教授
              span.label.label-info 台灣
              span.label.label-info 現況分析
              span.label.label-info 出版業者
              span.label.label-info 總統
            .state
              span.like 13
              span.link
                i.glyphicon.glyphicon-link
                | 67
              span.elapsed 三分鐘前
              span.follow clkao, ipa, audreyt, jedi 及其他 103 人正在關注此分析
          .col-lg-2
              i.glyphicon.glyphicon-tag


      .row-motion
        .row.row-title
          .col-lg-1
            i.glyphicon.glyphicon-star-empty
          .col-lg-8
            h3 還不賴，還不賴，還不賴
          .col-lg-2
        .row.row-content
          .col-lg-1
            .star-count 52
          .col-lg-8
            .summary 她知道不要問太多，他年紀約50歲，說實話，和來自其他國家的年輕上班族一同工作。但已往的教訓，各各不同，卻不是來作客；我們是遭放逐，那是最危險最專制不過的旅伴，連著一息滋潤的水氣，許是恨，明知是自苦的揶揄，也把你的影像，對著這不完全，性情的柔和，我手捧著那收存你遺灰的錫瓶...

            .qs
               .item 
                 .desc 過年，濛迷地濃結起來，這是什麼言語？
                 .count ( 729 )
               .item 
                 .desc 喜歡我們產生的文字嗎？
                 .count ( 88 )
               .item 
                 .desc 為何要使用無義的文字？
                 .count ( 11 )
               .item 
                 .count 所有子問題 &#xbb;
          .col-lg-2
            i.glyphicon.glyphicon-list-alt
            i.glyphicon.glyphicon-road
            i.glyphicon.glyphicon-book
        .row.row-tag
          .col-lg-1: &nbsp;
          .col-lg-8
            .tags
              span.label.label-info 假文
              span.label.label-info 產生
              span.label.label-info 為什麼
              span.label.label-info 徐志摩
              span.label.label-info 賴和
            .state
              span.like 23
              span.link
                i.glyphicon.glyphicon-link
                | 157
              span.elapsed 五小時前
              span.follow tkirby, etblue, tka 及其他 203 人正在關注此分析
          .col-lg-2
              i.glyphicon.glyphicon-tag
