extends _template

block title
  | 首頁 

block body

  #index

    #sidebar.ui.vertical.menu
      a.item
        .avatar
          img(src="img/digger.jpg").rounded.corner
        .id ETBlue
      a.item.active 動態
      a.item 我的訂閱
      a.item 我的收藏
      a.item 我的追蹤對象
      a.item 我的群組

    #content
      .in.timeline
        include -proposal-in-timeline




    //-.index
      a(href="").ui.segment.entry
        .title
          h2 核融合技術如果發展成熟，核四廠有可能改採核融合嗎？
        //-.ui.attached.label.top.right.white
          | 關於
          a(href="").a.tag.item 第四核能發電廠
          a(href="").a.tag.item 國家能源自主
      .ui.buttons.answer
        a.ui.labeled.icon.button.left
          i.icon.left
          | 上一題
        a.ui.button.green 回答此問題
        a.ui.labeled.icon.button.right 
          i.icon.right
          | 下一題

  script.
    $("#navbar .home").addClass("active");

  style.
    body
    background-color: rgba(0,0,0,0.03)

