extends _template

block title
  | 首頁 

block body

  #index

    #sidebar.ui.vertical.menu
      a.item
        .avatar
          img(src="img/etblue.jpg").rounded.corner
        .id ETBlue
      a.item.home.active
        i.icon.home
        | 最新動態
      .menu.item.subscribed
        a.item 議題
        a.item 提案
        a.item 專案
        a.item 標籤
      a.item.subscribed
        i.icon.rss
        | 訂閱
      a.item.bookmarked
        i.icon.star
        | 收藏
      a.item.shared
        i.icon.forward.mail
        | 分享
      a.item.following
        i.icon.user
        | 追蹤
      a.item.groups
        i.icon.users
        | 社團
      a.item.groups
        i.icon.suitcase
        | 專案小組

    #content
      .in.timeline
        include -proposal-in-timeline




    //-.index
      a(href="").ui.segment.entry
        .title
          h2 核融合技術如果發展成熟，核四廠有可能改採核融合嗎？
        //-.ui.attached.label.top.right.white
          | 關於
          a(href="").a.tag.item 第四核能發電廠
          a(href="").a.tag.item 國家能源自主
      .ui.buttons.answer
        a.ui.labeled.icon.button.left
          i.icon.left
          | 上一題
        a.ui.button.green 回答此問題
        a.ui.labeled.icon.button.right 
          i.icon.right
          | 下一題

  script.
    $("#navbar .home").addClass("active");

  style.
    body
    background-color: rgba(0,0,0,0.03)

