extends _template

block title
  | 首頁 

block body

  #index

    #sidebar.ui.vertical.menu(ng-init="issues=['兩岸服務貿易協議','核能發電','土地徵收','都市更新','關廠工人'];proposals=['政府IT委外採用open source模式建議案','都市更新條例修正案','土地徵收條例修正案','綠色能源政策規劃案'];projects=['反黑箱服貿行動串連','動民主系統開發','反核四五六行動串連'];tags=['open data','醫療','兒童','原住民','台中市','民主'];circles=['宅圈','社運圈','醫療圈','同學','家人'];groups=['零時政府','綠黨','醫勞盟','民主陣線']")
      //-a.item(href="",ng-controller="ctrl.user")
      a.item(href="")
        .avatar
          img(src="img/etblue.jpg").rounded.corner
        .id {{user.username}}
      a.item.all(href="index.html")
        i.icon.home
        | 所有動態
      a.item.issues(href="timeline-issues.html")
        i.icon.folder.open.outline
        | 議題
      .menu.item.issues
        a.item(href="timeline-issues.html",ng-repeat="issue in issues")
          | {{ issue }}
          .ui.label 10
      a.item.proposals(href="timeline-proposals.html")
          i.icon.folder.open.outline
          | 提案
      .menu.item.proposals
        a.item(href="timeline-proposals.html",ng-repeat="proposal in proposals")
          | {{ proposal }}
          .ui.label 10
      a.item.projects(href="timeline-projects.html")
        i.icon.folder.open.outline
        | 專案
      .menu.item.projects
        a.item(href="timeline-issues.html",ng-repeat="project in projects")
          | {{ project }}
          .ui.label 10
      a.item.tags(href="timeline-tags.html")
        i.icon.tags
        | 標籤
      .menu.item.tags
        a.item(href="timeline-tags.html",ng-repeat="tag in tags")
          | {{ tag }}
          .ui.label 10
      a.item.circles(href="")
        i.icon.user
        | 追蹤清單
      .menu.item.circles
        a.item(href="timeline-circles.html",ng-repeat="circle in circles")
          | {{ circle }}
          .ui.label 10
      a.item.groups(href="")
        i.icon.users
        | 團體
      .menu.item.groups
        a.item(href="timeline-groups.html",ng-repeat="group in groups")
          | {{ group }}
          .ui.label 10
      a.item.activities(href="")
        | 我的活動紀錄
      .menu.item.activities.hidden
        a.item.subscribed(href="")
          i.icon.rss
          | 訂閱
        a.item.bookmarked(href="")
          i.icon.star
          | 收藏
        a.item.shared(href="")
          i.icon.forward.mail
          | 分享
        a.item.shared(href="")
          i.icon.checked.checkmark
          | 表態
        a.item.edited(href="")
          i.icon.pencil
          | 編輯
      a.item.achievements(href="")
        | 我的成就
      .menu.item.achievements.hidden
        a.item.composing(href="")
          i.icon.certificate
          | 彙編懶人包
        a.item.analyzing(href="")
          i.icon.certificate
          | 釐清議題
        a.item.planning(href="")
          i.icon.certificate
          | 規劃提案
        a.item.executing(href="")
          i.icon.certificate
          | 執行專案

    #content(ng-controller="timeline")
      .ui.secondary.pointing.menu
        a.item.news.active 所有動態
        a.item.settings 設定
          i.icon.setting
        .right.menu
          include -sort-menu
      .in.timeline
        | id: 
        input(type="text",ng-model="newPlan.id")
        br
        | name: 
        input(type="text",ng-model="newPlan.name")
        br
        button(ng-click="addPlan()") 新增方案
        block timeline
          include -proposal-in-timeline

block script
  script.
    $("#navbar .home").addClass("active");
    $("#sidebar .all").addClass("active");

  style.
    body
    background-color: rgba(0,0,0,0.03)

