extends _template

block title
  | 首頁 

block body

  #index

    #sidebar.ui.vertical.menu
      a(href="").item
        .avatar
          img(src="img/etblue.jpg").rounded.corner
        .id ETBlue
      a(href="index.html").item.home
        i.icon.home
        | 最新動態
      .menu.item.subscribed
        a(href="index-issues.html").item.issues 議題
        a(href="index-proposals.html").item.proposals 提案
        a(href="index-projects.html").item.projects 專案
        a(href="index-tags.html").item.tags 標籤
      a(href="").item.subscribed
        i.icon.rss
        | 訂閱
      a(href="").item.bookmarked
        i.icon.star
        | 收藏
      a(href="").item.shared
        i.icon.forward.mail
        | 分享
      a(href="").item.following
        i.icon.user
        | 追蹤
      a(href="").item.groups
        i.icon.users
        | 社團
      a(href="").item.teams
        i.icon.suitcase
        | 專案小組

    #content
      .in.timeline
        block timeline
          include -proposal-in-timeline




    //-.index
      a(href="").ui.segment.entry
        .title
          h2 核融合技術如果發展成熟，核四廠有可能改採核融合嗎？
        //-.ui.attached.label.top.right.white
          | 關於
          a(href="").a.tag.item 第四核能發電廠
          a(href="").a.tag.item 國家能源自主
      .ui.buttons.answer
        a.ui.labeled.icon.button.left
          i.icon.left
          | 上一題
        a.ui.button.green 回答此問題
        a.ui.labeled.icon.button.right 
          i.icon.right
          | 下一題

block script
  script.
    $("#navbar .home").addClass("active");
    $("#sidebar .home").addClass("active");

  style.
    body
    background-color: rgba(0,0,0,0.03)

