extends _template

block title
  | 首頁 

block body

  #index

    #sidebar.ui.vertical.menu
      a(href="").item
        .avatar
          img(src="img/etblue.jpg").rounded.corner
        .id ETBlue
      a(href="index.html").item.all
        i.icon.home
        | 所有動態
      a(href="timeline-issues.html").item.issues
        i.icon.folder.open.outline
        | 議題
      .menu.item.issues
        a(href="timeline-issues.html").item
          | 兩岸服務貿易協議
          .ui.label 10
        a(href="timeline-issues.html").item
          | 核能發電
          .ui.label 10
        a(href="timeline-issues.html").item
          | 土地徵收
          .ui.label 10
        a(href="timeline-issues.html").item
          | 都市更新
          .ui.label 10
        a(href="timeline-issues.html").item
          | 關廠工人
          .ui.label 10
      a(href="timeline-proposals.html").item.proposals
          i.icon.folder.open.outline
          | 提案
      .menu.item.proposals
        a(href="timeline-proposals.html").item
          | 政府IT委外採用open source模式建議案
          .ui.label 10
        a(href="timeline-proposals.html").item
          | 都市更新條例修正案
          .ui.label 10
        a(href="timeline-proposals.html").item
          | 土地徵收條例修正案
          .ui.label 10
        a(href="timeline-proposals.html").item
          | 綠色能源政策規劃案
          .ui.label 10
      a(href="timeline-projects.html").item.projects
        i.icon.folder.open.outline
        | 專案
      .menu.item.projects
        a(href="timeline-issues.html").item
          | 反黑箱服貿行動串連
          .ui.label 10
        a(href="timeline-issues.html").item
          | 動民主系統開發
          .ui.label 10
        a(href="timeline-issues.html").item
          | 反核四五六行動串連
          .ui.label 10
      a(href="timeline-tags.html").item.tags
        i.icon.tags
        | 標籤
      .menu.item.tags
        a(href="timeline-tags.html").item
          | open data
          .ui.label 10
        a(href="timeline-tags.html").item
          | 醫療
          .ui.label 10
        a(href="timeline-tags.html").item
          | 兒童
          .ui.label 10
        a(href="timeline-tags.html").item
          | 原住民
          .ui.label 10
        a(href="timeline-tags.html").item
          | 台中市
          .ui.label 10
        a(href="timeline-tags.html").item
          | 民主
          .ui.label 10
      a(href="").item.users
        i.icon.user
        | 公民
      .menu.item.users
        a(href="timeline-users.html").item
          | 宅圈
          .ui.label 10
        a(href="timeline-users.html").item
          | 社運圈
          .ui.label 10
        a(href="timeline-users.html").item
          | 醫療圈
          .ui.label 10
        a(href="timeline-users.html").item
          | 同學
          .ui.label 10
        a(href="timeline-users.html").item
          | 家人
          .ui.label 10
      a(href="").item.groups
        i.icon.users
        | 團體
      .menu.item.groups
        a(href="timeline-groups.html").item
          | 宅圈
          .ui.label 10
        a(href="timeline-groups.html").item
          | 社運圈
          .ui.label 10
        a(href="timeline-groups.html").item
          | 醫療圈
          .ui.label 10
        a(href="timeline-groups.html").item
          | 同學
          .ui.label 10
        a(href="timeline-groups.html").item
          | 家人
          .ui.label 10
      a(href="").item.activities
        | 我的活動紀錄
      .menu.item.activities.hidden
        a(href="").item.subscribed
          i.icon.rss
          | 訂閱
        a(href="").item.bookmarked
          i.icon.star
          | 收藏
        a(href="").item.shared
          i.icon.forward.mail
          | 分享
        a(href="").item.shared
          i.icon.checked.checkmark
          | 表態
        a(href="").item.edited
          i.icon.pencil
          | 編輯
      a(href="").item.achievements
        | 我的成就
      .menu.item.achievements.hidden
        a(href="").item.composing
          i.icon.certificate
          | 彙編懶人包
        a(href="").item.analyzing
          i.icon.certificate
          | 釐清議題
        a(href="").item.planning
          i.icon.certificate
          | 規劃提案
        a(href="").item.executing
          i.icon.certificate
          | 執行專案

    #content
      .ui.secondary.pointing.menu
        a.item.news.active 所有動態
        a.item.settings 設定
          i.icon.setting
        .right.menu
          include -sort-menu
      .in.timeline
        block timeline
          include -proposal-in-timeline

block script
  script.
    $("#navbar .home").addClass("active");
    $("#sidebar .all").addClass("active");

  style.
    body
    background-color: rgba(0,0,0,0.03)

