extends _template

block head
  link(rel="stylesheet",href="css/index.css")

block title
  | 首頁 

block body

  #index
    .index
      a(href="").ui.segment.entry
        .title
          h2 核融合技術如果發展成熟，核四廠有可能改採核融合嗎？
        //-.ui.attached.label.top.right.white
          | 關於
          a(href="").a.tag.item 第四核能發電廠
          a(href="").a.tag.item 國家能源自主
      .ui.buttons.answer
        a.ui.labeled.icon.button.left
          i.icon.left
          | 上一題
        a.ui.button.green 回答此問題
        a.ui.labeled.icon.button.right 
          i.icon.right
          | 下一題

  script.
    $("#navbar .home").addClass("active");

  style.
    body
    background-color: rgba(0,0,0,0.03)

