extends _template

block title
  | 首頁 

block body

  #index

    #sidebar.ui.vertical.menu
      a(href="").item
        .avatar
          img(src="img/etblue.jpg").rounded.corner
        .id ETBlue
      a(href="index.html").item.timeline
        i.icon.home
        | 所有動態
      a(href="timeline-issues.html").item.issues
        i.icon.folder.open.outline
        | 議題
      .menu.item.issues
        a(href="timeline-issues.html").item
          | 兩岸服務貿易協議
          .ui.label 10
        a(href="timeline-issues.html").item
          | 核能發電
          .ui.label 10
        a(href="timeline-issues.html").item
          | 土地徵收
          .ui.label 10
        a(href="timeline-issues.html").item
          | 都市更新
          .ui.label 10
        a(href="timeline-issues.html").item
          | 關廠工人
          .ui.label 10
      a(href="timeline-proposals.html").item.proposals
          i.icon.folder.open.outline
          | 提案
      .menu.item.proposals
        a(href="timeline-proposals.html").item
          | 政府IT委外採用open source模式建議案
          .ui.label 10
        a(href="timeline-proposals.html").item
          | 都市更新條例修正案
          .ui.label 10
        a(href="timeline-proposals.html").item
          | 土地徵收條例修正案
          .ui.label 10
        a(href="timeline-proposals.html").item
          | 綠色能源政策規劃案
          .ui.label 10
      a(href="timeline-projects.html").item.projects
        i.icon.folder.open.outline
        | 專案
      .menu.item.projects
        a(href="timeline-issues.html").item
          | 反黑箱服貿行動串連
          .ui.label 10
        a(href="timeline-issues.html").item
          | 動民主系統開發
          .ui.label 10
        a(href="timeline-issues.html").item
          | 反核四五六行動串連
          .ui.label 10
      a(href="timeline-tags.html").item.tags
        i.icon.tags
        | 標籤
      a(href="").item.users
        i.icon.user
        | 公民
      a(href="").item.groups
        i.icon.users
        | 團體
      a(href="").item.activities
        | 我的活動紀錄
      .menu.item.activities.hidden
        a(href="").item.subscribed
          i.icon.rss
          | 訂閱
        a(href="").item.bookmarked
          i.icon.star
          | 收藏
        a(href="").item.shared
          i.icon.forward.mail
          | 分享
        a(href="").item.shared
          i.icon.checked.checkmark
          | 表態
        a(href="").item.edited
          i.icon.pencil
          | 編輯
      a(href="").item.achievements
        | 我的成就
      .menu.item.achievements.hidden
        a(href="").item.composing
          i.icon.certificate
          | 彙編懶人包
        a(href="").item.analyzing
          i.icon.certificate
          | 釐清議題
        a(href="").item.planning
          i.icon.certificate
          | 規劃提案
        a(href="").item.executing
          i.icon.certificate
          | 執行專案
      a(href="").item.lists
        | 我的追蹤清單
      .menu.item.lists.hidden
        a(href="lists-issues.html").item.issues
          i.icon.folder.open.outline
          | 議題
        a(href="lists-proposals.html").item.proposals
          i.icon.folder.open.outline
          | 提案
        a(href="lists-projects.html").item.projects
          i.icon.folder.open.outline
          | 專案
        a(href="lists-tags.html").item.tags
          i.icon.tags
          | 標籤
        a(href="").item.following
          i.icon.user
          | 公民
        a(href="").item.groups
          i.icon.users
          | 團體

    #content
      .in.timeline
        block timeline
          include -proposal-in-timeline

    //-.index
      a(href="").ui.segment.entry
        .title
          h2 核融合技術如果發展成熟，核四廠有可能改採核融合嗎？
        //-.ui.attached.label.top.right.white
          | 關於
          a(href="").a.tag.item 第四核能發電廠
          a(href="").a.tag.item 國家能源自主
      .ui.buttons.answer
        a.ui.labeled.icon.button.left
          i.icon.left
          | 上一題
        a.ui.button.green 回答此問題
        a.ui.labeled.icon.button.right 
          i.icon.right
          | 下一題

block script
  script.
    $("#navbar .home").addClass("active");
    $("#sidebar .timeline").addClass("active");

  style.
    body
    background-color: rgba(0,0,0,0.03)

