block submenu-vars
#infopanel
  .info
    .btn-group.switch(data-toggle="buttons")
       label.btn.btn-primary
         input(type="radio",name="options")
         block room
       label.btn.btn-primary
         input(type="radio",name="options")
         | 眺望台
    .title 兩岸服務貿易協定
  .menu
    .col-lg-9
      block submenu
    .col-lg-2
      .button
        i.glyphicon.glyphicon-tag
        .dropdown
          a(data-toggle="dropdown",href="#") 最新 
            i.glyphicon.glyphicon-chevron-down
          ul.dropdown-menu(role="menu",aria-labelledby="dLabel")
            li 最舊
            li 最新
            li 最熱
        i.glyphicon.glyphicon-search
