extends issue

block menu
  .ui.menu.borderless
    a(href="issue-content-intro.html").item.intro 簡介
    a(href="issue-content-qa.html").item.qa 問與答
    a(href="issue-content-argument.html").item.argument 正與反
    a(href="issue-content-article.html").item.article 文章
    a(href="issue-content-tag.html").item.tag 標籤
    a(href="issue-content-related.html").item.related 看板
    a(href="issue-content-report.html").item.report 匯出報告
    .right.menu
      block menu-right

block script
  script.
    $("#navbar .issue").addClass("active");
    $("#header .switch .content").addClass("active");
