extends issue-content

block head
  link(rel="stylesheet",href="css/page.css")

block menu-right
  include -entry-list-menu-right

block content
  include -content-category-menu

  include -article-in-list
  include -article-in-list
  include -article-in-list
  include -article-in-list
  include -article-in-list
  include -article-in-list
  include -article-in-list

  include -navigation

block script
  script.
    $("#navbar .issue").addClass("active");
    $("#header .switch .content").addClass("active");
    $("#header>.menu>.articles").addClass("active");
