extends _template

block title
  block subtitle
  | 議題 

block body

  #issues

    #menu

      .ui.secondary.pointing.menu
        a.item.active 全部
          .ui.label.light.gray 1k
        a.item 推薦
          .ui.label.light.gray 188
        a.item 訂閱中
          .ui.label.light.gray 19
        a.item 已收藏
          .ui.label.light.gray 111
        a.item 邀稿
          .ui.label.light.gray 3
        .right.menu
          //-.item.auxiliary.text 排序
          include -sort-menu
          .ui.icon.right.labeled.button.small
            i.icon.plus
            | 新議題

    #content

      include -navigation

      include -issue-in-list
      include -issue-in-list
      include -issue-in-list
      include -issue-in-list
      include -issue-in-list

      include -navigation

block script
  script.
    $("#navbar .issue").addClass("active");
