extends issue-content

block menu-right
  .item.auxiliary.text 分類
  a.ui.dropdown.item
    | 不分類
    i.dropdown.icon
    .menu
      .item.active 不分類
      .item 相關性
      .item 標籤
      .item 看板
  .item.auxiliary.text 排序
  a.ui.dropdown.item
    | 更新時間
    i.dropdown.icon
    .menu
      .item.active 更新時間
      .item 瀏覽人次
      .item 回答數
      .item 分享數
      .item 訂閱數
      .item 收藏數
      .item 最高評價

block content
  .category.hidden
    .ui.secondary.pointing.menu.relation
      a.item.active 推薦
        .ui.label.light.gray (22)
      a.item 追蹤中
        .ui.label.light.gray (4)
        //-.menu
          .item 全部
          .item 我的訂閱
          .item 我的發問
          .item 我的回答
      a.item 已收藏
        .ui.label.light.gray (10)
      a.item 邀稿
        .ui.label.light.gray (3)

  include qa-in-list
  include qa-in-list
  include qa-in-list
  include qa-in-list
  include qa-in-list
  include qa-in-list
  include qa-in-list

  .navigation
    .ui.pagination.menu
      a.icon.item.disabled
        i.icon.left
      a.item.active 1
      a.item 2
      a.item 3
      a.item 4
      a.item 5
      a.icon.item.disabled
        i.icon.right

block script
  script.
    $("#navbar .issue").addClass("active");
    $("#header .switch .content").addClass("active");
    $("#header .menu .qa").addClass("active");
