extends issue-content

block head
  link(rel="stylesheet",href="css/level-two.css")

block menu-right
  include -entry-list-menu-right

block content
  include -content-category-menu

  include -qa-in-list
  include -qa-in-list
  include -qa-in-list
  include -qa-in-list
  include -qa-in-list
  include -qa-in-list
  include -qa-in-list

  include -navigation

block script
  script.
    $("#navbar .issue").addClass("active");
    $("#header .switch .content").addClass("active");
    $("#header>.menu>.qa").addClass("active");
