extends issue-content

block head
  link(rel="stylesheet",href="css/level-two.css")

block menu-right
  include -sort-menu
  .ui.icon.right.labeled.button 新增
    i.icon.add

block content

  .category.navigation
    .ui.pagination.menu
      a(href="issue-content-board-parent.html").item.parent 父議題
        .ui.label.light.gray 1
      a(href="issue-content-board-child.html").item.child 子議題
        .ui.label.light.gray 9
      a(href="issue-content-board-similiar.html").item.similiar 相近議題
        .ui.label.light.gray 3
      a(href="issue-content-board-proposal.html").item.proposal 關連的提案
        .ui.label.light.gray 2
      a(href="issue-content-board-project.html").item.project 關連的專案
        .ui.label.light.gray 10

  block list

  include -navigation

block script
  script.
    $("#navbar .issue").addClass("active");
    $("#header .switch .content").addClass("active");
    $("#header>.menu>.board").addClass("active");
