extends template

block title
  block subtitle
  | 議題 

block body

  #issues

    #menu

      .ui.secondary.pointing.menu
        a.item.active 全部
          .ui.label.light.gray 1k
        a.item 推薦
          .ui.label.light.gray 188
        a.item 追蹤中
          .ui.label.light.gray 19
        a.item 已收藏
          .ui.label.light.gray 111
        a.item 邀稿
          .ui.label.light.gray 3
        .right.menu
          //-.item.auxiliary.text 排序
          a.ui.dropdown.item
            | 最近更新
            i.dropdown.icon
            .menu
              .item.active 最近更新
              .item 最多內容
              .item 最多次瀏覽
              .item 最多人收藏
              .item 最多人追蹤
              .item 最多人分享
              .item 最高內容評價
          .ui.icon.right.labeled.button.small
            i.icon.plus
            | 新議題

    #content

      include navigation

      include issue-in-list
      include issue-in-list
      include issue-in-list
      include issue-in-list
      include issue-in-list

      include navigation

block script
  script.
    $("#navbar .issue").addClass("active");
