extends issue

block menu
  .ui.level.two.menu.borderless
    a(href="issue-content-intro.html").item.intro 簡介
    a(href="issue-content-qas.html").item.qas 問與答
    a(href="issue-content-arguments.html").item.arguments 正與反
    a(href="issue-content-articles.html").item.articles 文章
    a(href="issue-content-tags.html").item.tags 標籤
    a(href="issue-content-boards-child.html").item.boards 看板
    a(href="issue-content-report.html").item.report 匯出報告
    .right.menu
      block menu-right

block script
  script.
    $("#navbar .issue").addClass("active");
    $("#header .switch .content").addClass("active");
