extends issue-content

block menu-right

block script
  script.
    $(".navbar .issue").addClass("active");
    $("#header .switch .content").addClass("active");
    $("#header .menu .summary").addClass("active");
