extends issue

block menu
  .ui.menu.borderless
    a.item.summary 簡介
    a.item.qa 問與答
    a.item.argument 優缺點
    a.item.article 文章
    a.item.report 匯出報告
    a.item.related 相關議題
    .right.menu
      block menu-right

block script
  script.
    $("#navbar .issue").addClass("active");
    $("#header .switch .content").addClass("active");
