!!!5
html
  include head.jade
  body
    include navbar.jade
    include infopanel.jade
    #content.mtn-prj
      .row-prj

        .row
          .col-lg-1
            i.glyphicon.glyphicon-star-empty
            .count 167
            i.glyphicon.glyphicon-link
            .count 67
          .col-lg-8
            h3 鄉民關心你
            .pps-desc 
              .item 負責單位: g0v
              .item 聯絡窗口: hychen
              .item 專案年齡: 10 天
              .item 目前進度: 吃蛋糕、喝咖啡、比薩
              .item 下個里程碑: UI mockup 還有 30 天
              .item 徵求: Designer
            .qs
               .item 
                 .desc 和「世界奇觀」專案用什麼方式串接？
                 .count ( 31 )
               .item 
                 .desc 鄉民關心你在做什麼？
                 .count ( 2 )
               .item 
                 .count 所有問題 &#xbb;
            .state: span.follow clkao, ipa, audreyt, jedi 及其他 103 人正在關注此分析
          .col-lg-2
            .desc 此專案的構想源自於
            a
              i.glyphicon.glyphicon-star
              | 兩岸服務貿易協議
            |  中的
            a.deep
              i.glyphicon.glyphicon-star
              | 辦理公民論壇後依民意逐條審查協議內容
            br
            .desc 相關的專案有
            i.glyphicon.glyphicon-star
            a 動民主公民社交系統
            |  by
            a g0v
            br
            i.glyphicon.glyphicon-star-empty
            a 世界奇觀
            |  by
            a g0v


        .row
          .col-lg-1
            i.glyphicon.glyphicon-star-empty
            .count 167
            i.glyphicon.glyphicon-link
            .count 67
          .col-lg-8
            h3 鄉民關心你
            .pps-desc 
              .item 負責單位: g0v
              .item 聯絡窗口: hychen
              .item 專案年齡: 10 天
              .item 目前進度: 吃蛋糕、喝咖啡、比薩
              .item 下個里程碑: UI mockup 還有 30 天
              .item 徵求: Designer
            .qs
               .item 
                 .desc 和「世界奇觀」專案用什麼方式串接？
                 .count ( 31 )
               .item 
                 .desc 鄉民關心你在做什麼？
                 .count ( 2 )
               .item 
                 .count 所有問題 &#xbb;
            .state: span.follow clkao, ipa, audreyt, jedi 及其他 103 人正在關注此分析
          .col-lg-2
            .desc 此專案的構想源自於
            a
              i.glyphicon.glyphicon-star
              | 兩岸服務貿易協議
            |  中的
            a.deep
              i.glyphicon.glyphicon-star
              | 辦理公民論壇後依民意逐條審查協議內容
            br
            .desc 相關的專案有
            i.glyphicon.glyphicon-star
            a 動民主公民社交系統
            |  by
            a g0v
            br
            i.glyphicon.glyphicon-star-empty
            a 世界奇觀
            |  by
            a g0v
    script.
      setMenu(2,4);
