.navbar
  a.navbar-brand(href="#") 動民主
  .mini-panel.pull-right: .text
    i.donicon.glyphicon.glyphicon-book
      #book.ntf-count 2
    i.donicon.glyphicon.glyphicon-star
      #star.ntf-count 9
    .avatar
  ul.nav.navbar-nav
    li.active: a(href="#") 全民踹共
    li: a(href="#") 議案
    li: a(href="#") 提案
    li: a(href="#") 專案
    li: a(href="#") 問答
    li: a(href="#") 標籤
    li: a(href="#") 公民列表
