extends proposal-content-plan

block head

block mini-header
  .ui.menu.inverted
    a(href="proposal-content-plan-chapters.html").item
      i.icon.left.arrow
      | 政府 IT 委外制度，引入開源碼發展模式可能性研究既建議案 (校閱中，3 天後交付立法院) - 規劃 - 方案 1

block subheader
  .ui.menu.subheader.borderless
    a.item.chapter 章節 1 - 國外政府 IT 基礎建設有納入 Open Source 的案例
    a.item.meta 編修紀錄
    .ui.buttons.right.menu
      a.ui.labeled.icon.button 上一章
        i.icon.left.arrow
      a.ui.right.labeled.icon.button.dropdown 1 / 3
        i.icon.triangle.down
        .menu
          .item.active 章節 1 - 國外政府 IT 基礎建設有納入 Open Source 的案例
          .item 章節 2
          .item 章節 3
      a.ui.right.labeled.icon.button 下一章
        i.icon.right.arrow

block content
  #resource
    .ui.tabular.menu
      a.item.active 已加入
      a.item 未加入
    .in.this.chapter
      a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
      a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
      a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
    a(href="").ui.horizontal.divider 其他章節
    .in.other.chapter.hidden
      a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
      a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
      a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
      a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
      a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
      a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
      a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
      a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
      a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
      a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
      a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
      a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
  #chapter
    .etherpad
      .article
        h3 國外政府 IT 基礎建設有納入 Open Source 的案例
        p 
          span.contributor hychen
          | 緣由見: 
          a(name="1" href="#reference").referral g0v.tw 台灣零時政府拜訪行政院蔡玉玲政委備忘
            span.ui.floating.label 1
          | 之 2.2 項，
          a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
          | 會後之共識為 g0v.tw 透過 crowd sourcing 提出更嚴謹的書面建議文。
        h4 標題一
        p 內文一
          a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
          | 內文一內文一內文一內文一內文一內文一內文一內文一內文一內文一內文一
    .reference
      a(name="reference")
      .item
        span.contributor hychen
        a(href="#1").ui.small.label 1
        span.text 引自
          a(href="")  ipa 
          | 文章「
          a(href="") 開放資料是什麼？能吃嗎？
          | 」，2013/11/11 發表於
          a(href="")  g0v facebook 粉絲專頁

block script
  script.
    $("#navbar .proposal").addClass("active");
    $("#header .switch .content").addClass("active");
    $("#header .menu .plans").addClass("active");
    $("#subheader .menu .chapter").addClass("active");
