extends _template

block title
  block subtitle
  | 提案 

block body

  #proposals

    #menu

      .ui.secondary.pointing.menu
        a.item 全部
          .ui.label.light.gray 1k
        a.item.active 推薦
          .ui.label.light.gray 188
        a.item 訂閱中
          .ui.label.light.gray 19
        a.item 發起
          .ui.label.light.gray 1
        a.item 參與
          .ui.label.light.gray 3
        a.item 引用
          .ui.label.light.gray 2
        a.item 收藏
          .ui.label.light.gray 10
        a.item 邀請
          .ui.label.orange 3
        .right.menu
          include -sort-menu
          .ui.icon.right.labeled.button.small
            i.icon.plus
            | 新提案

    #content

      include -proposal-in-list
      include -proposal-in-list
      include -proposal-in-list
      include -proposal-in-list
      include -proposal-in-list

      include -navigation

block script
  script.
    $("#navbar .proposal").addClass("active");
