extends proposal-content

block menu-right

block content
    
block script
  script.
    $("#navbar .proposal").addClass("active");
    $("#header .switch .content").addClass("active");
    $("#header .menu .intro").addClass("active");
