extends proposal-content

block menu-right
  a.ui.dropdown.item
    .text 顯示全部
    i.dropdown.icon
    .menu
      .item.active 顯示全部
      .item 我提出的
  a.ui.right.icon.labeled.button.item 新願景
    i.add.icon

block content
  .ui.two.column.stackable.grid.stickers
    .column.todo
      .ui.horizontal.divider 修改過
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.draft 使用者發現公共軟體有問題，可以馬上回報給開發人員，或直接動手幫忙修改
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
            a 2 分鐘前編輯
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.draft 使用者發現公共軟體有問題，可以馬上回報給開發人員，或直接動手幫忙修改
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
            a 2 分鐘前編輯
      .ui.horizontal.divider 未處理
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.draft 使用者發現公共軟體有問題，可以馬上回報給開發人員，或直接動手幫忙修改
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.draft 使用者發現公共軟體有問題，可以馬上回報給開發人員，或直接動手幫忙修改
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.draft 使用者發現公共軟體有問題，可以馬上回報給開發人員，或直接動手幫忙修改
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
    .column.done
      .ui.horizontal.divider 同意
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes.selected
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.draft 使用者發現公共軟體有問題，可以馬上回報給開發人員，或直接動手幫忙修改
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
            a 2 分鐘前編輯
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes.selected
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.draft 使用者發現公共軟體有問題，可以馬上回報給開發人員，或直接動手幫忙修改
          .ui.label.meta.bottom.attached.light.gray
            a ETBlue
            | 於
            a 1 小時前發表
            span.right
              a
                i.icon.pencil
              a
                i.icon.trash
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes.selected
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.draft 使用者發現公共軟體有問題，可以馬上回報給開發人員，或直接動手幫忙修改
          .ui.label.meta.bottom.attached.light.gray
            a ETBlue
            | 於
            a 1 小時前發表
            span.right
              a
                i.icon.pencil
              a
                i.icon.trash
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes.selected
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.draft 使用者發現公共軟體有問題，可以馬上回報給開發人員，或直接動手幫忙修改
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
      .ui.horizontal.divider 不確定
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes
            i.icon.checkmark.checked
          a.item.unknown.selected
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.draft 使用者發現公共軟體有問題，可以馬上回報給開發人員，或直接動手幫忙修改
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes
            i.icon.checkmark.checked
          a.item.unknown.selected
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.draft 使用者發現公共軟體有問題，可以馬上回報給開發人員，或直接動手幫忙修改
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
      .ui.horizontal.divider 不同意
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no.selected
            i.icon.remove
        .ui.segment.draft 使用者發現公共軟體有問題，可以馬上回報給開發人員，或直接動手幫忙修改
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no.selected
            i.icon.remove
        .ui.segment.draft 使用者發現公共軟體有問題，可以馬上回報給開發人員，或直接動手幫忙修改
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no.selected
            i.icon.remove
        .ui.segment.draft 使用者發現公共軟體有問題，可以馬上回報給開發人員，或直接動手幫忙修改
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表

  //-h3 現況與願景
  //-.ui.three.connected.items.compare
    .row.head
      .item 現況
      .item 問題點
      .item 願景
    .row
      span.contributor hychen
      .item 政府發包軟體專案沒有開源碼
      .item 有問題也無法馬上更新，只能等再發包
      .item 要求開源，讓公民、使用者能協助修正
    .row
      span.contributor hychen
      .item 政府發包軟體專案之前沒有徵求外界意見
      .item 不知道使用者的需求是什麼，做出很多沒人用的蚊子程式
      .item 從靈感發想開始就讓公民不限制背景公開參與討論
    .row
      span.contributor hychen
      .item 政府發包軟體專案各自獨立，互不相通
      .item 不斷重複做出一堆類似的網站、軟體
      .item 要求程式碼開源以便重複利用
      
block script
  script.
    $("#navbar .proposal").addClass("active");
    $("#header .switch .content").addClass("active");
    $("#header .menu .vision").addClass("active");
