extends proposal

block menu
  .ui.level.two.menu.borderless
    a(href="proposal-content-intro.html").item.intro 總覽
    a(href="proposal-content-problem.html").item.problem 問題描述
    a(href="proposal-content-draft.html").item.draft.hidden 草案
    a(href="proposal-content-accepted.html").item.accepted.hidden 成案
    a(href="proposal-content-frozen.html").item.frozen 定案
      .ui.label.light.gray 1
    a(href="proposal-content-vote.html").item.vote.hidden 表決
    a(href="proposal-content-followup.html").item.followup.hidden 追蹤
    a(href="proposal-content-archive.html").item.archive.hidden 封存
    a(href="proposal-content-reference.html").item.reference 參考資料
    a(href="proposal-content-report.html").item.report 匯出報告
    .right.menu
      block menu-right

block script
  script.
    $("#navbar .proposal").addClass("active");
    $("#header .switch .content").addClass("active");
