extends proposal-content-plan

block subheader
  .ui.menu.subheader.borderless
    a(href="proposal-content-plan-article.html").item.article 方案 1
    //-a.item 5 願景
    //-a.item 4 問題
    //-a.item 6 成因
    //-a.item 10 對策
    //-a.item 20 受益者
    //-a.item 10 受害者
    a(href="proposal-content-plan-coverage.html").item.coverage 覆蓋率 70%
    a(href="proposal-content-plan-support.html").item.support 支持度 80%
    span.action
      a.item.bookmark
        i.icon.star
      a.item.subscribe
        i.icon.rss
      a.item.share
        i.icon.share.sign
    .ui.buttons.right.menu
      a.ui.labeled.icon.button 上一章
        i.icon.left.arrow
      a.ui.right.labeled.icon.button.dropdown 1 / 3
        i.icon.triangle.down
        .menu
          .item.active 章節 1
          .item 章節 2
            .ui.label.light.gray 定稿
          .item 章節 3
            .ui.label.light.gray 定稿，已過門檻
      a.ui.right.labeled.icon.button 下一章
        i.icon.right.arrow

block content
  #toc
    a(href="").header.level.one 國外政府 IT 基礎建設有納入 Open Source 的案例
    a(href="").header.level.two 國內 IT 基礎建設外包的法規, 相關單位, 實際案例及問題
    a(href="").header.level.three 標題三
  #chapters
    #background
      .line
      .line.two
    .ui.segment.chapter.level.one
      .ui.top.right.attached.label.id 章節 1
      .etherpad
        .article
          h3 國外政府 IT 基礎建設有納入 Open Source 的案例
          p 
            span.contributor hychen
            | 緣由見: 
            a(name="1" href="#reference").referral g0v.tw 台灣零時政府拜訪行政院蔡玉玲政委備忘
              span.ui.floating.label 1
            |  之 2.2 項，會後之共識為 g0v.tw 透過 crowd sourcing 提出更嚴謹的書面建議文。
          h4 標題一
          p 內文一
      .reference
        a(name="reference")
        .item
          span.contributor hychen
          a(href="#1").ui.small.label 1
          span.text 引自
            a(href="")  ipa 
            | 文章「
            a(href="") 開放資料是什麼？能吃嗎？
            | 」，2013/11/11 發表於
            a(href="")  g0v facebook 粉絲專頁
    .ui.segment.chapter.level.two
      .ui.top.right.attached.label.id 章節 2
      .etherpad
        .article
          h3 國內 IT 基礎建設外包的法規, 相關單位, 實際案例及問題
          p 
            span.contributor hychen
            | 緣由見: 
            a(name="1" href="#reference").referral g0v.tw 台灣零時政府拜訪行政院蔡玉玲政委備忘
              span.ui.floating.label 1
            |  之 2.2 項，會後之共識為 g0v.tw 透過 crowd sourcing 提出更嚴謹的書面建議文。
          h4 標題一
          p 內文一
          h5 標題二
          p 內文二
      .reference
        a(name="reference")
        .item
          span.contributor hychen
          a(href="#1").ui.small.label 1
          span.text 引自
            a(href="")  ipa 
            | 文章「
            a(href="") 開放資料是什麼？能吃嗎？
            | 」，2013/11/11 發表於
            a(href="")  g0v facebook 粉絲專頁
    .ui.segment.chapter.level.three
      .ui.top.right.attached.label.id 章節 3
      .etherpad
        .article
          h3 為什麼政府該採用 open source, 其優缺點為何
          p 
            span.contributor hychen
            | 緣由見: 
            a(name="1" href="#reference").referral g0v.tw 台灣零時政府拜訪行政院蔡玉玲政委備忘
              span.ui.floating.label 1
            |  之 2.2 項，會後之共識為 g0v.tw 透過 crowd sourcing 提出更嚴謹的書面建議文。
          h4 標題一
          p 內文一
      .reference
        a(name="reference")
        .item
          span.contributor hychen
          a(href="#1").ui.small.label 1
          span.text 引自
            a(href="")  ipa 
            | 文章「
            a(href="") 開放資料是什麼？能吃嗎？
            | 」，2013/11/11 發表於
            a(href="")  g0v facebook 粉絲專頁

block script
  script.
    $("#navbar .proposal").addClass("active");
    $("#header .switch .content").addClass("active");
    $("#header .menu .plans").addClass("active");
    $("#subheader .menu .article").addClass("active");
