extends proposal-content-plan

block content

  #comparison
    .ui.divided.grid
      .head.row
        .column.comparing
          .ui.pagination.menu
            a.item.active 覆蓋率
            a.item 支持度
        .column.compared.active 方案 1
          .ui.label.black 定稿
          .ui.label.teal 已過門檻
        .column.compared 方案 2
          .ui.label.black 定稿
        .column.compared 方案 3
      .statistic.row
        .column.graph
          .title 總排名
            .ui.label.sample.total 2
          .title 我的排名
            .ui.label.sample.mine 2
        .column.graph.active
          .amount.total.a 70%
          .amount.mine.a 60%
        .column.graph
          .amount.total.b 50%
          .amount.mine.b 80%
        .column.graph
          .amount.total.c 80%
          .amount.mine.c 30%
      .row
        .column.comparing
          .a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
        .column.compared.active
          .ui.segment.green.inverted.status 已採用
        .column.compared
          .ui.segment.no.status 未採用
        .column.compared
          .ui.segment.green.inverted.status 已採用
      .row
        .column.comparing
          .a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
        .column.compared.active
          .ui.segment.no.status 未採用
        .column.compared
          .ui.segment.green.inverted.status 已採用
        .column.compared
          .ui.segment.green.inverted.status 已採用
      .row
        .column.comparing
          .a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
        .column.compared.active
          .ui.segment.green.inverted.status 已採用
        .column.compared
          .ui.segment.green.inverted.status 已採用
        .column.compared
          .ui.segment.no.status 未採用
      .row
        .column.comparing
          .a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
        .column.compared.active
          .ui.segment.green.inverted.status 已採用
        .column.compared
          .ui.segment.green.inverted.status 已採用
        .column.compared
          .ui.segment.green.inverted.status 已採用
      .row
        .column.comparing
          .a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
        .column.compared.active
          .ui.segment.red.inverted.status 已採用
        .column.compared
          .ui.segment.no.status 未採用
        .column.compared
          .ui.segment.red.inverted.status 已採用
      .row
        .column.comparing
          .a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
        .column.compared.active
          .ui.segment.green.inverted.status 已採用
        .column.compared
          .ui.segment.no.status 未採用
        .column.compared
          .ui.segment.green.inverted.status 已採用
      .row
        .column.comparing
          .a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
        .column.compared.active
          .ui.segment.black.inverted.status 已採用
        .column.compared
          .ui.segment.black.inverted.status 已採用
        .column.compared
          .ui.segment.black.inverted.status 已採用
      .row
        .column.comparing
          .a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
        .column.compared.active
          .ui.segment.green.inverted.status 已採用
        .column.compared
          .ui.segment.green.inverted.status 已採用
        .column.compared
          .ui.segment.green.inverted.status 已採用
      .row
        .column.comparing
          .a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
        .column.compared.active
          .ui.segment.no.status 未採用
        .column.compared
          .ui.segment.white.status 已採用
        .column.compared
          .ui.segment.white.status 已採用
      .row
        .column.comparing
          .a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
        .column.compared.active
          .ui.segment.green.inverted.status 已採用
        .column.compared
          .ui.segment.green.inverted.status 已採用
        .column.compared
          .ui.segment.green.inverted.status 已採用


    //-a.item 5 願景
    //-a.item 4 問題
    //-a.item 6 成因
    //-a.item 10 對策
    //-a.item 20 受益者
    //-a.item 10 受害者


block script
  script.
    $("#navbar .proposal").addClass("active");
    $("#header .switch .content").addClass("active");
    $("#header .menu .plans").addClass("active");
    $("#subheader .menu .meta").addClass("active");
