extends proposal-content

block menu-right
  a.ui.right.icon.labeled.button.item 引用
    i.quote.right.icon
  a.ui.right.icon.labeled.button.item 編輯
    i.pencil.icon

block content

  .etherpad
    .article
      h3 提案緣由
      p 
        span.contributor K.C.Huangggggg
        | 緣由見: 
        a(name="1" href="#reference").referral g0v.tw 台灣零時政府拜訪行政院蔡玉玲政委備忘
          span.ui.floating.label 1
        |  之 2.2 項，會後之共識為 g0v.tw 透過 crowd souring 提出更嚴謹的書面建議文。
      h3 提案人身份
      p 
        span.contributor K.C.Huangggggg
        | g0v 零時政府社群
      h3 遞交對象
      p 
        span.contributor K.C.Huangggggg
        | 蔡玉玲政委
      h3 交付方式
      p pdf / html 電子檔
      h3 預定時程
      p 12/31 遞交
      h3 待辦事項
      p broadcast to open source communities about this document.
      p 丟哪些設群? 
      p 撰寫國外政府IT基礎建設有納入Open Source 的案例
      p 蒐集國內IT基礎建設外包的法規, 相關單位, 實際案例即問題
      p 撰寫為什麼政府該採用 open source, 其優缺點為何
      p 撰寫政府採用 open source 可能帶來衝擊
      p 撰寫政府要如何在IT委外制度引入開源碼發展模式
      p 列出建議的業務適用範圍
      p 建議採用的 License
      p 列出 bootstrap strategy

  include -wiki-reference

  include -wiki-response
    
block script
  script.
    $("#navbar .proposal").addClass("active");
    $("#header .switch .content").addClass("active");
    $("#header .menu .intro").addClass("active");
