extends proposal-content-plan


block mini-header
  .ui.menu.inverted
    a(href="proposal-content-plan-chapters.html").item
      i.icon.left.arrow
      | 政府 IT 委外制度，引入開源碼發展模式可能性研究既建議案 (校閱中，3 天後交付立法院) - 規劃 - 方案 1

block subheader
  .ui.menu.subheader.borderless
    a.item.chapter 章節 1 - 國外政府 IT 基礎建設有納入 Open Source 的案例
    a.item.meta 編修紀錄
    .ui.buttons.right.menu
      a.ui.labeled.icon.button 上一章
        i.icon.left.arrow
      a.ui.right.labeled.icon.button.dropdown 1 / 3
        i.icon.triangle.down
        .menu
          .item.active 章節 1 - 國外政府 IT 基礎建設有納入 Open Source 的案例
          .item 章節 2
          .item 章節 3
      a.ui.right.labeled.icon.button 下一章
        i.icon.right.arrow

block wrapper
  #resource
    .ui.secondary.pointing.menu
      a.item.active 已加入
        .ui.label.light.gray 11
      a.item 未加入
        .ui.label.light.gray 8
    .in.this.chapter
      a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
      a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
      a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
    a(href="").ui.horizontal.divider 其他章節
    .in.other.chapter
      a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
      a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
      a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
      a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
      a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
      a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
      a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
      a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
      a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
      a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
      a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
      a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
      a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
      a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
      a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
      a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
      a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
      a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
      a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
  #chapter
    .etherpad
      .article
        h3 國外政府 IT 基礎建設有納入 Open Source 的案例
        p 
          span.contributor hychen
          | 緣由見: 
          a(name="1" href="#reference").referral g0v.tw 台灣零時政府拜訪行政院蔡玉玲政委備忘
            span.ui.floating.label 1
          | 之 2.2 項，
          a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
          | 會後之共識為 g0v.tw 透過 crowd sourcing 提出更嚴謹的書面建議文。
        h4 標題一
        p 內文一
          a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
          | 內文一內文一內文一內文一內文一內文一內文一內文一內文一內文一內文一
        h4 標題二
        p 內文二
          a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
          | 理論上，從右邊拖曳便利貼過來 etherpad 裡面即可直接插入便利貼。
    .reference
      a(name="reference")
      .item
        span.contributor hychen
        a(href="#1").ui.small.label 1
        span.text 引自
          a(href="")  ipa 
          | 文章「
          a(href="") 開放資料是什麼？能吃嗎？
          | 」，2013/11/11 發表於
          a(href="")  g0v facebook 粉絲專頁

    .response
      a(name="response")
      .ui.tabular.menu.small
        .description.item 問題與建議
        a.active.item 討論中
          .ui.label.light.gray 4
        a.item 已解決
          .ui.label.light.gray 11
        a.item 追蹤對象
          .ui.label.light.gray 7
        a.item 我的
          .ui.label.light.gray 1
        a.item +1
          .ui.label.light.gray 3
        a.item 引用
          .ui.label.light.gray 0
      .discussing
        .ui.comments
          .comment
            .status
              .ui.vertical.icon.menu
                a.item
                  i.arrow.up.icon
                span.item
                  | 10
                //-a.item
                  i.arrow.down.icon
            .content
              .text 鄉民做伙來關啊關心您，真正怨嘆你無義，放阮孤單寫程式，半暝未爽心稀微啊心稀微。鄉民做伙來關啊關心您，真正怨嘆你無義，放阮孤單寫程式，半暝未爽心稀微啊心稀微。鄉民做伙來關啊關心您，真正怨嘆你無義，放阮孤單寫程式，半暝未爽心稀微啊心稀微。鄉民做伙來關啊關心您，真正怨嘆你無義，放阮孤單寫程式，半暝未爽心稀微啊心稀微。鄉民做伙來關啊關心您，真正怨嘆你無義，放阮孤單寫程式，半暝未爽心稀微啊心稀微。
                .metadata
                  a(href="").author hychen
                    .avatar
                      img(src="https://pbs.twimg.com/profile_images/378800000764656007/257ec7e97d932fb7f082b03d65d2a9ef.jpeg")
                  .date 2 天前
                  .actions
                    a.reply 回應
                      i.reply.mail.icon
                    a.quote 引用
                      i.quote.right.icon
                    a.resolved 標註解決
                      i.checkmark.icon
                    a.quote 檢舉
                      i.flag.icon
                    //-a.delete 刪除
                      i.remove.icon
            .comments
              .comment
                .status
                  .ui.vertical.icon.menu
                    a.item
                      i.arrow.up.icon
                    span.item
                      | 10
                    //-a.item
                      i.arrow.down.icon
                .content
                  .text 鄉民做伙來關啊關心您，真正怨嘆你無義，放阮孤單寫程式，半暝未爽心稀微啊心稀微。鄉民做伙來關啊關心您，真正怨嘆你無義，放阮孤單寫程式，半暝未爽心稀微啊心稀微。鄉民做伙來關啊關心您，真正怨嘆你無義，放阮孤單寫程式，半暝未爽心稀微啊心稀微。鄉民做伙來關啊關心您，真正怨嘆你無義，放阮孤單寫程式，半暝未爽心稀微啊心稀微。
                    .metadata
                      a(href="").author tuiry
                        .avatar
                          img(src="https://lh4.googleusercontent.com/-MEd4WCnxsvM/AAAAAAAAAAI/AAAAAAAAAAA/ug7fUKuanmE/photo.jpg")
                      .date 2 天前
                      .actions
                        a.reply 回應
                          i.reply.mail.icon
                        a.quote 引用
                          i.quote.right.icon
                        a.resolved 標註解決
                          i.checkmark.icon
                        a.flag 檢舉
                          i.flag.icon
              .comment
                .status
                  .ui.vertical.icon.menu
                    a.item
                      i.arrow.up.icon
                    span.item
                      | 10
                    //-a.item
                      i.arrow.down.icon
                .content
                  .text 鄉民做伙來關啊關心您，真正怨嘆你無義，放阮孤單寫程式，半暝未爽心稀微啊心稀微。
                    .metadata
                      a(href="").author jimyhuang
                        .avatar
                          img(src="https://2.gravatar.com/avatar/525ca58b0699ee05f4c876c7b45b60ae?d=https%3A%2F%2Fidenticons.github.com%2F8a1e41747e8d6b652e0d46c8b862460c.png")
                      .date 2 天前
                      .actions
                        a.reply 回應
                          i.reply.mail.icon
                        a.quote 引用
                          i.quote.right.icon
                        a.resolved 標註解決
                          i.checkmark.icon
                        a.flag 檢舉
                          i.flag.icon
          .comment
            .status
              .ui.vertical.icon.menu
                a.item
                  i.arrow.up.icon
                span.item
                  | 10
                //-a.item
                  i.arrow.down.icon
            .content
              .text 鄉民做伙來關啊關心您，真正怨嘆你無義，放阮孤單寫程式，半暝未爽心稀微啊心稀微。鄉民做伙來關啊關心您，真正怨嘆你無義，放阮孤單寫程式，半暝未爽心稀微啊心稀微。鄉民做伙來關啊關心您，真正怨嘆你無義，放阮孤單寫程式，半暝未爽心稀微啊心稀微。鄉民做伙來關啊關心您，真正怨嘆你無義，放阮孤單寫程式，半暝未爽心稀微啊心稀微。鄉民做伙來關啊關心您，真正怨嘆你無義，放阮孤單寫程式，半暝未爽心稀微啊心稀微。
                .metadata
                  a(href="").author caasi
                    .avatar
                      img(src="https://pbs.twimg.com/profile_images/378800000796520070/e2e9019c7473f04e97c605edb674bfae.png")
                  .date 2 天前
                  .actions
                    a.reply 回應
                      i.reply.mail.icon
                    a.quote 引用
                      i.quote.right.icon
                    a.resolved 標註解決
                      i.checkmark.icon
                    a.flag 檢舉
                      i.flag.icon
      .resolved
      .following
      .my
      .upvotes
      .downvotes
      .quotes
      .new
        .ui.comments
          .post.comment
            a(href="").avatar
              img(src="https://2.gravatar.com/avatar/c9dbd97e2e3a7b00639bab0e111c2be6?d=https%3A%2F%2Fidenticons.github.com%2F07cc0bfcdfb6597e7fde5b2c1778a2a9.png")
            .content
              form.ui.reply.form
                .field
                  textarea
                .ui.teal.button.submit.right.labeled.icon
                  i.add.icon
                  | 新討論
                span.account 以 ETBlue 的身份發表。
                a.ui.small.button 切換身份…

block script
  script.
    $("#navbar .proposal").addClass("active");
    $("#header .switch .content").addClass("active");
    $("#header .menu .plans").addClass("active");
    $("#subheader .menu .chapter").addClass("active");
