extends issues

block head

block subtitle
  | 政府 IT 委外制度，引入開源碼發展模式可能性研究既建議案 | 

block body

  #proposal

    header#header
      .ui.segment.title
        h2 政府 IT 委外制度，引入開源碼發展模式可能性研究既建議案
        span.status
          .ui.label.purple 校閱中
          .ui.label.orange 3 天後交付立法院
        span.ui.labeled.icon.menu.secondary.action
          a.item
            i.icon.star
            span.text 123
          a.item
            i.icon.rss
            span.text 123
          a.item
            i.icon.share.sign
            span.text 123
        span.switch
          a(href="issue-content-intro.html").content 內容
          a(href="issue-meta-log.html").meta 資訊
      block menu

    #wrapper
      section#content
        block content

block script
  script.
    $("#navbar .proposal").addClass("active");
