extends proposal-content

block head
  link(rel="stylesheet",href="css/level-two.css")

block header

block mini-header
  include -proposal-mini-header-problems

block menu-right
  //-include -proposal-sort-menu

block subheader
  .ui.menu.subheader
    .ui.steps
      a(href="proposal-content-vision.html").ui.step.vision.normal 願景
      a(href="proposal-content-problem.html").ui.step.problem.normal 問題
      a(href="proposal-content-reason.html").ui.step.reason.active 成因
      a(href="proposal-content-solution.html").ui.step.solution.normal 對策
    .ui.buttons.right.menu
      a.ui.labeled.icon.button 上一個成因
        i.icon.left.arrow
      include -proposal-navigation-scope-menu
      a.ui.right.labeled.icon.button 下一個成因
        i.icon.right.arrow
  .subject
    .sticker
      //-.ui.vertical.icon.menu.action
        a.item.yes.selected
          i.icon.checkmark.checked
        a.item.unknown
          i.icon.question
        a.item.no
          i.icon.remove
      .ui.segment.reason
        .ui.label.number.top.right.attached.light.gray 成因 1
        | 企畫階段沒有納入外界意見，不瞭解使用者需求
        .source 針對問題
          a(href="proposal-content-problem.html").a.topic.item 政府做了很多類似的蚊子網站、蚊子 app，難用又過時
        .ui.label.meta.bottom.attached.light.gray
          a hychen
          | 於
          a 1 小時前發表
block content
  .stickers
    .todo
      .sticker
        .ui.icon.labeled.button.new
          i.icon.add
          | 此成因的對策
      include -proposal-content-category-menu
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.solution
          a(href="proposal-content-solution.html").script 軟體專案發想初期就在動民主等公開平台徵求民間意見
          .ui.label.number.top.right.attached.light.gray 對策 1
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
      //-.ui.horizontal.divider 來自其他成因
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.solution
          a(href="proposal-content-solution.html").script 軟體專案發想初期就在動民主等公開平台徵求民間意見
          .ui.label.number.top.right.attached.light.gray 對策 1
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.solution
          a(href="proposal-content-solution.html").script 軟體專案發想初期就在動民主等公開平台徵求民間意見
          .ui.label.number.top.right.attached.light.gray 對策 1
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
    .done
      //-.ui.horizontal.divider 修改過
      .sticker.edited
        .ui.vertical.icon.menu.action
          a.item.yes.selected
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.solution
          a(href="proposal-content-solution.html").script 軟體專案發想初期就在動民主等公開平台徵求民間意見
          .ui.label.number.top.right.attached.light.gray 對策 1
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
            a 2 分鐘前編輯
      //-.ui.horizontal.divider 同意
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes.selected
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.solution
          a(href="proposal-content-solution.html").script 軟體專案發想初期就在動民主等公開平台徵求民間意見
          .ui.label.number.top.right.attached.light.gray 對策 1
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
            a 2 分鐘前編輯
      //-.ui.horizontal.divider 不確定
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes
            i.icon.checkmark.checked
          a.item.unknown.selected
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.solution
          a(href="proposal-content-solution.html").script 軟體專案發想初期就在動民主等公開平台徵求民間意見
          .ui.label.number.top.right.attached.light.gray 對策 1
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
      //-.ui.horizontal.divider 不同意
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no.selected
            i.icon.remove
        .ui.segment.solution
          a(href="proposal-content-solution.html").script 軟體專案發想初期就在動民主等公開平台徵求民間意見
          .ui.label.number.top.right.attached.light.gray 對策 1
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
      
block script
  script.
    $("#navbar .proposal").addClass("active");
    $("#header .switch .content").addClass("active");
    $("#header .menu .problems").addClass("active");
