extends proposal-content

block head
  link(rel="stylesheet",href="css/level-two.css")

block header

block mini-header
  include -proposal-mini-header-problems

block menu-right
  //-include -proposal-sort-menu

block subheader
  .ui.menu.subheader
    .ui.steps
      a(href="proposal-content-problem.html").ui.step.problem.active 問題
      a(href="proposal-content-reason.html").ui.step.reason.normal 成因
      a(href="proposal-content-solution.html").ui.step.solution.normal 對策
    .ui.buttons.right.menu
      a.ui.labeled.icon.button 上一個問題
        i.icon.left.arrow
      //-.ui.pagination.menu
        a(href="proposal-content-problem.html").item.active 問題
        a(href="proposal-content-reason.html").item 成因
        a(href="proposal-content-solution.html").item 對策
      include -proposal-navigation-scope-menu
      a.ui.right.labeled.icon.button 下一個問題
        i.icon.right.arrow
  .subject
    .sticker
      //-.ui.vertical.icon.menu.action
        a.item.yes.selected
          i.icon.checkmark.checked
        a.item.unknown
          i.icon.question
        a.item.no
          i.icon.remove
      .ui.segment.problem
        .ui.label.number.top.right.attached.light.gray 問題 1
        | 政府做了很多類似的蚊子網站、蚊子 app，難用又過時
        .ui.label.meta.bottom.attached.light.gray
          a hychen
          | 於
          a 1 小時前發表
            | ，
            a(href="") 你
            a(href="") clkao
            a(href="") ipa
            a(href="") tkirby
            a(href="") jedi
            a(href="") au 
            | 與其他 
            a(href="") 10 人
            | 同意
block content
  .stickers
    .todo
      .sticker
        .ui.icon.labeled.button.new
          i.icon.add
          | 此問題的成因
      include -proposal-content-category-menu
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.reason
          a(href="proposal-content-reason.html").script 企畫階段沒有納入外界意見，不瞭解使用者需求
          .ui.label.number.top.right.attached.light.gray 成因 1
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
            | ，
            a(href="") clkao
            a(href="") ipa
            a(href="") tkirby
            a(href="") jedi
            a(href="") au 
            | 與其他 
            a(href="") 10 人
            | 同意
      //-.ui.horizontal.divider 來自其他問題
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.reason
          a(href="proposal-content-reason.html").script 企畫階段沒有納入外界意見，不瞭解使用者需求
          .ui.label.number.top.right.attached.light.gray 成因 1
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
            | ，
            a(href="") clkao
            a(href="") ipa
            a(href="") tkirby
            a(href="") jedi
            a(href="") au 
            | 與其他 
            a(href="") 10 人
            | 同意
    .done
      //-.ui.horizontal.divider 修改過
      .sticker.edited
        .ui.vertical.icon.menu.action
          a.item.yes.selected
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.reason
          a(href="proposal-content-reason.html").script 企畫階段沒有納入外界意見，不瞭解使用者需求
          .ui.label.number.top.right.attached.light.gray 成因 1
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
            a 2 分鐘前編輯
      //-.ui.horizontal.divider 同意
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes.selected
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.reason
          a(href="proposal-content-reason.html").script 企畫階段沒有納入外界意見，不瞭解使用者需求
          .ui.label.number.top.right.attached.light.gray 成因 1
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
            a 2 分鐘前編輯
            | ，
            a(href="") 你
            a(href="") clkao
            a(href="") ipa
            a(href="") tkirby
            a(href="") jedi
            a(href="") au 
            | 與其他 
            a(href="") 10 人
            | 同意
      //-.ui.horizontal.divider 不確定
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes
            i.icon.checkmark.checked
          a.item.unknown.selected
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.reason
          a(href="proposal-content-reason.html").script 企畫階段沒有納入外界意見，不瞭解使用者需求
          .ui.label.number.top.right.attached.light.gray 成因 1
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
            | ，
            a(href="") clkao
            a(href="") ipa
            a(href="") tkirby
            a(href="") jedi
            a(href="") au 
            | 與其他 
            a(href="") 10 人
            | 同意
      //-.ui.horizontal.divider 不同意
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no.selected
            i.icon.remove
        .ui.segment.reason
          a(href="proposal-content-reason.html").script 企畫階段沒有納入外界意見，不瞭解使用者需求
          .ui.label.number.top.right.attached.light.gray 成因 1
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
            | ，
            a(href="") clkao
            a(href="") ipa
            a(href="") tkirby
            a(href="") jedi
            a(href="") au 
            | 與其他 
            a(href="") 10 人
            | 同意
      
block script
  script.
    $("#navbar .proposal").addClass("active");
    $("#header .switch .content").addClass("active");
    $("#header .menu .problems").addClass("active");
