extends proposal-content

block head
  link(rel="stylesheet",href="css/level-two.css")

block header

block mini-header
  include -proposal-mini-header-problems

block menu-right
  //-include -proposal-sort-menu

block subheader
  .ui.menu.subheader
    .ui.steps
      a(href="proposal-content-vision.html").ui.step.vision.normal 願景
      a(href="proposal-content-problem.html").ui.step.problem.normal 問題
      a(href="proposal-content-reason.html").ui.step.reason.normal 成因
      a(href="proposal-content-solution.html").ui.step.solution.active 對策
    .ui.buttons.right.menu
      a.ui.labeled.icon.button 上一個對策
        i.icon.left.arrow
      include -proposal-navigation-scope-menu
      a.ui.right.labeled.icon.button 下一個對策
        i.icon.right.arrow
  .subject
    .sticker
      //-.ui.vertical.icon.menu.action
        a.item.yes.selected
          i.icon.checkmark.checked
        a.item.unknown
          i.icon.question
        a.item.no
          i.icon.remove
      .ui.segment.solution
        .ui.label.number.top.right.attached.light.gray 對策 1
        .script 軟體專案發想初期就在動民主等公開平台徵求民間意見
        .source 針對成因
          a(href="proposal-content-reason.html").a.topic.item 企畫階段沒有納入外界意見，不瞭解使用者需求
        .source 已被採用於
          a(href="proposal-content-plan-chapter.html").a.topic.item 方案 1 - 章節 1
          a(href="proposal-content-plan-chapter.html").a.topic.item 方案 2 - 章節 2
          a(href="proposal-content-plan-chapter.html").a.topic.item 方案 3 - 章節 3
        .ui.label.meta.bottom.attached.light.gray
          a hychen
          | 於
          a 1 小時前發表
block content
  .ui.two.column.stackable.grid.stickers
    .column.beneficiary
      .sticker
        .ui.icon.labeled.button.new
          i.icon.add
          | 此對策的受益者
    .column.sufferer
      .sticker
        .ui.icon.labeled.button.new
          i.icon.add
          | 此對策的受害者
  .ui.two.column.stackable.grid.stickers
    .column.beneficiary
      include -proposal-content-category-menu
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.stakeholder
          a(href="").a.tag.item 政府計畫承辦人
          span.info 有群眾外包幫忙制訂招標規格
          .ui.label.number.top.right.attached.light.gray 關係者 1
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
      //-.ui.horizontal.divider 來自其他對策
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.stakeholder
          a(href="").a.tag.item 政府計畫承辦人
          span.info 有群眾外包幫忙制訂招標規格
          .ui.label.number.top.right.attached.light.gray 關係者 1
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.stakeholder
          a(href="").a.tag.item 政府計畫承辦人
          span.info 有群眾外包幫忙制訂招標規格
          .ui.label.number.top.right.attached.light.gray 關係者 1
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
      //-.ui.horizontal.divider 修改過
      .sticker.edited
        .ui.vertical.icon.menu.action
          a.item.yes.selected
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.stakeholder
          a(href="").a.tag.item 政府計畫承辦人
          span.info 有群眾外包幫忙制訂招標規格
          .ui.label.number.top.right.attached.light.gray 關係者 1
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
            a 2 分鐘前編輯
      //-.ui.horizontal.divider 同意
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes.selected
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.stakeholder
          a(href="").a.tag.item 政府計畫承辦人
          span.info 有群眾外包幫忙制訂招標規格
          .ui.label.number.top.right.attached.light.gray 關係者 1
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
            a 2 分鐘前編輯
      //-.ui.horizontal.divider 不確定
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes
            i.icon.checkmark.checked
          a.item.unknown.selected
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.stakeholder
          a(href="").a.tag.item 政府計畫承辦人
          span.info 有群眾外包幫忙制訂招標規格
          .ui.label.number.top.right.attached.light.gray 關係者 1
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
      //-.ui.horizontal.divider 不同意
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no.selected
            i.icon.remove
        .ui.segment.stakeholder
          a(href="").a.tag.item 政府計畫承辦人
          span.info 有群眾外包幫忙制訂招標規格
          .ui.label.number.top.right.attached.light.gray 關係者 1
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
    .column.sufferer
      include -proposal-content-category-menu
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.stakeholder
          a(href="").a.tag.item 綁標廠商
          span.info 無法利用資訊不透明主導政府標案計畫方向
          .ui.label.number.top.right.attached.light.gray 關係者 1
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
      //-.ui.horizontal.divider 來自其他對策
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.stakeholder
          a(href="").a.tag.item 綁標廠商
          span.info 無法利用資訊不透明主導政府標案計畫方向
          .ui.label.number.top.right.attached.light.gray 關係者 1
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.stakeholder
          a(href="").a.tag.item 綁標廠商
          span.info 無法利用資訊不透明主導政府標案計畫方向
          .ui.label.number.top.right.attached.light.gray 關係者 1
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
      //-.ui.horizontal.divider 修改過
      .sticker.edited
        .ui.vertical.icon.menu.action
          a.item.yes.selected
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.stakeholder
          a(href="").a.tag.item 綁標廠商
          span.info 無法利用資訊不透明主導政府標案計畫方向
          .ui.label.number.top.right.attached.light.gray 關係者 1
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
            a 2 分鐘前編輯
      //-.ui.horizontal.divider 同意
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes.selected
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.stakeholder
          a(href="").a.tag.item 綁標廠商
          span.info 無法利用資訊不透明主導政府標案計畫方向
          .ui.label.number.top.right.attached.light.gray 關係者 1
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
            a 2 分鐘前編輯
      //-.ui.horizontal.divider 不確定
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes
            i.icon.checkmark.checked
          a.item.unknown.selected
            i.icon.question
          a.item.no
            i.icon.remove
        .ui.segment.stakeholder
          a(href="").a.tag.item 綁標廠商
          span.info 無法利用資訊不透明主導政府標案計畫方向
          .ui.label.number.top.right.attached.light.gray 關係者 1
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
      //-.ui.horizontal.divider 不同意
      .sticker
        .ui.vertical.icon.menu.action
          a.item.yes
            i.icon.checkmark.checked
          a.item.unknown
            i.icon.question
          a.item.no.selected
            i.icon.remove
        .ui.segment.stakeholder
          a(href="").a.tag.item 綁標廠商
          span.info 無法利用資訊不透明主導政府標案計畫方向
          .ui.label.number.top.right.attached.light.gray 關係者 1
          .ui.label.meta.bottom.attached.light.gray
            a hychen
            | 於
            a 1 小時前發表
      
block script
  script.
    $("#navbar .proposal").addClass("active");
    $("#header .switch .content").addClass("active");
    $("#header .menu .problems").addClass("active");
