extends proposal-content-plan

block content

  #comparison
    .ui.divided.grid
      .head.row
        .column
          .ui.secondary.pointing.menu
            a.item.active 周延度
            a.item 支持度
        .column.active 方案 1
          .ui.label.black 定稿
          .ui.label.teal 已過門檻
        .column 方案 2
          .ui.label.black 定稿
        .column 方案 3
      .statistic.row
        .column.graph
          .title 採納所有對策：排名
            .ui.label.sample.total 2
          .title 採納我同意的對策：排名
            .ui.label.sample.mine 2
        .column.graph.active
          .amount.total.a 70%
          .amount.mine.a 60%
        .column.graph
          .amount.total.b 50%
          .amount.mine.b 80%
        .column.graph
          .amount.total.c 80%
          .amount.mine.c 30%
      .comparison.row
        .column
          .a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
            .ui.floating.label.yes
              i.icon.checkmark.checked
        .column.active
          .ui.segment.green.inverted.status 已採用
        .column
          .ui.segment.no.status 未採用
        .column
          .ui.segment.green.inverted.status 已採用
      .comparison.row
        .column
          .a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
            .ui.floating.label.yes
              i.icon.checkmark.checked
        .column.active
          .ui.segment.no.status 未採用
        .column
          .ui.segment.green.inverted.status 已採用
        .column
          .ui.segment.green.inverted.status 已採用
      .comparison.row
        .column
          .a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
            .ui.floating.label.yes
              i.icon.checkmark.checked
        .column.active
          .ui.segment.green.inverted.status 已採用
        .column
          .ui.segment.green.inverted.status 已採用
        .column
          .ui.segment.no.status 未採用
      .comparison.row
        .column
          .a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
            .ui.floating.label.yes
              i.icon.checkmark.checked
        .column.active
          .ui.segment.green.inverted.status 已採用
        .column
          .ui.segment.green.inverted.status 已採用
        .column
          .ui.segment.green.inverted.status 已採用
      .comparison.row
        .column
          .a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
            .ui.floating.label.no
              i.icon.remove
        .column.active
          .ui.segment.red.inverted.status 已採用
        .column
          .ui.segment.no.status 未採用
        .column
          .ui.segment.red.inverted.status 已採用
      .comparison.row
        .column
          .a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
            .ui.floating.label.yes
              i.icon.checkmark.checked
        .column.active
          .ui.segment.green.inverted.status 已採用
        .column
          .ui.segment.no.status 未採用
        .column
          .ui.segment.green.inverted.status 已採用
      .comparison.row
        .column
          .a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
            .ui.floating.label.unknown
              i.icon.question
        .column.active
          .ui.segment.black.inverted.status 已採用
        .column
          .ui.segment.black.inverted.status 已採用
        .column
          .ui.segment.black.inverted.status 已採用
      .comparison.row
        .column
          .a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
            .ui.floating.label.yes
              i.icon.checkmark.checked
        .column.active
          .ui.segment.green.inverted.status 已採用
        .column
          .ui.segment.green.inverted.status 已採用
        .column
          .ui.segment.green.inverted.status 已採用
      .comparison.row
        .column
          .a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
            .ui.floating.label.unvoted
              i.icon.stop
        .column.active
          .ui.segment.no.status 未採用
        .column
          .ui.segment.white.status 已採用
        .column
          .ui.segment.white.status 已採用
      .comparison.row
        .column
          .a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
            .ui.floating.label.yes
              i.icon.checkmark.checked
        .column.active
          .ui.segment.green.inverted.status 已採用
        .column
          .ui.segment.green.inverted.status 已採用
        .column
          .ui.segment.green.inverted.status 已採用


    //-a.item 5 願景
    //-a.item 4 問題
    //-a.item 6 成因
    //-a.item 10 對策
    //-a.item 20 受益者
    //-a.item 10 受害者


block script
  script.
    $("#navbar .proposal").addClass("active");
    $("#header .switch .content").addClass("active");
    $("#header .menu .plans").addClass("active");
    $("#subheader .menu .meta").addClass("active");
