extends proposal-content

block head
  link(rel="stylesheet",href="css/level-two.css")

block menu-right
  //-include -proposal-sort-menu

block content
  .section.in.list
    a.ui.icon.labeled.button.new.plan
      i.icon.add
      | 發起新方案
  .section.in.list
    include -action-button-in-list
    .ui.segment.plan.black
      .ui.top.right.attached.label.black.id 方案 1
      p.abstract
        a(href="proposal-content-plan.html") 也許在美國，我們擔心自己永遠找不到人生中真正想要做的是什麼，沒錯！給你的頸根與胸膛一半日的自由，同在一個神奇的宇宙裡自得。金正恩:如敵人膽敢絲毫侵犯朝鮮領海，Jeremy爆冷奪冠，陸客瘋總統府，遊民喪命地下道，父離家十多年，國銀跨國債權，台灣最新英語能力表現報告！有，混合這些，然...
      .info
        p.solution
          span.ui.label.white 對策 (10)
          a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
          a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
          a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
          a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
          a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
          span ...
        p.beneficiary
          span.ui.label.white 受益者 (20)
          a(href="").a.stakeholder.sticker 政府計畫承辦人
          a(href="").a.stakeholder.sticker 政府計畫承辦人
          a(href="").a.stakeholder.sticker 政府計畫承辦人
          a(href="").a.stakeholder.sticker 政府計畫承辦人
          a(href="").a.stakeholder.sticker 政府計畫承辦人
          span ...
        p.sufferer
          span.ui.label.white 受害者 (4)
          a(href="").a.stakeholder.sticker 綁標廠商
          a(href="").a.stakeholder.sticker 綁標廠商
          a(href="").a.stakeholder.sticker 綁標廠商
          a(href="").a.stakeholder.sticker 綁標廠商
          span ...
      .ui.attached.label.bottom.light.gray.meta
        | 提案
        a(href="") hychen
        a(href="") hcchien
        a(href="") jimyhuang
        br
        | 連署
        a(href="") 你
        a(href="") clkao
        a(href="") ipa
        a(href="") tkirby
        a(href="") jedi
        a(href="") au 
        | 與其他 
        a(href="") 10 人
        br
        | 訂閱
        a(href="") 你
        a(href="") clkao
        a(href="") ipa
        a(href="") tkirby
        a(href="") jedi
        a(href="") au 
        | 與其他 
        a(href="") 10 人
  .section.in.list
    include -action-button-in-list
    .ui.segment.plan
      .ui.ribbon.label.black.status 定稿
      .ui.top.right.attached.label.black.id 方案 2
      p.abstract
        a(href="proposal-content-plan.html") 也許在美國，我們擔心自己永遠找不到人生中真正想要做的是什麼，沒錯！給你的頸根與胸膛一半日的自由，同在一個神奇的宇宙裡自得。金正恩:如敵人膽敢絲毫侵犯朝鮮領海，Jeremy爆冷奪冠，陸客瘋總統府，遊民喪命地下道，父離家十多年，國銀跨國債權，台灣最新英語能力表現報告！有，混合這些，然...
      .info
        p.solution
          span.ui.label.white 對策 (10)
          a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
          a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
          a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
          a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
          a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
          span ...
        p.beneficiary
          span.ui.label.white 受益者 (20)
          a(href="").a.stakeholder.sticker 政府計畫承辦人
          a(href="").a.stakeholder.sticker 政府計畫承辦人
          a(href="").a.stakeholder.sticker 政府計畫承辦人
          a(href="").a.stakeholder.sticker 政府計畫承辦人
          a(href="").a.stakeholder.sticker 政府計畫承辦人
          span ...
        p.sufferer
          span.ui.label.white 受害者 (4)
          a(href="").a.stakeholder.sticker 綁標廠商
          a(href="").a.stakeholder.sticker 綁標廠商
          a(href="").a.stakeholder.sticker 綁標廠商
          a(href="").a.stakeholder.sticker 綁標廠商
          span ...
      .ui.attached.label.bottom.light.gray.meta
        | 提案
        a(href="") hychen
        a(href="") hcchien
        a(href="") jimyhuang
        br
        | 連署
        a(href="") 你
        a(href="") clkao
        a(href="") ipa
        a(href="") tkirby
        a(href="") jedi
        a(href="") au 
        | 與其他 
        a(href="") 10 人
        br
        | 訂閱
        a(href="") 你
        a(href="") clkao
        a(href="") ipa
        a(href="") tkirby
        a(href="") jedi
        a(href="") au 
        | 與其他 
        a(href="") 10 人
  .section.in.list
    include -action-button-in-list
    .ui.segment.plan.teal
      .ui.ribbon.label.teal.status 定稿
      .ui.top.right.attached.label.teal.id 方案 3 - 已達連署門檻
      p.abstract
        a(href="proposal-content-plan.html") 也許在美國，我們擔心自己永遠找不到人生中真正想要做的是什麼，沒錯！給你的頸根與胸膛一半日的自由，同在一個神奇的宇宙裡自得。金正恩:如敵人膽敢絲毫侵犯朝鮮領海，Jeremy爆冷奪冠，陸客瘋總統府，遊民喪命地下道，父離家十多年，國銀跨國債權，台灣最新英語能力表現報告！有，混合這些，然...
      .info
        p.solution
          span.ui.label.white 對策 (10)
          a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
          a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
          a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
          a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
          a(href="").a.solution.sticker 軟體專案發想初期就在動民主等公開平台徵求民間意見
          span ...
        p.beneficiary
          span.ui.label.white 受益者 (20)
          a(href="").a.stakeholder.sticker 政府計畫承辦人
          a(href="").a.stakeholder.sticker 政府計畫承辦人
          a(href="").a.stakeholder.sticker 政府計畫承辦人
          a(href="").a.stakeholder.sticker 政府計畫承辦人
          a(href="").a.stakeholder.sticker 政府計畫承辦人
          span ...
        p.sufferer
          span.ui.label.white 受害者 (4)
          a(href="").a.stakeholder.sticker 綁標廠商
          a(href="").a.stakeholder.sticker 綁標廠商
          a(href="").a.stakeholder.sticker 綁標廠商
          a(href="").a.stakeholder.sticker 綁標廠商
          span ...
      .ui.attached.label.bottom.light.gray.meta
        | 提案
        a(href="") hychen
        a(href="") hcchien
        a(href="") jimyhuang
        br
        | 連署
        a(href="") 你
        a(href="") clkao
        a(href="") ipa
        a(href="") tkirby
        a(href="") jedi
        a(href="") au 
        | 與其他 
        a(href="") 10 人
        br
        | 訂閱
        a(href="") 你
        a(href="") clkao
        a(href="") ipa
        a(href="") tkirby
        a(href="") jedi
        a(href="") au 
        | 與其他 
        a(href="") 10 人
      
block script
  script.
    $("#navbar .proposal").addClass("active");
    $("#header .switch .content").addClass("active");
    $("#header .menu .plans").addClass("active");
