extends proposals

block head

block subtitle
  | 政府 IT 委外制度，引入開源碼發展模式可能性研究既建議案 | 

block body

  #proposal

    header#header
      block header

    #mini-header
      block mini-header

    #subheader
      block subheader
    #wrapper
      block wrapper
      section#content
        block content

block script
  script.
    $("#navbar .proposal").addClass("active");
