ul#submenu.submenu
  li: a(href="propose-index.html") 提案摘要
  li: a(href="") 背景 
    b (33)
  li: a(href="") 規劃 
    b (19)
  li: a(href="") 執行細節 
    b (61)
.button
  i.glyphicon.glyphicon-link
  i.glyphicon.glyphicon-list-alt
