.section.in.list
  .ui.vertical.labeled.icon.menu.secondary.action
    a.item
      i.icon.star
      | 100
    a.item
      i.icon.rss
      | 100
    a.item
      i.icon.share.sign
      | 100
  .ui.segment.entry
    .ui.attached.label.top.white.title
      h2: a(href="qa-content.html")
        | 目前交流現況──台灣業者去大陸在做些什麼／大陸業者來台灣在做些什麼?
    .summary
      p 也許在美國，我們擔心自己永遠找不到人生中真正想要做的是什麼，沒錯！給你的頸根與胸膛一半日的自由，同在一個神奇的宇宙裡自得。金正恩:如敵人膽敢絲毫侵犯朝鮮領海，Jeremy爆冷奪冠，陸客瘋總統府，遊民喪命地下道，父離家十多年，國銀跨國債權，台灣最新英語能力表現報告！有，混合這些，然...
    .info
      p.board
        span.ui.label.white 看板
        a(href="").a.board.item 兩岸服務貿易協議
        a(href="").a.board.item ECFA
        a(href="").a.board.item FTA
        a(href="").a.board.item 憲法113串連行動
      p.tag
        span.ui.label.white 標籤
        a(href="").a.tag.item 中國
        a(href="").a.tag.item 經濟
        a(href="").a.tag.item 產業
    .ui.attached.label.bottom.light.gray.meta
      | 共 
      a(href="") 13 回答
      | 最高 15 評價，
      a(href="") 你
      | 、
      a(href="") clkao
      | 、
      a(href="") ipa
      | 、
      a(href="") tkirby
      | 、
      a(href="") jedi
      | 、
      a(href="") au 
      | 與其他 
      a(href="") 10 人
      | 追蹤中

