extends _template

block title
  block subtitle
  | 標籤 

block body

  #tags

    #menu

      .ui.secondary.pointing.menu
        a.item 全部
          .ui.label.light.gray 1k
        a.item.active 推薦
          .ui.label.light.gray 188
        a.item 訂閱
          .ui.label.light.gray 6
        a.item 收藏
          .ui.label.light.gray 10
        a.item 我的專業
          .ui.label.light.gray 2
        a.item 我的興趣
          .ui.label.light.gray 3
        .right.menu
          include -sort-menu
          .ui.icon.right.labeled.button.small
            i.icon.plus
            | 新標籤

    #content

      include -navigation

      .ui.two.column.stackable.grid.tag
        .column
          include -tag-in-list
        .column
          include -tag-in-list
        .column
          include -tag-in-list
        .column
          include -tag-in-list
        .column
          include -tag-in-list
        .column
          include -tag-in-list
        .column
          include -tag-in-list
        .column
          include -tag-in-list
        .column
          include -tag-in-list
        .column
          include -tag-in-list

      include -navigation

block script
  script.
    $("#navbar .tag").addClass("active");
