extends _template

block head
  link(rel="stylesheet",href="css/level-one.css")

block title
  block subtitle
  | 公民列表 

block body

  #users

    #menu

      .ui.secondary.pointing.menu
        a.item 全部
          .ui.label.light.gray 1k
        a.item.active 推薦
          .ui.label.light.gray 188
        a.item 跟隨中
          .ui.label.light.gray 6
        a.item 跟隨我的
          .ui.label.light.gray 2
        a.item 已收藏
          .ui.label.light.gray 10
        a.item 已封鎖
          .ui.label.light.gray 3
        a.item 已檢舉
          .ui.label.light.gray 3
        .right.menu
          a.ui.dropdown.item
            | 名稱
            i.dropdown.icon
            .menu
              .item.name.active 名稱
              .item.reputation 最高聲望
              .item.experience 內容被最多引用
              .item.experience 內容獲最多正評
              .item.follower 最多人跟隨

    #content

      .navigation
        .ui.pagination.menu
          a.item.active 全部
            .ui.label.light.gray 330
          a.item 個人
            .ui.label.light.gray 300
          a.item 團體
            .ui.label.light.gray 30

      include -user-in-list
      include -user-in-list
      include -user-in-list
      include -user-in-list
      include -user-in-list

      include -navigation

block script
  script.
    $("#navbar .user").addClass("active");
