| {% extends "layout/level2.jade" %}
| {% block menu %}
| {% include 'motion/menu.jade' %}
| {% endblock %}
| {% block roomname %}
| 會議室
| {% endblock %}
| {% block menu-icon-left %}
ul.menu.icons
  li: a: i.icon-link
  li: a: i.icon-plus
| {% endblock %}
| {% block menu-icon-right %}
ul.menu.icons
  li: a: i.icon-tag
  li: a
    | 最新
    i.icon-chevron-down
| {% endblock %}
| {% block icontent %}
#content
  .row
    .col-sm-1.col-icon-left
      i.icon-star-empty
      .count 167
    .col-sm-8.col-content
      h3 學重物及國這育人她眾
      .summary 也許在美國，我們擔心自己永遠找不到人生中真正想要做的是什麼，沒錯！給你的頸根與胸膛一半日的自由，同在一個神奇的宇宙裡自得。金正恩:如敵人膽敢絲毫侵犯朝鮮領海，Jeremy爆冷奪冠，陸客瘋總統府，遊民喪命地下道，父離家十多年，國銀跨國債權，台灣最新英語能力表現報告！有，混合這些，然...
      .qst
         .item 
           .desc 台灣學界人士到大陸去都在幹嘛？
           .count ( 33 )
         .item 
           .desc 如果不到美國去的話還會有什麼發展？
           .count ( 13 )
         .item 
           .desc 隔壁那一位、他真的會、發光嗎？
           .count ( 8 )
         .item 
           .count 所有子問題 &#xbb;
    .col-sm-3.col-icon-right
      i.icon-list-alt
      i.icon-road
      i.icon-book
  .row
    .col-sm-1.col-icon-left
    .col-sm-8.col-content
      .tags
        span.label.label-info 中國
        span.label.label-info 教授
        span.label.label-info 台灣
        span.label.label-info 現況分析
        span.label.label-info 出版業者
        span.label.label-info 總統
      .state
        span.like 13
        span.link
          i.glyphicon.glyphicon-link
          | 67
        span.elapsed 三分鐘前
        span.follow clkao, ipa, audreyt, jedi 及其他 103 人正在關注此分析
    .col-sm-3.col-icon-right
      i.icon-tag
  br
script.
  setMenu(2,2);
| {% endblock %}
