ul#submenu.submenu
  li: a(href="/motion/") 議案摘要
  li: a(href="/motion/analyze/") 議案分析 
    b (24)
  li: a(href="/motion/propose/") 相關提案 
    b (4)
  li: a(href="/motion/project/") 相關專案 
    b (1)
.button
  i.glyphicon.glyphicon-link
  i.glyphicon.glyphicon-list-alt
