| {% extends "layout/level2.jade" %}
| {% block menu %}
| {% include 'motion/menu.jade' %}
| {% endblock %}
| {% block roomname %}
| 會議室
| {% endblock %}
| {% block menu-icon-left %}
ul.menu.icons
  li: a: i.icon-link
  li: a: i.icon-plus
| {% endblock %}
| {% block menu-icon-right %}
ul.menu.icons
  li: a: i.icon-search
| {% endblock %}
| {% block icontent %}
#content
  .row
    .col-sm-1.col-icon-left
      i.icon-thumbs-up-alt
      .count 89
      i.icon-star-empty
      .count 167
      i.icon-link
      .count 67
    .col-sm-8.col-content
      h3 學重物及國這育人她眾
      .detail
        .item
          .head 執行者：
          .field clkao
        .item
          .head 時程：
          .field 2013/07/19 - 2013/08/10
        .item
          .head 所需資源：
          .field 五片披薩加十個阿宅
        .item
          .head 地點：
          .field 和多星際總部
      .qst
         .item 
           .desc 台灣學界人士到大陸去都在幹嘛？
           i.count ( 33 )
         .item 
           .desc 如果不到美國去的話還會有什麼發展？
           i.count ( 13 )
         .item 
           .desc 隔壁那一位、他真的會、發光嗎？
           i.count ( 8 )
         .item 
           .count 所有子問題 &#xbb;
      .state: span.follow clkao, ipa, audreyt, jedi 及其他 103 人正在關注此分析
    .col-sm-3
      .rel-list
        .item.head 此方案同時跟其他議題有關
        .item: a
          i.glyphicon.glyphicon-star
          | ECFA
        .item: a
          i.glyphicon.glyphicon-star-empty
          | FTA
        .item.head 落實此方案的專案包括
        .item: a
          i.glyphicon.glyphicon-star
          | 鄉民關心您
        .item:  a
          i.glyphicon.glyphicon-star-empty
          | 全民踹共線上民主平台
  br
script.
  setMenu(2,3);
| {% endblock %}
