| {% extends 'layout/level1.jade' %}
| {% load compressed %}
| {% block content %}
#infopanel
  .menu.menu-qa
    | {% block submenu %}
    | {% endblock %}
| {% block icontent %}
| {% endblock %}
| {% endblock %}
