| <!-- new line workaround. need this line to provide new-line-feed otherwise the includee will be drop by gulp-rev-replace.  -->

| <!-- build:css styles/vendor.css -->
| <!-- bower:css -->
| <!-- endbower -->
| <!-- endbuild -->

| <!-- new line workaround. need this line to provide new-line-feed otherwise the includee will be drop by gulp-rev-replace.  -->


