| <!-- new line workaround. need this line to provide new-line-feed otherwise the includee will be drop by gulp-rev-replace.  -->

| <!-- build:js scripts/vendor.js -->
| <script src="bower_components/angular/angular.js"></script>
| <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
| <!-- endbuild -->

| <!-- new line workaround. need this line to provide new-line-feed otherwise the includee will be drop by gulp-rev-replace.  -->


