| <!-- new line workaround. need this line to provide new-line-feed otherwise the includee will be drop by gulp-rev-replace.  -->

| <!-- build:css styles/vendor.css -->
| <link rel="stylesheet" href="bower_components/semantic-ui/build/packaged/css/semantic.css">
| <!-- endbuild -->

| <!-- new line workaround. need this line to provide new-line-feed otherwise the includee will be drop by gulp-rev-replace.  -->


